<header id="header">
    <div class="content">
        <div class="am-g">
            <div class="am-u-sm-7 nav-gator nav_Header">
                <a class="nav-logo" href="/">
                    <% if(mark === 'account') { %>
                    <img src="/static/image/logowhite.png" alt="">
                    <% } else { %>
                    <img src="/static/image/logo.png" alt="">
                    <% } %>
                </a>
                <!--添加 active-->
                <a class="nav-item" href="/">首页</a>
                <a class="nav-item" href="/order/">订单中心</a>
                <a class="nav-item" href="/activity/">平台活动</a>
                <a class="nav-item nav_about_Header" href="/about/">关于我们 <i class="am-icon-angle-down"></i></a>
                <div class="nav_dropDown_Header header-dropDown sy-center">
                    <a href="/about/">关于我们</a>
                    <a href="/about/help">帮助中心</a>
                    <a href="/about/clause">服务条款</a>
                </div>
            </div>
            <div class="am-u-sm-5 sy-right nav-login noLogin sy-hidden">
                <a class="am-btn am-btn-default sy-font-fm log" href="/login">登录</a>
                <a class="am-btn am-btn-default sy-font-fm reg" href="/register">注册</a>
            </div>
            <div class="am-u-sm-5 sy-right nav-login hasLogin sy-hidden">
                <a id="workPlat_Header" class="nav-item nav-work" href="/">工作台</a>
                <a id="receiptOrder_Header" class="nav-item nav-order off" href="javascript:void(0);">可接单</a>
                <a id="message_Header" class="nav-item nav-message" href="/personal/message">
                    消息通知<span id="messageProps_Header" class="nav-message-props sy-center">0</span>
                </a>
                <a id="personalEntry_Header" class="nav-item nav-personal" href="javascript:;">
                    个人中心<img id="headIcon_Header" src="/static/image/personal-default-head.png" alt=" ">
                </a>
                <div class="dropDown_Header header-dropDown sy-center">
                    <a href="/personal/">个人中心</a>
                    <a href="/personal/safety">账户管理</a>
                    <a href="/about/help">帮助中心</a>
                    <a id="logoutBtn" href="javascript:void(0);">退出登录</a>
                </div>
            </div>
        </div>
    </div>
</header>