<div class="contentList sy-font-md">
    <a class="sy-link" href="/income/application">申请提现</a> >
    <a class="sy-link" href="/income/application/detail">提现明细</a> >
    提现详情
</div>
<div class="contentList sy-font-md  sy-app-detail">
    <p class="sy-font-lg sy-bold">提现详情</p>
    <div class="am-g" style="margin: 4rem 0 2rem;">
        <div class="am-u-sm-6 sy-font-lg sy-bold">提现账户信息</div>
        <div class="am-u-sm-6 sy-font-lg sy-bold">提现信息</div>
    </div>
    <div class="am-g content">
        <div class="am-u-sm-6">
            <p>提现编号：11111111111</p>
            <p>姓名：11111111111</p>
            <p>提现方式：11111111111</p>
            <p>提现账户：11111111111</p>
            <p>银行名称：11111111111</p>
            <p>银行支行名称：11111111111</p>
            <p>开户银行所在省/市：11111111111</p>
        </div>
        <div class="am-u-sm-6">
            <div class="status-ing show">
                <p>收入类型：ing</p>
                <p>申请金额：ing</p>
                <p>申请日期：ing</p>
                <p>申请状态：<span class="sy-status-ing">审核中</span></p>
            </div>
            <div class="status-done">
                <p>收入类型：ing</p>
                <p>使得金额：ing</p>
                <p>申请金额：ing</p>
                <p>个税：ing</p>
                <p>手续费：ing</p>
                <p>申请日期：ing</p>
                <p>发放日期：ing</p>
                <p>申请状态：<span class="sy-status-done">已发放</span></p>
            </div>
            <div class="status-err">
                <p>收入类型：err</p>
                <p>申请金额：err</p>
                <p>申请日期：err</p>
                <p>发放日期：err</p>
                <p>申请状态：<span class="sy-status-err">发生故障</span></p>
                <p class="sy-status-err">原因备注：</p>
            </div>
        </div>
    </div>
</div>
