<link rel="stylesheet" href="/static/lib/pagination.css">
<div class="contentList sy-font-md sy-font-fm">
    <div class="am-g">
        <div class="am-u-sm-10 sy-font-lg sy-bold" style="line-height: 34px;">
            收入明细
            <span class="sy-user-detail-info">（总收入：￥25.00，可提现：￥25.00，已提现：￥25.00）</span>
        </div>
        <div class="am-u-sm-2 sy-right">
            <a role="button" class="sy-btn sy-btn-green sy-btn-sm sy-font-md" href="/income/application">申请提现</a>
        </div>
    </div>
    <div class="am-g sy-user-detail-nav am-btn-group" data-am-button>
        <label class="am-u-sm-2 am-btn sy-font-md" style="width: 11%;">
            <input type="radio" name="options" value="选项 1" checked> 任务收入
        </label>
        <label class="am-u-sm-2 am-btn sy-font-md" style="width: 11%;">
            <input type="radio" name="options" value="选项 2"> 活动收入
        </label>
        <label class="am-u-sm-8" style="width: 78%">&nbsp;</label>
    </div>
    <div class="am-btn-group sy-user-filter" data-am-button>
        <label class="am-btn sy-font-md">
            <input type="radio" name="details" value="选项 1" checked> 全部
        </label>
        <label class="am-btn sy-font-md">
            <input type="radio" name="details" value="选项 2"> 最近一个月
        </label>
        <label class="am-btn sy-font-md">
            <input type="radio" name="details" value="选项 3"> 最近三个月
        </label>
        <label class="am-btn sy-font-md">
            <input type="radio" name="details" value="选项 4"> 最近六个月
        </label>
        <label class="am-btn sy-font-md">
            <input type="radio" name="details" value="选项 5"> 最近一年
        </label>
    </div>
    <table class="am-table am-table-striped am-table-hover sy-center">
        <thead>
        <tr>
            <th>订单号</th>
            <th>语言对</th>
            <th>来源</th>
            <th>结算时间</th>
            <th>实际字数</th>
            <th>收入金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a class="sy-link sy-bold" href="">Amaze UI</a></td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
        </tr>
        <tr>
            <td><a class="sy-link sy-bold" href="">Amaze UI</a></td>
            <td>http://amazeui.org</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
            <td>2012-10-01</td>
        </tr>
        </tbody>
    </table>
    <div id="pagination" class="pagination"></div>
</div>
<script type="text/javascript" src="/static/lib/pagination.js"></script>
<script>
    // var paging = new ChPaging("#pagination", {
    //     xhr : {//与jq的ajax方法属性值相似。不同点:不能设置success回调
    //         url : '',
    //         data : ''
    //     },
    //     xhrSuccess : function(data){//ajax中的success回调
    //         return {data : data.lsit, count : data.count}
    //     },
    //     reloadPage : function(msg, data){
    //         console.log(data);
    //     }
    // })

    var data = ['测试ChPaging0','测试ChPaging1','测试ChPaging2','测试ChPaging3','测试ChPaging4','测试ChPaging5','测试ChPaging6','测试ChPaging7','测试ChPaging8','测试ChPaging9','测试ChPaging10','测试ChPaging11','测试ChPaging12','测试ChPaging13','测试ChPaging14','测试ChPaging15','测试ChPaging16','测试ChPaging17','测试ChPaging18','测试ChPaging19','测试ChPaging20','测试ChPaging21','测试ChPaging22','测试ChPaging23','测试ChPaging24','测试ChPaging25','测试ChPaging26','测试ChPaging27','测试ChPaging28','测试ChPaging29','测试ChPaging30','测试ChPaging31','测试ChPaging32','测试ChPaging33','测试ChPaging34','测试ChPaging35','测试ChPaging36','测试ChPaging37','测试ChPaging38','测试ChPaging39','测试ChPaging40','测试ChPaging41','测试ChPaging42','测试ChPaging43','测试ChPaging44','测试ChPaging45','测试ChPaging46','测试ChPaging47','测试ChPaging48','测试ChPaging49','测试ChPaging50','测试ChPaging51'];
    var demoYP2 = new ChPaging("#pagination",{
        data : data
        ,limit : 10
        ,viewOpt : [10,20,50]
        ,operationCallback : function(msg,data){
            console.log(data);
        }
    });

    //获取选中的值
    $(function() {
        var $options = $('[name="options"]'),
            $details = $('[name="details"]');
        $options.on('change',function() {
            console.log('单选框当前选中的是：', $options.filter(':checked').val());
        });
        $details.on('change',function() {
            console.log('单选框当前选中的是：', $details.filter(':checked').val());
        });
    });
</script>