<div class="contentList sy-font-md sy-font-fm">
    <div class="am-g">
        <div class="am-u-sm-10" style="line-height: 34px">
            申请提现时间：每月16-20号，申请前请仔细阅读
            <a class="sy-link" href="javascript:void(0)"
            onclick="$.toolinfo({
                title: '提现说明',
                txt: '1、可提现金额为当月1日进账的金额。 <br>' +
                 '2、收益满10元即可申请提现，但每月提取金额不得超过30,000元。 <br>' +
                 '3、提现方式：支持银行卡提现。申请提现前先进行实名认证，以确保资金顺利到账。 <br>' +
                 '4、提现时间：译员在每月16-20日申请提现，我们将在当月月底前统一发放至译员申请账户中。 <br>' +
                 '5、提现过程有任何问题，请联系客服。 <br>'
            })">提现说明</a>
        </div>
        <div class="am-u-sm-2 sy-right">
            <a role="button" class="sy-btn sy-btn-green sy-btn-sm sy-font-md" href="/income/application">申请提现</a>
        </div>
    </div>
    <div class="am-g sy-user-income sy-center">
        <div class="am-u-sm-3">
            <span class="sy-font-xxlg">￥25.00</span>
            <p>总收益</p>
        </div>
        <div class="am-u-sm-3">
            <span class="sy-font-xxlg">￥25.00</span>
            <p>可提现金额</p>
        </div>
        <div class="am-u-sm-3">
            <span class="sy-font-xxlg">￥25.00</span>
            <p>任务津贴</p>
        </div>
        <div class="am-u-sm-3">
            <span class="sy-font-xxlg">￥25.00</span>
            <p>奖励</p>
        </div>
    </div>
</div>
<div class="am-g sy-font-fm" style="margin-bottom: 1rem">
    <div class="am-u-sm-6" style="font-weight: bold">收入明细</div>
    <div class="am-u-sm-6 sy-right"><a href="/income/detail" class="sy-link sy-font-md">查看更多»</a></div>
</div>
<div class="contentList sy-font-md sy-font-fm">
    <table class="am-table am-table-striped am-table-hover sy-center">
        <thead>
        <tr>
            <th>订单号</th>
            <th>语言对</th>
            <th>来源</th>
            <th>结算时间</th>
            <th>实际字数</th>
            <th>收入金额</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Amaze UI</td>
                <td>http://amazeui.org</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
            </tr>
            <tr>
                <td>Amaze UI</td>
                <td>http://amazeui.org</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
                <td>2012-10-01</td>
            </tr>
        </tbody>
    </table>
</div>