<div class="contentList sy-font-md sy-font-fm">
    <div class="am-g">
        <div class="am-u-sm-10 sy-font-md">
            <p class="sy-bold sy-font-lg">提现设置</p>
            <p><i class="sy-orange">*</i> 汇率：显示中国银行每月1号公布的汇率</p>
            <p><i class="sy-orange">*</i> 结算币种：请选择币种 <i class="am-icon-angle-down"></i></p>
        </div>
    </div>
    <div class="am-g sy-user-withdraw-nav am-btn-group" data-am-button>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="1" checked>云账户
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="2">Paypal
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="3">支付宝
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="4">微信
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="5">国内银行
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="6">国外银行
        </label>
        <label class="am-u-sm-1 am-btn sy-font-md" style="width: 10%;">
            <input type="radio" name="options" value="7">经营所得
        </label>
        <label class="am-u-sm-6" style="width: 22%">&nbsp;</label>
    </div>
<!--云账户-->
    <div class="sy-withdrwa sy-withdrwa-1 show">
        <div class="am-g">
            <div class="am-u-sm-5">
                <label class="sm" for="">姓名：</label>
                <input type="text" placeholder="请输入姓名">
            </div>
            <div class="am-u-sm-7">
                <label class="md" for="">手机号：</label>
                <input type="text" placeholder="请输入手机号">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-5">
                <label class="sm" for="">身份证号：</label>
                <input type="text" placeholder="请输入身份证号">
            </div>
            <div class="am-u-sm-7">
                <label class="md" for="">国内银行卡号：</label>
                <input type="text" placeholder="请输入国内银行卡号">
                <select><option value="">请选择所属银行</option></select>
            </div>
        </div>
        <div class="am-g sy-right" style="margin-top: 2rem">
            <div class="am-u-sm-offset-5 am-u-sm-7">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">确 认</button>
            </div>
        </div>
    </div>
<!--Paypal-->
    <div class="sy-withdrwa sy-withdrwa-2">
        <div class="am-g">
            <div class="am-u-sm-5">
                <label class="sm" for="">账户名：</label>
                <input type="text" placeholder="请输入账户名">
            </div>
            <div class="am-u-sm-5">
                <label class="sm" for="">账号：</label>
                <input type="text" placeholder="请输入账号">
            </div>
            <div class="am-u-sm-2">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>账户名</th>
                <th>账号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Amaze UI</td>
                <td>http://amazeui.org</td>
                <td><a class="sy-delete" href="">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--支付宝-->
    <div class="sy-withdrwa sy-withdrwa-3">
        <div class="am-g">
            <div class="am-u-sm-5">
                <label class="sm" for="">账户名：</label>
                <input type="text" placeholder="请输入账户名">
            </div>
            <div class="am-u-sm-5">
                <label class="sm" for="">账号：</label>
                <input type="text" placeholder="请输入账号">
            </div>
            <div class="am-u-sm-2">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>账户名</th>
                <th>账号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<!--微信-->
    <div class="sy-withdrwa sy-withdrwa-4">
        <div class="am-g">
            <div class="am-u-sm-5">
                <label class="sm" for="">账户名：</label>
                <input type="text" placeholder="请输入账户名">
            </div>
            <div class="am-u-sm-5">
                <label class="sm" for="">账号：</label>
                <input type="text" placeholder="请输入账号">
            </div>
            <div class="am-u-sm-2">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>账户名</th>
                <th>账号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<!--国内银行-->
    <div class="sy-withdrwa sy-withdrwa-5">
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">证件类型：</label>
                <select class="sy-sel-default"><option value="">请选择证件类型</option></select>
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">证件号：</label>
                <input type="text" placeholder="请输入证件号">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">开户人姓名：</label>
                <input type="text" placeholder="请输入开户人姓名">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">银行账号：</label>
                <input type="text" placeholder="请输入银行账号">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">银行名称：</label>
                <input type="text" placeholder="请输入银行名称">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">银行支行名称：</label>
                <input type="text" placeholder="请输入银行支行名称">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">开户银行支行所在省：</label>
                <input type="text" placeholder="请输入开户银行支行所在省">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">开户银行支行所在市：</label>
                <input type="text" placeholder="请输入开户银行支行所在市">
            </div>
        </div>
        <div class="am-g sy-right" style="margin-top: 1rem">
            <div class="am-u-sm-offset-6 am-u-sm-6" style="padding-right: 55px">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>开户人姓名</th>
                <th>银行账号</th>
                <th>证件号</th>
                <th>银行名称</th>
                <th>银行支行名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<!--国外银行-->
    <div class="sy-withdrwa sy-withdrwa-6">
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">账户名：</label>
                <input type="text" placeholder="请输入账户名">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">国家：</label>
                <input type="text" placeholder="请输入国家">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">住址：</label>
                <input type="text" placeholder="请输入住址">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">BIC：</label>
                <input type="text" placeholder="请输入BIC">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">IBAN：</label>
                <input type="text" placeholder="请输入IBAN">
            </div>
        </div>
        <div class="am-g sy-right" style="margin-top: 1rem">
            <div class="am-u-sm-offset-6 am-u-sm-6" style="padding-right: 55px">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>账户</th>
                <th>国家</th>
                <th>住址</th>
                <th>BIC</th>
                <th>IBAN</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
<!--经营所得-->
    <div class="sy-withdrwa sy-withdrwa-7">
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">证件类型：</label>
                <select class="sy-sel-default"><option value="">请选择证件类型</option></select>
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">证件号：</label>
                <input type="text" placeholder="请输入证件号">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">开户人姓名：</label>
                <input type="text" placeholder="请输入开户人姓名">
            </div>
            <div class="am-u-sm-6">
                <label class="lg" for="">银行账号：</label>
                <input type="text" placeholder="请输入银行账号">
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-6">
                <label class="lg" for="">手机号：</label>
                <input type="text" placeholder="请输入手机号">
            </div>
        </div>
        <div class="am-g sy-right" style="margin-top: 1rem">
            <div class="am-u-sm-offset-6 am-u-sm-6" style="padding-right: 55px">
                <button class="sy-btn sy-btn-md sy-btn-blue-white">添 加</button>
            </div>
        </div>
        <table class="am-table am-table-striped am-table-hover sy-center" style="margin-top: 1rem">
            <thead>
            <tr>
                <th>开户人姓名</th>
                <th>银行账号</th>
                <th>证件号</th>
                <th>手机号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    //获取选中的值
    $(function() {
        var $options = $('[name="options"]');
        $options.on('change',function() {
            var val = $options.filter(':checked').val();
            $('.sy-withdrwa-'+ val)
                .addClass('show')
                .siblings('.sy-withdrwa')
                .removeClass('show');
        });
    });
</script>