<!DOCTYPE html>
<html lang="cn" dir="ltr" class=" js no-touch cssanimations cssgradients csstransforms csstransforms3d csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="pinterest" content="nopin">
    <title><%= title %></title>
    <meta name="description" content="Thoughts, stories and ideas.">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="404">
    <style>
        div.error{text-align: center}
        h3{padding: 2rem 0;font-weight: normal}
        a{display: inline-block;padding: .7em 2em;text-decoration: none;font-size: 14px;color: #fff;background: #41cca6;border: 1px solid #41cca6;border-radius: 4px;}
        a:hover{opacity: .8;}
    </style>
</head>
<body>
    <div class="error">
        <img src="/static/image/404.png" alt="404">
        <h3><a href="/">返回首页</a></h3>
    </div>
</body>
</html>