<footer id="footer" class="footer">
    <div class="content">
        <div class="am-g nav">
            <div class="am-u-md-2">
                <img src="/static/image/logowhite.png" style="width: auto;height: auto" alt="">
            </div>
            <div class="am-u-md-3">
                <div class="item"><a href="/about/">关于我们</a></div>
                <div class="item"><a href="/about/help">帮助中心</a></div>
                <div class="item"><a href="/about/clause">服务条款</a></div>
            </div>
            <div class="am-u-md-5">
                <div class="item">译员招募热线：028-63916396</div>
                <div class="item">译员招聘QQ：3001824658</div>
                <div class="item">公司地址：成都市高新区天府大道1288号泰达时代中心1号楼5楼</div>
            </div>
            <div class="am-u-md-2 sy-right">
                <img src="/static/image/gongzhonghao.jpg" alt="啄语">
            </div>
        </div>
        <div class="am-g bah">
            <div class="am-u-md-4">
                数译（成都）信息技术有限公司 版权所有 2019<%= new Date().getFullYear() > 2019 ? ' - '+ new Date().getFullYear() : '' %>
            </div>
            <div class="am-u-md-4 sy-center">
                <a href="http://www.dtranx.com/" target="_blank" rel="nofollow">www.dtranx.com</a>
            </div>
            <div class="am-u-md-4 sy-right">
                <a href="">备案号 1234567890</a>
            </div>
        </div>
    </div>
</footer>