<footer id="footer" style="padding: 10px 0;color: #888;background: #fff;">
    <div class="content sy-font-md sy-center">
        数译科技 版权所有 2019<%= new Date().getFullYear() > 2019 ? ' - '+ new Date().getFullYear() : '' %>
    </div>
</footer>