<header id="header">
    <div class="content">
        <div class="am-g">
            <div class="am-u-sm-6">
                <span class="sy-rz sy-font-fm sy-font-lg">您还未实名认证，<a href="">马上认证</a></span>
            </div>
            <div class="am-u-sm-6 sy-right sy-user-opr">


            </div>
        </div>
    </div>
</header>