<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="https://www.github.com/244396012">
    <meta rel="me" href="mailto:244396012@qq.com">
    <meta rel="me" href="tel:13980476439">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="用户中心, 个人中心, 项目管理, 收益管理">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<div class="wrapper">
<% include header-u.ejs %>
<section id="content">
    <div class="content" style="overflow: auto">
        <aside id="menuList">
            <div class="sy-user-info sy-font-sm">
                <img id="headImg" src="/static/image/head.png" alt="个人头像">
                <p id="headName">韩梅梅</p>
                <p id="headLevel">
                    <span class="sy-user-rz sy-user-rz-no">未认证</span>
                    <!--<span class="sy-user-rz sy-user-rz-yes">已认证</span> 初级-->
                </p>
                <p id="headLan">英语-简体中文</p>
            </div>
            <ul class="sy-user-menu">
                <!--li 添加class：active-->
                <li class="sy-user-title"><a href="/personal">个人中心</a></li>
                <li><a href="/personal">基本信息</a></li>
                <li><a href="/personal">能力测评</a></li>
                <li><a href="/personal">接单设置</a></li>
                <li><a href="/personal">修改密码</a></li>
                <li class="sy-user-title"><a href="/project">项目管理</a></li>
                <li><a href="/project">我的订单</a></li>
                <li><a href="/project">我的团队</a></li>
                <li class="sy-user-title"><a href="/income">收益管理</a></li>
                <li><a href="/income/detail">收入明细</a></li>
                <li><a href="/income/withdraw">提现设置</a></li>
                <li><a href="/income/application">申请提现</a></li>
            </ul>
        </aside>
        <section id="contentList">
            <%- body %>
        </section>
    </div>
</section>
<% include footer-u.ejs %>
</div>
</body>
<script type="text/javascript" src="/static/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/lib/amazeui.min.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript" src="/js/webservice.js"></script>
<script>
var path = location.pathname;
var hrefs = $('.sy-user-menu a');
hrefs.toArray().forEach(function(item) {
    var href = $(item).attr('href');
    if(path.indexOf(href)>-1 && href !== '/personal' && href !== '/project' && href !== '/income'){
        $(item).parent().addClass('active');
    }else if(path === href){
        $(item).parent().addClass('active');
    }
})
</script>
<%- script %>
</html>
