@charset "UTF-8";
.dict-bg {
  width: 100%;
  height: 200px;
  background-image: url("/static/image/dict-default-bg.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .dict-bg .content-fasten {
    height: inherit;
    position: relative; }
  .dict-bg .dict-tt {
    position: absolute;
    right: 0;
    margin: 0;
    color: #fff; }
  .dict-bg .dict-en {
    bottom: 65px;
    font-size: 14px;
    letter-spacing: 1px; }
  .dict-bg .dict-zh {
    bottom: 30px;
    font-size: 24px;
    font-weight: 100; }

.dict-page {
  padding-bottom: 50px; }
  .dict-page .content-fasten .dict-hot {
    padding: 12px 0;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px; }
  .dict-page .content-fasten .hot-list {
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #ccc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .dict-page .content-fasten .hot-list a.item {
      position: relative;
      width: 20%;
      padding: 10px 0;
      text-align: center;
      color: #333; }
      .dict-page .content-fasten .hot-list a.item:hover {
        color: #ffd33a; }
      .dict-page .content-fasten .hot-list a.item:after {
        position: absolute;
        right: 0;
        top: 17px;
        content: '';
        width: 1px;
        height: 8px;
        background-color: #ccc; }
    .dict-page .content-fasten .hot-list a.item:last-child:after,
    .dict-page .content-fasten .hot-list a.item:nth-child(5n):after {
      width: 0;
      height: 0; }

.searchBox {
  text-align: center; }
  .searchBox .search-text {
    margin: 0 -5px;
    border-color: #ccc; }

.content-list {
  width: 950px;
  padding-right: 30px;
  border-right: none; }

.content-ad {
  width: 250px;
  padding-left: 30px;
  padding-top: 70px;
  text-align: right; }

/*
*  词典搜索
*/
.dict-quick-search .content-fasten {
  width: 1100px; }

.dict-quick-search .searchBox {
  margin: 70px 0; }

.dict-quick-search .content-list {
  width: 760px;
  padding-right: 15px; }

.dict-quick-search .content-ad {
  width: 340px;
  padding-left: 120px; }

/*
 * 非词典搜索
 */
.dict-search .content-list {
  position: relative;
  margin-top: 70px; }

.dict-search .searchBox {
  position: absolute;
  z-index: 10;
  left: 105px;
  top: -150px; }

.dict-search .search-cnt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: -30px; }
  .dict-search .search-cnt .nav-fixed {
    position: fixed !important;
    top: 5px; }
  .dict-search .search-cnt .cnt-mgl {
    margin-left: 220px; }
  .dict-search .search-cnt .nav {
    position: relative;
    width: 220px;
    font-size: 18px; }
    .dict-search .search-cnt .nav p {
      margin-bottom: 0;
      padding-bottom: 8px;
      color: #000;
      border-bottom: 1px solid #000;
      letter-spacing: 10px;
      text-align: center; }
    .dict-search .search-cnt .nav .nav-box {
      width: 140px;
      list-style: none;
      padding: 10px 0;
      margin: 0;
      margin-left: 45px; }
      .dict-search .search-cnt .nav .nav-box li {
        padding: 10px 0;
        position: relative; }
        .dict-search .search-cnt .nav .nav-box li:after {
          content: '';
          height: 56px;
          width: 1px;
          position: absolute;
          z-index: -1;
          top: -10px;
          left: 10px;
          background-color: #ccc; }
        .dict-search .search-cnt .nav .nav-box li.active a {
          background-color: #FFD33A;
          color: #000; }
    .dict-search .search-cnt .nav a {
      display: block;
      height: 36px;
      line-height: 36px;
      padding-left: 30px;
      font-size: 16px;
      letter-spacing: 3px;
      color: #666; }
      .dict-search .search-cnt .nav a:hover {
        background-color: #FFD33A;
        color: #000; }
  .dict-search .search-cnt .cnt {
    width: -webkit-calc(100% - 220px);
    width: -moz-calc(100% - 220px);
    width: calc(100% - 220px);
    padding-left: 20px;
    color: #000; }
    .dict-search .search-cnt .cnt .cnt-bg {
      background-color: #EEE;
      border: 1px solid #ccc;
      padding: 10px 20px 5px;
      margin-bottom: 10px; }
      .dict-search .search-cnt .cnt .cnt-bg.no-result {
        height: 150px;
        line-height: 150px;
        padding-left: 75px;
        font-size: 16px;
        color: #00ADFE; }
        .dict-search .search-cnt .cnt .cnt-bg.no-result a {
          font-size: 16px; }
      .dict-search .search-cnt .cnt .cnt-bg p {
        padding: 0;
        font-size: 24px; }
      .dict-search .search-cnt .cnt .cnt-bg div {
        margin-bottom: 5px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        font-weight: 500; }
      .dict-search .search-cnt .cnt .cnt-bg a {
        font-size: 12px;
        color: #01ADFF; }
        .dict-search .search-cnt .cnt .cnt-bg a:hover {
          opacity: .8; }
    .dict-search .search-cnt .cnt .am-panel-default {
      border-color: #ccc;
      margin-bottom: 10px; }
    .dict-search .search-cnt .cnt .am-panel-title {
      padding: 4px 0 10px;
      font-size: 16px;
      font-weight: normal;
      color: #000;
      letter-spacing: 2px;
      border-bottom: 1px solid #ccc;
      position: relative; }
      .dict-search .search-cnt .cnt .am-panel-title:after, .dict-search .search-cnt .cnt .am-panel-title.am-collapsed:after {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        color: #888;
        font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
        font-size: 18px;
        text-rendering: auto;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
      .dict-search .search-cnt .cnt .am-panel-title:after {
        content: "\F107"; }
      .dict-search .search-cnt .cnt .am-panel-title.am-collapsed:after {
        content: "\F106"; }
    .dict-search .search-cnt .cnt .am-panel-default > .am-panel-hd {
      background-color: #fff;
      padding-bottom: 20px; }
    .dict-search .search-cnt .cnt .am-panel-group .am-panel-hd + .am-panel-collapse .am-panel-bd {
      border-top: none; }
    .dict-search .search-cnt .cnt .am-panel-bd {
      list-style: none;
      padding: 0;
      padding-right: 20px;
      padding-left: 34px;
      margin-bottom: 0; }
      .dict-search .search-cnt .cnt .am-panel-bd li {
        list-style-type: decimal;
        font-size: 14px;
        padding-left: 3px;
        padding-bottom: 20px; }
        .dict-search .search-cnt .cnt .am-panel-bd li span {
          font-size: 16px; }
        .dict-search .search-cnt .cnt .am-panel-bd li p {
          margin: 0;
          padding: 0; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike span {
        display: inline-block;
        width: 45%;
        border-bottom: 2px solid transparent; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike p {
        margin: 12px 0; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike div {
        text-align: right; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike a {
        color: #000;
        text-decoration: underline; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike li:hover span {
        border-bottom-color: #FFD33A; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-baike li:hover a {
        color: #01ADFF; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-term-fixed {
        padding-left: 20px; }
        .dict-search .search-cnt .cnt .am-panel-bd.item-term-fixed .am-table > thead > tr > th {
          border-bottom: 1px solid #666; }
      .dict-search .search-cnt .cnt .am-panel-bd.item-scroll {
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 20px; }
        .dict-search .search-cnt .cnt .am-panel-bd.item-scroll > span {
          display: block;
          margin-top: 8px;
          font-size: 12px;
          color: #888;
          letter-spacing: 2px; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table {
        border-collapse: collapse;
        font-size: 14px;
        color: #000; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > thead > tr > th {
        border-bottom: none;
        background-color: #ccc;
        font-weight: 500;
        letter-spacing: 10px; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr > td,
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > thead > tr > th {
        width: 33.33%;
        border: 1px solid #666;
        vertical-align: middle; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr:hover {
        color: #FFD33A; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.active {
        color: #000;
        background-color: #FFD33A; }
      .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail {
        color: #000; }
        .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail td {
          text-align: left; }
        .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail p {
          margin: 0; }
          .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail p:nth-child(2) {
            margin-top: 8px;
            text-align: right; }
        .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail a {
          display: inline-block;
          width: 78px;
          height: 24px;
          line-height: 22px;
          border: 1px solid #777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-align: center;
          color: #000;
          font-size: 12px; }
          .dict-search .search-cnt .cnt .am-panel-bd .am-table > tbody > tr.detail a:hover {
            color: #02ADFD;
            border-color: #02ADFD; }

.dict-search .detail .detail-title,
.dict-search .detail .detail-cnt {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 0 30px; }

.dict-search .detail .detail-title {
  background-color: #eee; }
  .dict-search .detail .detail-title p {
    margin: 0;
    padding: 0; }
  .dict-search .detail .detail-title p:nth-child(1) {
    line-height: 50px;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #ccc; }
  .dict-search .detail .detail-title p:nth-child(2) {
    height: 54px;
    line-height: 54px;
    color: #666; }
    .dict-search .detail .detail-title p:nth-child(2) span {
      display: inline-block; }
      .dict-search .detail .detail-title p:nth-child(2) span.origin {
        font-size: 14px; }
        .dict-search .detail .detail-title p:nth-child(2) span.origin img {
          margin-right: 8px;
          vertical-align: -10px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
      .dict-search .detail .detail-title p:nth-child(2) span.time {
        font-size: 12px;
        float: right; }

.dict-search .detail .detail-cnt {
  padding-top: 15px;
  padding-bottom: 15px; }
