<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/dict.css">
<link rel="stylesheet" href="/static/lib/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="/static/lib/jquery.mCustomScrollbar.extra.css">
<div class="dict-bg dict-search">
    <div class="content-fasten">
        <p class="dict-tt dict-en"></p>
        <p class="dict-tt dict-zh"></p>
    </div>
</div>
<div class="dict-page dict-search">
    <div class="content-fasten clearFloat">
        <div class="content-list">
            <div class="searchBox">
                <div class="search-box">
                    <select data-am-selected="{btnWidth: '120px', maxHeight: '180px', btnSize: 'sm', btnStyle: 'secondary'}">
                    </select>
                    <input id="searchTxt" class="search-text" type="text" autocomplete="off">
                    <button id="searchBtn" class="am-btn am-btn-default search-btn">搜索</button>
                </div>
            </div>
            <div class="search-cnt">
                <div id="navWrap" class="nav">
                    <p>目录</p>
                    <ul id="navBox" class="nav-box">
                        <li class="active"><a href="#nav-tb">术语</a></li>
                        <li><a href="#nav-sy">释义</a></li>
                        <li><a href="#nav-bk">译文百科</a></li>
                        <li><a href="#nav-xg">相关术语</a></li>
                    </ul>
                </div>
                <div id="cntWrap" class="cnt">
                    <div class="am-panel-group">
                        <div id="noResult" class="cnt-bg no-result hide">
                            未搜索到术语？
                            <a href="http://www.lan-bridge.com/" target="_blank" rel="nofollow">尝试人工翻译 >></a>
                        </div>
                        <div id="nav-tb" data-hidden class="cnt-bg">
                            <p class="termName">--</p>
                            <div class="termCnt">
                                译文： <span>--</span>
                            </div>
                            <a href="http://www.lan-bridge.com/" target="_blank" rel="nofollow">专业文件，人工在线翻译 >></a>
                        </div>
                        <div id="nav-sy" data-hidden class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#cnt-item-2'}">释义：</h4>
                            </div>
                            <div id="cnt-item-2" class="am-panel-collapse am-collapse am-in">
                                <ul class="am-panel-bd item-trans">
                                </ul>
                            </div>
                        </div>
                        <div id="nav-bk" data-hidden class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#cnt-item-3'}">译文百科：</h4>
                            </div>
                            <div id="cnt-item-3" class="am-panel-collapse am-collapse am-in">
                                <ul class="am-panel-bd item-baike">

                                </ul>
                            </div>
                        </div>
                        <div id="nav-xg" class="am-panel am-panel-default">
                            <div class="am-panel-hd">
                                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#cnt-item-4'}">相关术语：</h4>
                            </div>
                            <div id="cnt-item-4" class="am-panel-collapse am-collapse am-in">
                                <div class="am-panel-bd item-term item-term-fixed">
                                    <table class="am-table am-table-bordered am-table-centered" style="margin-bottom: -1px">
                                        <thead>
                                        <tr>
                                            <th>术语</th>
                                            <th>译文</th>
                                            <th>领域</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="am-panel-bd item-term item-scroll">
                                    <div class="scroller" style="height: 50px;max-height: 248px;">
                                        <table id="termBox" class="am-table am-table-bordered am-table-centered" style="margin-bottom: 0">
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                    <span id="termTotal">共0条相关</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-ad">

        </div>
    </div>
</div>
<script src="/static/lib/jquery.mCustomScrollbar.js"></script>
<script rel="server">
    const dictTitle = {
        en: __tool__.queryParam('dictEn'),
        zh: __tool__.queryParam('dictZh'),
        wd: __tool__.queryParam('wd'),
        lan: __tool__.queryParam('lan')
    }
    if(dictTitle.zh){
        document.title = '专业词典-'+dictTitle.zh;
        $('.dict-en').text(dictTitle.en.toUpperCase());
        $('.dict-zh').text(dictTitle.zh);
    }

    $(document).ready(function () {

        $('.termName').html(dictTitle.wd);
        $('#searchTxt').val(dictTitle.wd);

        __searchDict__.getDictBg();
        __searchDict__.searchTb({
            word: dictTitle.wd,
            searchDictName: dictTitle.zh,
            sourceCode: dictTitle.lan.split(',')[0],
            targetCode: dictTitle.lan.split(',')[1]
        }).then(res => {
            let isChinese = false;
            if(res[0].searchKey){
                const reg = new RegExp("[\u4E00-\u9FA5]+");
                if(reg.test(res[0].searchKey)){
                    isChinese = true;
                }
                isChinese
                    ? __searchDict__.searchWeiji(dictTitle.wd, res)
                    : __searchDict__.searchBaidu(dictTitle.wd, res)
            }
        }).catch(() => {
            $('div#noResult').removeClass('hide');
            $('div[data-hidden]').addClass('hide');
        });
        __searchDict__.searchAbout({
            word: dictTitle.wd,
            searchDictName: dictTitle.zh,
            sourceCode: dictTitle.lan.split(',')[0],
            targetCode: dictTitle.lan.split(',')[1]
        })
    })
</script>
<script rel="fn">
    $(document).ready(function () {
        $(".scroller").mCustomScrollbar({
            mouseWheelPixels: 50,
            scrollInertia: 0
        });

        //目录切换active
        $('#navBox').on('click',function (e) {
            const li = $(e.target).parent('li');
            li.addClass('active').siblings().removeClass('active');
        });

        //点击术语row，展示详情信息
        $('#termBox').on('click',function (e) {
            const tr = $(e.target).parents('tr');
            if(!tr.hasClass('detail')){
                tr.addClass('active').siblings('.detail').remove();
                tr.addClass('active').siblings().removeClass('active');
                tr.after(`
                        <tr class="detail"><td colspan="3">
                            <p>释义：${tr.attr('data-tips')?tr.attr('data-tips'):'无'}</p>
                        </td></tr>
                    `);
            }
        });

        //滚动到相应位置，fixed目录，并且锚点定位滚动条位置
        $(window).on('scroll',function () {
            const cntBox = $('#cntWrap');
            const navBox = $('#navWrap');
            const offTop = cntBox.offset().top;
            const sclTop = $(this).scrollTop();
            if(sclTop > offTop){
                navBox.addClass('nav-fixed');
                cntBox.addClass('cnt-mgl');
            }else{
                navBox.removeClass('nav-fixed');
                cntBox.removeClass('cnt-mgl');
            }
        });
    })
</script>