<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/dict.css">
<div class="dict-bg dict-search">
    <div class="content-fasten"></div>
</div>
<div class="dict-page dict-search">
    <div class="content-fasten clearFloat">
        <div class="content-list" style="border-right: 1px solid #dedede;">
            <div class="searchBox">
                <div class="search-box">
                    <select data-am-selected="{btnWidth: '120px', maxHeight: '180px', btnSize: 'sm', btnStyle: 'secondary'}">
                    </select>
                    <input id="searchTxt" class="search-text" type="text" autocomplete="off">
                    <button id="searchBtn" class="am-btn am-btn-default search-btn">搜索</button>
                </div>
            </div>
            <div class="detail">
                <div class="detail-title">
                    <p id="title">这是标题</p>
                    <p>
                        <span class="origin">
                            <img src="/static/image/favicon.png" alt="404">
                            知识说官方</span>
                        <span id="time" class="time">2000-01-01 9:00</span>
                    </p>
                </div>
                <div id="detail-cnt" class="detail-cnt">
                    这是内容
                </div>
            </div>
        </div>
        <div class="content-ad">

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //获取文章详情
        (function () {
            const domain = __api__.dict;
            const id = __tool__.queryParam('id');
            $.ajax({
                type: 'GET',
                url: domain + '/article/detail',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (res) {
                    if(res.message === 'success'){
                        const { data } = res;
                        $('#title').html(data.title);
                        $('#time').html(data.pubTime);
                        $('#detail-cnt').html(data.contentHtml);
                    }
                }
            });
        })();
    });
</script>