html,body{
  background-color: #FCFCFC;
}
#header{
  height: 60px;
  line-height: 60px;
  background-color: #41cca6;
  .sy-rz{
    color: #fff;
    a{
      color: #F1562A;
      text-decoration: underline;
      &:hover{
        opacity: .8;
      }
    }
  }
  .sy-user-opr{

  }
}

#menuList,#contentList{
  float: left;
  margin: 20px 0;
}

#menuList{
  width: 178px;
  padding: 20px;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  .sy-user-info{
    text-align: center;
    img{
      width: 80px;
      height: 80px;
      border-radius: 100%;
    }
    p{
      margin: 0;
      margin-top: 5px;
    }
    .sy-user-rz{
      display: inline-block;
      padding: 1px 10px;
      color: #FFFFFF;
      border-radius: 10px;
    }
    .sy-user-rz-yes{
      background-color: #41cca6;
    }
    .sy-user-rz-no{
      background-color: #aaa;
    }
  }
  .sy-user-menu{
    padding: 0;
    margin-top: 2.5rem;
    list-style: none;
    li{
      line-height: 36px;
      text-indent: 3.5rem;
    }
    a{
      display: block;
      font-size: 14px;
      color: #333;
      &:hover{
        color: #41cca6;
      }
    }
    li.sy-user-title{
      font-weight: 700;
      text-indent: 2rem;
    }
    li.active a{color: #41cca6}
  }
}

#contentList{
  width: 1000px;
  .contentList{
    margin-bottom: 24px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    .sy-user-income{
      margin: 3.5rem 0 2rem;
      .am-u-sm-3{
        border-right: 1px dashed #eee;
      }
      .am-u-sm-3:last-of-type{
        border: none;
      }
      p{
        margin: 0;
        margin-top: 6px;
      }
    }
    tr:hover td{
      background-color: #FFFFDD!important;
    }
    th{
      background-color: #EEEEEE;
      font-weight: normal;
    }
    th,td{
      padding: 12px 0;
      text-align: center;
      border: none;
    }
    .sy-user-detail-info{
      color: #F1562A;
    }
    .sy-user-filter{
      width: 100%;
      margin: 2rem 0;
      .am-btn{
        &:hover{
          background-color: #eee;
        }
        &:first-of-type{
          padding: .5rem 2rem;
        }
      }
      .am-active{
        background-color: #41cca6!important;
        color: #FFF;
        box-shadow: none;
      }
      select{
        border: none;
        outline: none;
        height: 31px;
        line-height: 31px;
        margin-left: 1rem;
      }
      .search-right{
        float: right;
        input{
          width: 200px;
          height: 30px;
          line-height: 30px;
          border-radius: 2px;
          outline: none;
          border: 1px solid #ccc;
          padding: 0 5px;
          &:focus{
            border-color: #1592AC;
          }
        }
        button{
          border-radius: 2px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
    .sy-user-withdraw-nav,
    .sy-user-detail-nav{
      margin: 2rem 0 .5rem;
      border-bottom: 1px solid #AFACA3;
      label{
        float: left;
        color: #333;
        &:active{
          box-shadow: none;
        }
        &.am-active{
          box-shadow: none;
        }
      }
    }
    .sy-user-detail-nav{
      label{
        &.am-u-sm-2{
          padding-bottom: 10px;
        }
        &.am-active{
          color: #36a1b8;
          border-bottom: 2px solid #36a1b8;
        }
      }
    }
    .sy-user-withdraw-nav{
      margin:1rem 0 1rem;
      border-bottom: 2px solid #1592AC;
      label{
        margin-right: 1%;
        border-radius: 5px 5px 0 0;
        &.am-u-sm-1{
          color: #1592AC;
          background-color: #EBEBEB;
        }
        &.am-active{
          color: #FFF;
          background-color: #1592AC;
        }
        &.am-btn{
          padding: .7em 1em;
        }
        &:hover{
          opacity: .8;
        }
      }
    }
    .sy-withdrwa.show{
      display: block;
    }
    .sy-withdrwa{
      display: none;
      padding: 2rem 0 1.5rem;
      .am-g>div{
        padding-bottom: 15px;
      }
      label{
        display: inline-block;
        text-align: right;
        &.sm{
          width: 80px;
        }
        &.md{
          width: 110px;
        }
        &.lg{
          width: 150px;
        }
      }
      select,input{
        height: 32px;
        line-height: 32px;
        padding: 0 5px;
        border-radius: 3px;
        outline: none;
      }
      select{
        width: 150px;
        border: 1px solid #bfbfbf;
        padding: 0 5px;
      }
      select.sy-sel-default{
        width: 250px;
      }
      input{
        width: 250px;
        border: 1px solid #bfbfbf;
        &:focus{
          border-color: #36a1b8;
        }
        &.sy-put-sm{
          width: 200px;
        }
      }
      .tip{
        color: #999;
      }
    }
  }
  .sy-app-detail{
    p{
      margin: 0;
      margin-bottom: .7rem;
    }
    .am-u-sm-6:first-of-type{
      padding-left: 4rem;
    }
    .am-u-sm-6:last-of-type{
      padding-left: 13rem;
    }
    .content{
      .am-u-sm-6:first-of-type{
        border-right: 1px dashed #ccc;
      }
      .am-u-sm-6>div{
        display: none;
      }
      .am-u-sm-6>div.show{
        display: block;
      }
    }
  }
}
.am-table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #fff;
}
.am-table-striped>tbody>tr:nth-child(even)>td{
  background-color: #f9f9f9;
}
