<% include skill_nav.ejs %>
<div class="personal skill">
    <div class="resource">
        <!--信息展示-->
        <div class="show-info sy-hidden">
            <div class="am-u-lg-12">
            <span class="editLabel edit sy-float-r">
                <i class="sy-personal-icon sy-personal-icon-edit"></i>编辑
            </span>
            </div>
            <div class="am-u-lg-12 labels">
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md" style="width: 770px">
                    <thead>
                    <tr><th>服务地区</th><th>搭建</th><th>设备数量</th><th>设备单价</th><th>单位</th></tr>
                    </thead>
                    <tbody class="deviceTarget"></tbody>
                </table>
            </div>
            <div class="am-u-lg-12 labels">
                <div>备注：</div>
                <div class="sy-font-md">
                    这是备注这是备注这是备注这是备注
                </div>
            </div>
        </div>
        <!--提交、修改信息表单-->
        <form class="add-form" action="#">
            <div class="am-u-lg-12">服务地区：</div>
            <div class="am-u-lg-12 labels select" prop="服务地区">
                <select class="area-control" name="deliverprovince" id="deliverprovince"></select>
                <select class="area-control" name="delivercity" id="delivercity"></select>
                <select class="area-control" name="deliverarea" id="deliverarea"></select>
            </div>
            <div class="am-u-lg-12">搭建项：</div>
            <div class="am-u-lg-12 labels select" prop="搭建项">
                <div class="label-item">
                    <select class="device">
                        <option value="">请选择搭建项</option>
                        <option value="投影机">投影机</option>
                        <option value="投影幕">投影幕</option>
                        <option value="电视机">电视机</option>
                        <option value="LED设备">LED设备</option>
                        <option value="灯光设备">灯光设备</option>
                        <option value="会场搭建">会场搭建</option>
                        <option value="签到系统">签到系统</option>
                        <option value="印刷产品">印刷产品</option>
                        <option value="礼品">礼品</option>
                        <option value="摄影摄像">摄影摄像</option>
                    </select>
                    <input class="device-num" type="number" placeholder="请输入设备数量">
                    <input class="device-price" type="number" placeholder="请输入设备单价">
                    <select class="device-unit">
                        <option value="/天/套">/天/套</option>
                    </select>
                    <button type="button" class="sy-btn sy-btn-sm sy-btn-green addDevice">添加设备</button>
                </div>
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md" style="width: 770px">
                    <thead>
                    <tr><th>服务地区</th><th>搭建</th><th>设备数量</th><th>设备单价</th><th>单位</th><th>操作</th></tr>
                    </thead>
                    <tbody class="deviceTarget"></tbody>
                </table>
            </div>
            <div class="am-u-lg-12">备注：</div>
            <div class="am-u-lg-12 labels select" prop="备注">
                <textarea placeholder="请输入相关备注"></textarea>
            </div>
            <div class="am-u-lg-12 sy-btns sy-font-md">
                <button class="btn btn-default sy-btn sy-btn-default sy-btn-md cancelBtn">取 消</button>
                <button class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn">提 交</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/lib/area.js"></script>
<script>
    (function () {

        new PCAS("deliverprovince", "delivercity", "deliverarea");

    }());
</script>