<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="https://www.github.com/244396012">
    <meta rel="me" href="mailto:244396012@qq.com">
    <meta rel="me" href="tel:13980476439">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="服务协议">
    <meta name="description" content="服务协议">
    <title>服务协议</title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prev.css">
    <style>
        #header{height: auto;background: #41cca6;border-radius: 0;}
        #content{transform: none;padding: 40px 0;margin-top: auto}
        #content h3{margin-bottom: 25px;font-weight: 700;}
        ol{list-style-type: decimal;margin-bottom: 25px;}
    </style>
</head>
<body>
<div class="wrapper">
    <header id="header">
        <div class="content">
            <div class="row">
                <div class="col-xs-6">logo</div>
            </div>
        </div>
    </header>
    <section id="content" style="position: relative">
        <div class="content">
            <h3 class="sy-font-lg sy-font-fm" style="text-align: center">服务协议</h3>
            <ol>
                <li>1111111111111111111111111111</li>
                <li>11111111111111</li>
                <li>11111111111111</li>
                <li>11111111111111</li>
            </ol>
            <div style="width: 100px;margin: 0 auto;">
                <a class="sy-btn sy-btn-default" role="button" style="background-color: #41cca6;color: #fff;font-size: 14px;"
                onclick="window.close();">关 闭</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>