<!DOCTYPE html>
<html lang="cn" dir="ltr" class=" js no-touch cssanimations cssgradients csstransforms csstransforms3d csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="pinterest" content="nopin">
    <title><%= title %></title>
    <meta name="description" content="Thoughts, stories and ideas.">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="500">
    <style>
        *{padding: 0;margin: 0}
        html,body{width: 100%;height: 100%;}
        .error{width: inherit;height: 100%;text-align: center}
        h3{padding: 2rem 0;font-weight: normal}
        a{text-decoration: none;display: inline-block;padding: .4em 4em}
        a:hover{background: #0aaaee}
        a{color: #fff;background: #0a8ddf;border: 1px solid #ccc;}
    </style>
</head>
<body>
<div class="error">
    <img src="/static/image/500.png" alt="500">
    <h3><a href="/">返回首页</a></h3>
</div>
</body>
</html>