<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="244396012@qq.com">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css">
    <script type="text/javascript" src="/static/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap.min.js"></script>
</head>
<body>
<% include header.ejs %>
<div class="content" style="height: 100px;color: red">
<%- body %>
</div>
<% include footer.ejs %>
</body>
</html>

