<header class="header">
    <div class="hd-item hd-logo">
        <a href="/" rel="index"><img src="/static/image/logo.png" alt="LOGO"></a>
    </div>
    <a class="hd-item" href="/"><span>专业词典</span></a>
    <a class="hd-item" href="/tb"><span>术语标记</span></a>
    <!--<a class="hd-item" href="/db"><span>标准数据库</span></a>-->
    <a class="hd-item" href="http://www.lan-bridge.com/" target="_blank" rel="nofollow"><span>人工翻译</span></a>
    <!--<a class="hd-item hd-login" href="javascript:void(0);">-->
        <!--<i></i>登 录-->
    <!--</a>-->
    <a class="hd-user" href=""></a>
</header>
<script rel="fn">
    (function () {
        const pathname = location.pathname;
        const navs = document.querySelectorAll('a.hd-item');
        navs.forEach(item => {
            const href = item.getAttribute('href');
            const relation = {
                dict: (pathname.includes('/dict') || pathname === '/') && href === '/',
                term: pathname.includes('/tb') && href === '/tb'
            }
            if(relation.dict || relation.term){
                item.classList.add('hd-active');
            }
        });
    })();
</script>