<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="https://www.github.com/244396012">
    <meta rel="me" href="mailto:244396012@qq.com">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="语言桥, 数译科技, 注册, 协议, 51社保">
    <meta name="description" content="语言桥, 数译科技, 注册, 协议, 51社保">
    <title>51社保</title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/account.css">
    <style>
        body{background-image: none}
        #header{line-height: 65px;background: #41cca6!important;border-radius: 0;}
        #content{transform: none;padding: 40px 0;margin-top: auto}
        #content .content{width: 1000px!important;}
        #content h3{margin-bottom: 25px;font-weight: 700;}
        ul{list-style: none;margin: 0;padding: 0;margin-bottom: 25px;font-size: 14px;}
        ul li{padding-bottom: .5rem;}
        ul li.title{padding-top: 1.5rem;padding-bottom: 1rem;font-weight: 700;}
        ul li.sj{text-indent: 2rem}
        ul i{color: red;font-style: normal}
    </style>
</head>
<body>
<div class="wrapper">
    <header id="header">
        <div class="content">
            <div class="am-g">
                <div class="am-u-sm-6">
                    <a href="/" target="_self">
                        <img src="/static/image/logowhite.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="content">
            <h3 class="sy-font-lg sy-font-fm sy-center">经营服务合作协议</h3>
            <ul class="sy-font-fm">
                <li class="title">【提示条款】</li>
                <li>欢迎您与我司【海南众合天下科技有限公司】签署本《经营服务合作协议》（下称“本协议”），并为我司服务合作企业及其平台（含客户端应用程序及相应网站，以下简称“服务合作企业”）提供服务。</li>
                <li>本协议是海南众合天下科技有限公司（简称“甲方”、“我司”）和乙方（您为自然人、法人或其他组织）所约定的规范双方权利和义务的具有法律效力的协议。您勾选“我同意”或点击“我已阅读并遵守该协议”按钮或与我司签署书面形式的纸质协议，即表示乙方已经仔细阅读、充分理解并完全地毫无保留地接受本协议的所有条款。</li>
                <li>在接受本协议之前，请您仔细阅读本协议的全部内容，特别是以粗体或下划线标注的内容。如您不同意本协议任何内容或无法理解条款内容，请您停止申请/注册/签署程序。</li>
                <li class="title">【协议条款】</li>
                <li>鉴于我司服务合作企业高速发展对各类具体业务的需要；您为具有独到的知识技能、具备独立提供经营服务能力的个体工商户或其他个人。根据《中华人民共和国合同法》、《民法总则》等法律法规以及有关政策规定，双方在平等自愿、协商一致的基础上，就由您为我司服务合作企业提供持续性经营服务、并获得相应收入事宜订立本经营服务合作协议。</li>
                <li class="title">第一条 服务工作内容</li>
                <li>1.1 因我司与服务合作企业合作需要，您需按照服务合作企业指定的政策规则（包括但不限于平台规则、用户注册协议等） 以及我司与服务合作企业相关协议约定等，按期提供服务，服务形式包括线上以及线下等多种方式。</li>
                <li>1.2 您基于本协议之目的，按照服务合作企业相关规定所必须注册/申请/签署的协议与本协议同时有效；如二者存在冲突， 以本协议为准。</li>
                <li>1.3 您承诺并保证：您具有独立提供本协议项下生产经营服务的相应资质和专业能力，有权依据本协议提供服务并收取相关费用。您承诺依据本协议提供的服务不违反任何法律法规和政策规定，同时符合服务合作企业的管理制度要求。否则， 您应承担由此引起的全部法律后果，并赔偿由此给我司及服务合作企业造成的全部损失。</li>
                <li class="title">第二条 协议效力</li>
                <li>2.1 您保证您签约信息（包括但不限于您的姓名、身份证件号、您实名认证的且有效的银行账户等信息）的真实、准确及合 法性，如因此造成任何损失的，由您自行承担。</li>
                <li>2.2 自您勾选或点击确认或以其他方式选择接受本协议的次日零点起生效，有效期 1 年；期限届满，双方应另行签署新的协议，若双方未签署新的协议，但以实际行动履行本协议项下内容，视为本协议期限自动延续 1 年，直至双方协商一致解约或满足本协议约定的解约条件。</li>
                <li>2.3 本协议在发生下列情形时自然终止：</li>
                <li>a、 经服务合作企业事先同意的情况下，您主动退出服务的；</li>
                <li>b、 服务合作企业终止或变更业务模式而不需要您继续履行本协议的；</li>
                <li>c、 服务合作企业认为您不适合继续提供服务的；</li>
                <li>d、 我司和服务合作企业解除合作的；</li>
                <li>e、 其他原因导致本协议不再继续履行的。</li>
                <li class="title">第三条 我司的权利和义务</li>
                <li>3.1 您应根据我司的安排为服务合作企业提供服务，服务期间您应遵守服务合作企业有关服务内容、服务质量等方面的要 求。服务合作企业可根据自身的运营要求制定具体工作安排，您应予遵守。服务合作企业有权对您提供的服务成果进行验收。</li>
                <li>3.2 我司应按约定及时向您支付全部费用，您收到我司支付的费用后不得向服务合作企业或其关联公司主张任何费用。您通 过服务合作企业渠道发起的提现/或任何申请支付的行为，均视为向我司发起，而并非向服务合作企业或其关联公司发起。</li>
                <li>3.3 您在本协议项下取得收入应缴纳的所有税费（包括但不限于个人所得税、增值税及附加税费等）由我司按照现行税法规 定代为申报和缴纳，税务机关因为任何原因对您发起的税务追缴和处罚由我司负责妥善应对和解决并承担相应成本，与您无 关。</li>
                <li class="title">第四条 您的权利和义务</li>
                <li>4.1 您应按时尽责地完成我司以及服务合作企业要求的工作内容，并达到规定的质量标准，不得有侵犯他人知识产权、财产权、人身权、肖像权、隐私权、商业秘密或其他合法权益以及其他违反国家法律法规、国家政策、或有悖于公序良俗的内容，否则应承担相应责任。</li>
                <li>4.2 协议期内，您应在我司以及服务合作企业许可范围内使用本协议有关的商业信息；协议期内以及协议终止后，您均有义务对双方合作的有关协议及合作过程中知悉的我司、服务合作企业的相关信息予以保密，未经书面许可，您不得以任何方式向其它方披露、给予或转让该等保密信息。否则，因此导致我司及/或服务合作企业或其关联公司的损失，由您负责赔偿。</li>
                <li>4.3 除本协议事项外，您不能以我司及/或服务合作企业的名义开展任何与完成约定的工作任务无关的业务或活动。</li>
                <li>4.4 若相关服务通过服务合作企业指定的网络平台提供，或者服务合作企业指定的相关网络平台备案，服务合作企业指定的网络平台可能将要求您签署、点击电子协议，您同意点击签署。您点击确认后该协议将对您产生法律效力。</li>
                <li class="title">第五条 服务费用的支付</li>
                <li>5.1 我司将根据经服务合作企业确认的服务人员服务标准及服务效果等向您按时足额支付服务费用。您理解并同意：由于您 所提供的服务内容、服务质量、服务时长等情况的不同，该等服务费用金额可能会呈现浮动。我司以人民币形式向您支付服 务费用，您应缴纳的各项税费由我司负责申报。您同意授权我司全权办理税务相关事宜，包括但不限于代开发票、税款缴纳 等。</li>
                <li>5.2 服务费用将支付至您提供的收款帐户，如因您提供的收款帐户不实造成的一切损失由您自行承担。 如您帐号变更或发生不可用等情况时，应及时进行变更操作，否则，由此造成的一切损失由您自行负责。</li>
                <li>5.3 您与我司达成平等民事主体之间的合作关系，互不隶属，双方不属于任何形式的劳动、劳务或用工关系，除合作费用外，我司不承担您任何社保福利待遇，也不负责您的任何意外伤害的医疗保险费用。</li>
                <li class="title">第六条 违约责任</li>
                <li>6.1 双方应按本协议约定履行，如有违反，守约方有权要求对方及时改正；造成对方损失的，守约方有权要求违约方赔偿。</li>
                <li>6.2 因不可抗力造成损失的，彼此不负赔偿责任，但发生不可抗力一方应及时将有关情况通知另一方，并尽最大努力进行补救。本协议所称不可抗力是指不能预见、不能克服并不能避免且对一方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、火灾和风暴等以及社会事件如战争、动乱、政府行为、黑客事件、大范围电信事故等。</li>
                <li class="title">第七条 协议的终止</li>
                <li>7.1 发生本协议 2.3 条约定的任意情形时，本协议终止；</li>
                <li>7.2 本协议的提前终止不影响已经产生的权利义务关系。</li>
                <li class="title">第八条 其他</li>
                <li>8.1 因履行本协议发生的纠纷，双方应友好协商解决，协商不成的，提请本协议签订地人民法院诉讼解决。本协议由双方于北京市朝阳区签署。</li>
                <li>8.2 我司有权根据业务需要修改本协议条款。</li>
                <li>
                    <table border="1px">
                        <tbody>
                        <tr>
                            <td width="200">甲方：</td>
                            <td width="350">乙方：</td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>身份证件号码/统一社会信用代码：</td>
                        </tr>
                        <tr>
                            <td>签署日期：&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                            <td>签署日期：&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
            <div style="width: 100px;margin: 0 auto;">
                <a class="sy-btn sy-btn-default sy-btn-green sy-btn-sm sy-font-md"
                   onclick="window.close();">关 闭</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>