<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <table class="table table-bordered myTable">
        <thead>
        <tr>
            <th>#</th>
            <th>用户</th>
            <th>密码</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <a href="/student.html">查看学生信息表</a>
</div>
</body>
</html>
<script type="text/javascript" src="/static/scripts/plug-in.js"></script>
<script type="text/javascript" content="加载函数">
window.onload = function(){
    loadParams();

    mytab.onclick = function (event) {
        var e = event || window.event,
            id = e.target.dataset.id;
        if(e.target.tagName === 'BUTTON'){
            delParams(id, loadParams);
        }

    }
}
</script>
<script type="text/javascript" content="此处放置函数">
var mytab = getEle('myTable'),
    myTabTbody = getEle('myTable>tbody');

//加载数据
function loadParams(){
    myAjax({
        method: 'get',
        url: '/user/index',
        success: function(data){
            var result = JSON.parse(data);
            if(result.success){
                var list = '';
                for(var i =0;i < result.data.length;i++){
                    list += '<tr>'+
                    '<td>'+ (i+1) +'</td>'+
                    '<td>'+ result.data[i].user_name +'</td>'+
                    '<td>'+ result.data[i].user_pwd +'</td>'+
                    '<td>'+ result.data[i].user_info +'</td>'+
                    '<td><button type="button" class="btn btn-default" data-id="'+ result.data[i].id +'">删除</button></td>'+
                    '</tr>';
                }
                myTabTbody.innerHTML = list;
            }
        },
        fail: function (data,xhr) {
            console.log(data,xhr);
        }
    });
}
//删除列表
function delParams(id,callback){
    myAjax({
        method: 'post',
        url: '/user/del',
        dataType:'json',
        data: {id: id},
        success: function (data) {
            var result = JSON.parse(data);
            console.log(result);
            if(result.success){
                alert(result.msg);
            }else{
                alert(result.error);
            }
            callback();
        },
        fail: function (data) {
            console.log(data);
        }
    });

}


//获取元素
function getEle(ele){
    return document.querySelector('.'+ele);
}
</script>