<div class="order_page">
    <div class="content">
        <div class="am-g">
            <div class="am-u-lg-8 content-left">
                <nav class="nav">
                    <% include order-nav.ejs %>
                    <div class="filter">
                        <a class="item active" href="#wait">待领取<span>0</span></a>
                        <a class="item" href="#doing">进行中<span>0</span></a>
                        <a class="item" href="#done">已提交<span>0</span></a>
                        <a class="item" href="#comp">已完成<span>0</span></a>
                        <a class="item" href="#stop">退稿/终止<span>0</span></a>
                        <div class="sy-float-r">
                            <label class="am-checkbox am-success">
                                <input type="checkbox" value="" data-am-ucheck checked> 文档订单
                            </label>
                            <label class="am-checkbox am-success">
                                <input type="checkbox" value="" data-am-ucheck checked> 证件订单
                            </label>
                        </div>
                    </div>
                </nav>
                <section class="cnt">
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">预览</button>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">领取</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" disabled class="sy-btn sy-btn-sm sy-btn-green">已被抢</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">立即进入</button>
                                <span>2天后交稿</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">查看详情</button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">查看详情</button>
                                <span>
                                    <i class="well"></i>
                                    <i class="well"></i>
                                    <i class="well"></i>
                                    <i></i>
                                    <i></i>
                                    1星
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="base">
                            <label>众包订单</label>
                            <span>订单编号：X0123456</span>
                            <span>英语-简体中文</span>
                            <span class="sy-float-r">返稿时间：2010-10-10 22:22</span>
                        </div>
                        <div class="detail">
                            <div>
                                <em>成都地铁卷宗翻译-1</em>
                                <span>约2000字</span>
                            </div>
                            <div>
                                <em>文档翻译</em>
                                <span>出版及</span>
                            </div>
                            <div>
                                <em>￥120/千字</em>
                                <span>原文千字</span>
                            </div>
                            <div>
                                <button type="button" class="sy-btn sy-btn-sm sy-btn-green">查看详情</button>
                                <span>项目终止</span>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="sy-center more">
                    <input class="order_PageNo" type="hidden" value="0">
                    <button class="sy-btn order_LoadMoreBtn" type="button">加载更多</button>
                </div>
            </div>
            <div class="am-u-lg-4 content-right">
                <div class="empty"></div>
                <div class="detail">
                    <div class="title">订单类型说明</div>
                    <div class="cnt">
                        <span>文档翻译</span>
                        <p>企业法律合同翻译、标书翻译、及其它法律文件的翻译；简历、留学材料翻译、移民资料翻译；符合论文发表与专利申请要求的论文翻译与专利翻译； 病历、检验单、出入院记录单、医嘱、体检报告等医疗报告翻译。</p>
                        <span>证件翻译</span>
                        <p>由公安、民政、工商、卫计委、疾控、房地产管理、车管所等单位签发的格式统一的证书翻译，包括身份证、户口本、港澳通行证、出生证、结婚证、营业执照、健康证、房产证、驾照翻译等；由教育、银行等出具的证明学历、工作经历与财务能力的格式不统一内容相对统一的证明性文件，
                            包括毕业证、学位证、成绩单、在职证明、退休证、学生证/在读证明、收入证明、个人资信证明、银行存款证明、银行对账单等。</p>
                    </div>
                </div>
                <div class="detail">
                    <div class="title">
                        <label class="tab active">众包订单</label>
                        <label class="tab">普通订单</label>
                    </div>
                    <div class="cnt">
                        <p>承接人按订单质量等级交付成品译件，若该订单需要审校、润色、质检等流程，应当由承接人全权负责。</p>
                        <p class="sy-hidden">承接人按订单质量等级交付流程稿，包括但不限于翻译、审校、质检等，对本流程的过程译件质量负责。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.order_page').on('click', function (e) {
    var event = e || window.event,
        target = event.target || event.srcElement;
    //切换“订单类型”
    if(target.nodeName === 'LABEL' && $(target).hasClass('item')){
        $(target).addClass('active').siblings().removeClass('active');
    //切换右侧“订单类型”提示
    }else if(target.nodeName === 'LABEL' && $(target).hasClass('tab')){
        var idx = $(target).index();
        var parentNode = target.parentNode,
            parentNextNode = parentNode.nextElementSibling;
        $(target).addClass('active').siblings().removeClass('active');
        $(parentNextNode).find('p').eq(idx).removeClass('sy-hidden').siblings().addClass('sy-hidden');
    }
})
</script>