<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>信息表</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <style>
        td{vertical-align: middle!important;}
    </style>
</head>
<body>
<div class="container">
    <br/>
    <form class="form-inline" name="myform">
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" class="form-control" name="_name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="">年龄</label>
            <input type="text" class="form-control" name="_age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="">性别</label>
            <input type="text" class="form-control" name="_sex" placeholder="Sex">
        </div>
        <div class="form-group">
            <label for="">备注</label>
            <input type="text" class="form-control" name="_remark" placeholder="Remark">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary addBtn">添加信息</button>
        </div>
    </form>
    <br/>
    <table class="table table-bordered myTable">
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" name="myupdate">
                        <div class="form-group">
                            <label for="">姓名</label>
                            <input type="text" class="form-control" name="_name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="">年龄</label>
                            <input type="text" class="form-control" name="_age" placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="">性别</label>
                            <input type="text" class="form-control" name="_sex" placeholder="Sex">
                        </div>
                        <div class="form-group">
                            <label for="">备注</label>
                            <input type="text" class="form-control" name="_remark" placeholder="Remark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary updateBtn">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
</html>
<script type="text/javascript" src="/static/scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/scripts/plug-in.js"></script>
<script type="text/javascript" content="加载函数">
    window.onload = function(){

        loadStudentInfo();

        var addtimer = null;
        addbtn.onclick = function () {
             clearTimeout(addtimer);
             addtimer = window.setTimeout(function () {
                 var _name = document.forms['myform']['_name'].value,
                     _age = document.forms['myform']['_age'].value,
                     _sex = document.forms['myform']['_sex'].value,
                     _remark = document.forms['myform']['_remark'].value;
                 if(_name.trim() == "" && _age == "" && _sex == ""){
                     alert('请填写信息');
                     return;
                 }
                 addStudentInfo(_name,_age,_sex,_remark,loadStudentInfo);
             },600);
        };

        updatebtn.onclick = function () {
            var _name = document.forms['myupdate']['_name'].value,
                _age = document.forms['myupdate']['_age'].value,
                _sex = document.forms['myupdate']['_sex'].value,
                _remark = document.forms['myupdate']['_remark'].value;
            if(_name.trim() == "" && _age == "" && _sex == ""){
                alert('请填写信息');
                return;
            }
            updateStudentInfo(this,_name,_age,_sex,_remark,loadStudentInfo);
        };

        mytab.onclick = function (event) {
            var e = event || window.event,
                id = e.target.dataset.id;
            if(id && e.target.tagName === 'BUTTON' && e.target.innerHTML == '删除'){
                delStudentInfo(id,loadStudentInfo);
            }
        }
    }
</script>
<script type="text/javascript" content="此处放置函数">
    var ID;
    var addbtn = getEle('addBtn');
    var updatebtn = getEle('updateBtn');
    var mytab = getEle('myTable'),
        myTabTbody = getEle('myTable>tbody');

    //添加信息
    function addStudentInfo(name,age,sex,remark,callback){
        myAjax({
            method:'post',
            url:'/student/addStudentInfo',
            data:{
                _name: name,
                _age: age,
                _sex: sex,
                _remark: remark
            },
            success: function (data) {
                if(JSON.parse(data).success){
                    alert(JSON.parse(data).msg);
                }else{
                    alert(JSON.parse(data).error);
                }
                callback();
            }
        });
    }

    //加载信息
    function loadStudentInfo(){
        myAjax({
            method:'get',
            url:'/student/queryStudentInfo',
            success: function (data) {
                var result = JSON.parse(data);
                var str = "";
                if(result.success){
                    result.data.map(function (item,index,arr) {
                        str += "<tr>"+
                        '<td>'+ (index+1) +'</td>'+
                        '<td>'+ item.s_name +'</td>'+
                        '<td>'+ item.s_age +'</td>'+
                        '<td>'+ item.s_sex +'</td>'+
                        '<td>'+ item.s_remark +'</td>'+
                        '<td><button type="button" class="btn btn-default" data-id="'+ item.s_id +'">删除</button> ' +
                        '<button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal" onclick="ID='+item.s_id+'">修改</button></td>'+
                        "</tr>"
                    });
                    myTabTbody.innerHTML = str;
                }else{
                    console.log(result.error);
                }
            }
        });
    }

    //删除
    function delStudentInfo(id,callback){
        myAjax({
            method:'post',
            url:'/student/delStudentInfo',
            data:{id:id},
            success: function (data) {
                if(JSON.parse(data).success){
                    alert(JSON.parse(data).msg);
                }else{
                    alert(JSON.parse(data).error);
                }
                callback();
            }
        });
    }

    //修改
    function updateStudentInfo(_this,name,age,sex,remark,callback){
        myAjax({
            method:'post',
            url:'/student/updateStudentInfo',
            dataType:'json',
            data:{
                _id:ID,
                _name:name,
                _age:age,
                _sex:sex,
                _remark:remark
            },
            success: function (data) {
                if(JSON.parse(data).success){
                    alert(JSON.parse(data).msg);
                    _this.previousElementSibling.click();
                    callback();
                }else{
                    alert(JSON.parse(data).error);
                }
            }
        });

    }

    //获取元素
    function getEle(ele){
        return document.querySelector('.' + ele);
    }
</script>