<div class="account">
    <div class="am-g">
        <div class="am-u-sm-6 sy-lg-out">
            <div class="sy-lg"></div>
        </div>
        <div class="am-u-sm-6">
            <div class="am-g" style="padding:20px 20px 0 20px;margin-bottom: 90px;">
                <div class="am-u-sm-12 sy-center" >
                    <h3 class="sy-font-xlg">重置密码</h3>
                </div>
            </div>
            <!--获取验证码-->
            <form id="step-1" class="am-form am-form-horizontal sy-account-wd">
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <input id="accountPut" type="tel" class="sy-input" placeholder="手机号/邮箱" autocomplete="off" required >
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12 sy-font-md">
                        <div id="slide_box">
                            <div id="slide_xbox">
                                <div id="slideBtn">
                                    <i class="am-icon-angle-double-right"></i>
                                </div>
                            </div>
                            请按住滑块&nbsp;&nbsp;拖动到最右边
                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-7" style="padding-right: 0;">
                        <input id="accountCode" type="text" class="form-control sy-input sy-radius-left" autocomplete="off" placeholder="验证码" required>
                    </div>
                    <div class="am-u-sm-5" style="padding-left: 0;">
                        <button data-type="2"
                                type="button"
                                class="am-btn am-btn-default sy-btn sy-btn-default sy-font-md sy-radius-right validateCodeBtn_acc">获取验证码</button>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <button type="button" class="btn btn-default sy-btn sy-btn-default forgetPwdStepBtn_1_acc">下一步</button>
                    </div>
                </div>
            </form>
            <!--设置密码-->
            <form id="step-2" class="am-form am-form-horizontal sy-account-wd sy-hidden">
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <i class="sy-icon-eye am-icon-eye-slash" onclick="__bundle__.togglePassword(this);"></i>
                        <input id="password" type="password" class="sy-input" placeholder="设置密码" autocomplete="off" required >
                        <p class="tips">*请输入长度为6-20位的密码</p>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <i class="sy-icon-eye am-icon-eye-slash" onclick="__bundle__.togglePassword(this);"></i>
                        <input id="rePassword" type="password" class="sy-input" placeholder="确认密码" autocomplete="off" required >
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <button type="button" class="btn btn-default sy-btn sy-btn-default forgetPwdStepBtn_2_acc">提 交</button>
                    </div>
                </div>
            </form>
            <!--修改成功-->
            <form id="step-3" class="am-form am-form-horizontal sy-hidden" style="padding: 20px;">
                <div class="am-form-group sy-center">
                    <div class="am-u-sm-12">
                        <img src="/static/image/account-icon-success.png" alt="success">
                    </div>
                    <div class="am-u-sm-12 sy-font-md" style="margin-top: 1rem;padding-top: 1rem;">
                        <p style="margin-bottom: 0;">密码设置成功</p>
                        <p style="margin-top: 0;">您可以使用新密码登录平台！</p>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12 sy-center sy-font-md">
                        <a class="btn btn-default sy-btn sy-btn-green" style="width: 90px;" href="/login">立即登录</a>
                    </div>
                </div>
            </form>
            <!--进度条-->
            <div class="sy-fd-nav sy-font-sm">
                <div class="sy-line"></div>
                <div class="sy-sp sy-sp-1 sy-forget-active">
                    <div><span>1</span></div>
                    <span>获取验证码</span>
                </div>
                <div class="sy-sp sy-sp-2">
                    <div><span>2</span></div>
                    <span>修改密码</span>
                </div>
                <div class="sy-sp sy-sp-3">
                    <div><span>3</span></div>
                    <span>修改成功</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        __bundle__.dragSlide();
    }())
</script>