<div class="account">
    <div class="am-g">
        <div class="am-u-sm-6 sy-lg-out">
            <div class="sy-lg"></div>
        </div>
        <div class="am-u-sm-6">
            <form class="am-form am-form-horizontal sy-account-wd sy-account-lg" style="margin-top: 3rem">
                <div class="am-form-group">
                    <div class="am-u-sm-12 sy-center">
                        <h3 class="sy-font-xlg">登 录</h3>
                        <p class="sy-font-md" style="color: #999;margin: -.5rem 0 .5rem 0">一个拿单拿到手软的语言众包工作平台</p>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <input id="account" type="text" class="sy-input" placeholder="手机号/邮箱" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <i class="sy-icon-eye am-icon-eye-slash" onclick="__bundle__.togglePassword(this);"></i>
                        <input id="password" type="password" class="sy-input" placeholder="密码" required autocomplete="off">
                    </div>
                </div>
                <!-- insert slide -->
                <div class="am-form-group sy-font-sm extra">
                    <div class="am-u-sm-8">
                        还没有帐号？<a class="sy-link" href="/register">立即注册</a>
                    </div>
                    <div class="am-u-sm-4 sy-right">
                        <a class="sy-link" href="/forgetPwd">忘记密码</a>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-12">
                        <button type="button"
                                class="sy-btn sy-btn-default loginBtn_acc">登 录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function () {

        document.addEventListener('keyup', function (event) {
            if(event.keyCode === 13){
                $('.loginBtn_acc').click();
            }
        }, false);

    }());
</script>