.tb-page{
  .content-fasten{
    padding: 70px 0;
  }
  //术语标记首页
  .search-box{
    .am-btn{
      border-radius: 0;
      font-size: 16px;
    }
    .draw-btn{
      float: right;
      width: 120px;
      padding: 0;
      border: none;
      text-align: center;
      letter-spacing: 0;
      &[disabled]{
        pointer-events: auto;
        background-color: #ccc;
        color: #676767;
        opacity: 1;
        &:hover{
          cursor: not-allowed;
        }
      }
      &.active{
        background-color: #ffd33a;
        &:hover{
          opacity: .85;
        }
      }
    }
  }
  .tb-textarea-box{
    height: 630px;
    position: relative;
    border: 1px solid #999;
    background-color: #eee;
    .line{
      position: absolute;
      z-index: 29;
      width: 1198px;
      height: 50px;
      background-color: #eee;
      &:before,&:after{
        content: '';
        position: absolute;
        background-color: #999;
      }
      &:after{
        width: 320px;
        height: 1px;
      }
      &:before{
        width: 1px;
        height: 150px;
      }
      &:nth-child(1){
        left: 0;
        top: 0;
        &:before{
          top: 12px;
          left: 30px;
        }
        &:after{
          top: 30px;
          left: 12px;
        }
      }
      &:nth-child(2){
        bottom: 28px;
        right: 0px;
        &:before{
          bottom: 12px;
          right: 30px;
        }
        &:after{
          bottom: 30px;
          right: 12px;
        }
      }

    }
  }
  .tb-textarea{
    height: 600px;
    .tb-textarea-inner{
      resize: none;
      margin: 0px 50px;
      margin-right: 0;
      padding: 50px 32px 50px 5px;
      background: #eee;
      width: 1148px;
      height: 600px;
      border: none;
      outline: none;
    }
    ::-webkit-scrollbar{
      width: 5px;
    }
    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
      background: #999;
      border-radius: 1px;
    }
  }
  .tb-total{
    padding: 0 15px;
    text-align: right;
    color: #666;
    letter-spacing: 1px;
    span{
      color: #000;
    }
  }
  //术语提取结果
  .tb-result{
    display: flex;
    flex-wrap: wrap;
    &>div{
      &>button{
        padding: 0;
        width: 120px;
        height: 40px;
        line-height: 40px;
        color: #676767;
        font-size: 16px;
        border-color: #ccc;
        background-color: #ccc;
      }
      &.tb-essay-box{
        width: 500px;
        &>button{
          padding-left: 10px;
          letter-spacing: 10px;
        }
      }
      &.tb-word-box{
        width: 700px;
        padding-left: 20px;
        table{
          margin-bottom: 0;
          border-color: #666;
          border-collapse: collapse;
          th,td{
            padding: 7px;
            vertical-align: middle;
            border-color: #666;
            &:nth-child(1){
              width: 80px;
            }
            &:nth-child(2){
              width: 200px;
            }
            &:nth-child(4){
              width: 140px;
            }
          }
          th{
            font-size: 16px;
            font-weight: 400;
            background-color: #CCCCCC;
          }
        }
        .tb-word-fixed{
          position: relative;
          th:nth-child(1){
            width: 81px;
          }
          table,th{
            border-bottom: none;
            &.tb-word-pos{
              position: absolute;
              z-index: 39;
              left: 0px;
              top: 320px;
              border: 1px solid #000;
              td{
                border: 1px solid #000;
                background-color: #EEEEEE;
                color: red;
              }
            }
          }
        }
      }
    }
    .tb-essay-inner{
      padding: 15px 20px;
      i{
        font-style: normal;
        cursor: pointer;
        color: red;
        &:hover{
          color: blue;
        }
      }
    }
    .tb-essay{
      height: 680px;
      border: 1px solid #999;
      background-color: #eee;
    }
    .tb-word{
      height: 680px;
      border: 1px solid #666;
      table{
        border-collapse: collapse;
        border-left: none;
        border-top: none;
        border-right: none;
        th:nth-child(1),
        td:nth-child(1){
          border-left: none;
        }
      }
    }
  }
  //术语导出
  .tb-export{
    .tips{
      margin-bottom: 10px;
      font-size: 16px;
      &>span{
        color: #999;
        font-size: 12px;
      }
    }
    .operation{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      &>div{
        width: 50%;
        &:nth-child(2){
          text-align: right;
        }
        &.scale{
          &>span,&>input{
            display: inline-block;
            text-align: center;
            height: 30px;
            outline: none;
            border: 1px solid #7F7F7F;
            color: #000;
          }
          &>span{
            width: 26px;
            line-height: 26px;
            &:nth-child(1){
              border-radius: 5px 0 0 5px;
            }
            &:nth-child(3){
              border-radius: 0 5px 5px 0;
            }
            &:hover{
              cursor: pointer;
              color: #888;
            }
          }
          &>input{
            width: 55px;
            margin: 0 -5px;
            padding-left: 15px;
            vertical-align: -1px;
            line-height: 30px;
          }
        }
        &.pagination{
          color: #888;
          font-size: 16px;
          letter-spacing: 1px;
          &>.current{
            color: #000;
          }
          &>.prev,&>.next{
            display: inline-block;
            vertical-align: -8px;
            width: 30px;
            height: 26px;
            background-image: url("/static/image/icons.png");
            background-repeat: no-repeat;
            cursor: pointer;
          }
          &>.prev{
            margin-right: 12px;
            background-position: -291px -118px;
            &:hover{
              background-position: -250px -118px;
            }
          }
          &>.next{
            margin-left: 12px;
            background-position: -334px -118px;
            &:hover{
              background-position: -377px -118px;
            }
          }
        }
      }
    }
    .content{
      table{
        border-collapse: collapse;
        border-color: #666;
        tr:hover td:last-of-type>a{
          opacity: 1;
          filter: opacity(100);
          transition: all .5s;
        }
        td:last-of-type{
          padding-right: 70px;
        }
        td,th{
          position: relative;
          padding: 7px;
          vertical-align: middle;
          border-color: #666;
          .del{
            opacity: 0;
            filter: opacity(0);
            padding: 1px 12px;
            position: absolute;
            z-index: 9;
            right: 10px;
            top: 50%;
            margin-top: -10px;
            color: #fff;
            background-color: #FE0000;
            font-size: 12px;
            border-radius: 4px;
          }
        }
        th{
          font-size: 16px;
          font-weight: 400;
          background-color: #ccc;
          &:nth-child(1){
            width: 120px;
          }
          &:nth-child(2){
            width: 540px;
          }
        }
      }
    }
  }
  .tb-btn{
    margin-top: 20px;
    text-align: right;
    &>button{
      padding: 0;
      margin-left: 20px;
      width: 200px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      letter-spacing: 1px;
      border: 1px solid #FFD33A;
      i.tb-icon{
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 6px;
        vertical-align: -6px;
        background-repeat: no-repeat;
      }
      &:nth-child(1){
        color: #656565;
        background-color: #fff;
      }
      &:nth-child(2){
        color: #000;
        background-color: #FFD33A;
      }
    }
    &.tb-result-btn{
      &>button{
        &:nth-child(1){
          i.tb-icon{
            background-image: url("/static/image/icons.png");
            background-position: -78px -117px;
          }
          &:hover{
            color: #000;
            i.tb-icon{
              background-position: -121px -118px;
            }
          }
        }
        &:nth-child(2){
          i.tb-icon{
            background-image: url("/static/image/icons.png");
            background-position: -161px -117px;
          }
          &:hover{
            color: #fff;
            i.tb-icon{
              background-position: -191px -119px;
            }
          }
        }
      }
    }
    &.tb-export-btn{
      &>button{
        &:nth-child(1){
          i.tb-icon{
            background-image: url("/static/image/icons.png");
            background-position: -446px -119px;
          }
          &:hover{
            color: #000;
            i.tb-icon{
              background-position: -481px -119px;
            }
          }
        }
        &:nth-child(2){
          i.tb-icon{
            background-image: url("/static/image/icons.png");
            background-position: -530px -119px;
          }
          &:hover{
            color: #fff;
            i.tb-icon{
              background-position: -555px -119px;
            }
          }
        }
      }
    }
  }
}
div.cancel{
  position: absolute;
  z-index: 99;
  width: 24px;
  height: 24px;
  background-image: url(/static/image/icons.png);
  background-repeat: no-repeat;
  background-position: -19px -69px;
  right: 24px;
  top: 20px;
  &:hover{
    opacity: .85;
    cursor: pointer;
  }
}