<div class="content">
    <div class="about_page about clause">
        <aside class="about_aside">
            <div class="tabItem tab-item active"><a href="/about/clause">服务条款</a></div>
            <div class="tabItem tab-item"><a href="/about/secret">隐私条款</a></div>
        </aside>
        <div class="about_cnt" style="padding-top: 42px">
            <div class="cntItem cnt-item">
                <pre>
本协议由本网站（www.lanpecker.com）注册用户（简称“您”）与数译（成都）信息技术有限公司（简称“ 数译”）根据《中华人民共和国合同法》及其他相关法律法规自愿共同缔结。
                </pre>
                <h5>【签约声明】</h5>
                <pre>
一、您确认在签署本协议之前，已充分阅读、理解并同意本协议的全部内容，您点击即为确认签署，表示您同意遵循本协议之所有约定。
二、本协议包括签约声明、协议正文及本网站（www.lanpecker.com）已公布或未来可能公布的各类规则及协议内容变更公告。
三、您同意数译可根据运营需求对本协议内容进行单方面的补充或变更，并以网站公告的方式进行公布。
四、您若不同意变更的协议内容，应停止使用本协议项下的服务并向数译提出书面终止申请，否则即为您已充分阅读、理解并同意变更后的协议内容，并同意遵循变更后的协议内容使用服务。
                </pre>
                <h5>【协议正文】</h5>
                <h5>第一条 定义</h5>
                <pre>
用户：指本网站的注册用户，包括企业用户和个人用户，即服务委托方和服务提供方。以下，服务提供方简称为”您“，服务委托方简称为”委托方“。
订单：指委托方通过本网站（www.lanpecker.com）订单中心发布的关于服务的邀约，包括但不限于笔译、审校、润色、评审、排版等。
服务：指您通过领取本网站的订单而接受委托方的委托，按订单要求完成相应的服务，并交付成果的行为。
服务费用：指您按照订单约定和本网站质量标准如期交付服务成果而应从委托方获得的资金回报，您应按照国家法律规定缴纳个人所得税，本网站代扣代缴。
平台服务：指本网站向您提供的包括订单邀约、计算机辅助翻译软件、双语语料数据及结算提现等服务。
                </pre>
                <h5>第二条 账户注册及认证</h5>
                <pre>
一、您可按照注册页面提示自行在线注册或者通过绿色通道获得账号和密码，两种方式均视为您自愿注册，同意并接受本协议的约束。
二、注册成功后，您可以登录并使用本网站的平台服务。完善信息、通过测试并完成相关认证后方可领取订单及结算提现。
三、您承诺在注册时及使用本网站过程中所提供的一切信息均真实合法有效，并在信息发生变更时及时更新，您提供的联系方式须能及时联络到您本人。
四、您同意接收来自数译的信息，包括但不限于活动信息、交易信息、产品信息及其他信息等。
五、您须自行负责对您的登录名和密码保密，且须对该登录名和密码下发生的所有活动或行为承担责任。
六、数译将采取一切必要措施，保障您个人信息安全，防止信息泄露、损坏或丢失。您明确授权本网站向委托方和/或数译关联公司披露您必要的真实信息，除此之外不得向任何第三方透露上述个人信息。出现以下情况的信息披露，本网站不承担任何责任：
        1) 根据国家法律规定或权力机关指示必须提供上述信息；
        2) 因用户向他人透露注册账户和密码等信息而导致的用户个人信息泄露；
        3) 由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致的用户个人信息泄露；
        4) 其他非因本网站原因导致的个人信息泄露。
                </pre>
                <h5>第三条 服务内容</h5>
                <pre>
一、按本协议第一条定义，您通过领取本网站的订单而向委托方提供的服务，订单约定的服务即为您的服务内容。
二、交稿时间及方式
        1) 本网站订单依据原稿格式、原稿字数、质量等级要求、内容难度和下单时间等，由系统自动计算确定。您需严格按照订单约定时间提交符合质量标准的服务成果。若无法按时完成，应在接单前与本网站协商一致后方可变更。
        2）您应通过本网站在线上传或以与本网站约定的其他方式提交成品服务成果。
        3）您应优先使用本网站提供的计算机辅助翻译软件在线完成翻译、审校、润色等工作，若需下载原文使用其他的工具，亦应按照本网站规定提交必要的成品服务成果和中间件。
三、服务质量与售后质保
        1）您承诺按照中华人民共和国国家标准 GB/T 19363.1-2003 相关规定及订单与本网站约定的相应标准完成稿件翻译服务；
        2）本网站委托方在收到成品后，有7个自然日的质量确认期，其间，您应配合修改委托方提出的任何实际存在的问题。若由于您的服务质量问题影响了委托方使用，本网站有权按委托方要求扣减您本次的服务费用，直至全额扣除，并保留追偿损失的权利；
        3）本网站委托方按照委托的订单质量等级，有15-45天的译文质保期，期间您仍有义务提供免费提供修改及相关服务。
四、计量与服务费用
        1）您同意由本网站自动进行统计与服务计量。笔译项目均以原文件作为计量对象，中文、日语与朝鲜语取中文与朝鲜语单词数，其他取单词数。无法统计的，双方协商；
        2）您的服务费用根据您承接的订单语言对、翻译字数、质量等级、返稿时间、约定单价等按照本网站规则综合计算所得；
        3）数译通过第三方支付平台以自然月为周期将服务费用打款至您提供的收款方式；
        4）本协议项下服务所得产生的相应税费及代扣代缴义务，您与数译应各自承担。
五、责任限额
您理解并同意，因本服务导致任何纠纷或赔偿的，数译仅以服务订单金额为限承担责任。
六、您承诺所提交的服务成果，符合公序良俗，不得出现以下情形：
        1) 反对中国宪法所确定的基本原则的；
        2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        3) 损害中国国家荣誉和利益的；
        4) 煽动民族仇恨、民族歧视，破坏民族团结的；
        5) 破坏中国国家宗教政策，宣扬邪教和封建迷信的；
        6) 散布谣言，扰乱社会秩序，破坏社会稳定的；
        7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        8) 侮辱或者诽谤他人，侵害他人合法权益的；
        9) 侵犯第三人著作权或其他权利的；
        10) 其他损害国家利益、社会利益、第三人利益的。
如果出现此种情形，您应承担全部责任，并有义务保证数译不会因此遭受任何损失，否则数译有权解除本合同，并有权要求您据实赔偿。
                </pre>
                <h5>第四条 保密条款</h5>
                <pre>
一、双方对因签订和/或履行本协议获得的对方的商业机密负有保密责任，不得以任何形式、任何理由透露给任何第三方，但依据双方书面约定、依据法律法规，或者依据司法和/或政府机关的要求进行披露的除外，否则，任何一方都有权向对方请求损失赔偿，并依法追究法律责任。
二、您承诺您因接受订单并提供服务而知悉的委托方相关商业与技术秘密负有保密责任，不以任何形式向任何委托方以外的人透露。
三、您承诺您在本网站上发布的内容均未泄露您及任何第三方的秘密，否则您将承担相应的责任。
四、保密条款不因本协议的无效、提前终止、解除或不具操作性而失效。
                </pre>
                <h5>第五条 知识产权</h5>
                <pre>
一、您承诺您提供的服务成果及您在本网站发布的内容，不侵犯他人的著作权、知识产权或其他合法权利。
二、稿件翻译完成后译文的知识产权由您与委托人（或原著作权人）双方共有。
三、您同意授予数译您在本网站上发表的原创内容的免费的、不可撤销的、非独家的使用权，数译可以在啄语网、啄语微信号及其他互联网产品上使用。
                </pre>
                <h5>第六条 不可抗力</h5>
                <pre>
一、因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，可以解除本协议约束，协议双方均不承担任何责任。
二、本协议中的不可抗力因素指不能预见、不能避免且不能克服的客观情况，包括但不限于战争、黑客攻击、国家强制性政策或任何其他人为造成的灾难等。
                </pre>
                <h5>第七条 平台服务中止</h5>
                <pre>
一、您同意，若您违反本协议，数译有权随时单方决定终止本协议，暂停、收回、关闭您的网站帐号，终止平台服务，且不会对您或任何第三方承担任何责任。
二、您同意，数译有权提前【30】天通知您解除本协议。
三、平台服务中止时，您尚未结算提现的服务费用，数译将开放一段结算提现期，用于您完成结算提现。
四、您同意，服务终止后，数译有权利但没有义务为您保留原帐号中或与之相关的任何信息。
                </pre>
                <h5>第八条 其他</h5>
                <pre>一、 本协议受中华人民共和国法律管辖。用户与本网站之间产生任何纠纷或争议，首先本着友好协商的态度解决，协商不成的，任何一方有权将争议提交至数译住所地人民法院。
二、 用户对本协议中的内容有任何疑问，<font style="color: orangered">可在线咨询客服或拨打 028-63916396</font>。
三、 本协议经您提交注册后正式生效。
                </pre>
            </div>
        </div>
    </div>
</div>