<style>
    table.am-table td.v-align{vertical-align: middle; width: 150px}
    table.am-table>tbody+tbody tr:first-child td{border-top-width: 1px}
</style>
<div class="content">
    <div class="about_page about help">
        <aside class="about_aside">
            <div class="tabItem tab-item active" id="help_about">新手指南</div>
            <div class="tabItem tab-item" id="help_order">订单相关</div>
            <div class="tabItem tab-item" id="help_account">费用相关</div>
            <div class="tabItem tab-item" id="help_rule">平台规则</div>
            <div class="tabItem tab-item" id="help_quality">质量与标准</div>
            <div class="tabItem tab-item" id="help_contact">联系我们</div>
        </aside>
        <div class="about_cnt">
            <div class="cntItem cnt-item help_about">
                <h5 class="sy-baseColor">新手指南</h5>
                <div class="am-panel-group" id="help_about_accordion">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_1'}">一、如何成为【语言桥兼职译员】？</h4>
                        </div>
                        <div id="help_about_1" class="am-panel-collapse am-collapse am-in">
                            <div class="am-panel-bd">
                                <p>1、注册网址：freelancer.lan-bridge.cn，点击【注册】，可通过手机号码和邮箱进行注册。</p>
                                <img src="/static/image/help-register.jpg" alt="">
                                <p>2、忘记密码：可通过手机和邮箱重置密码。</p>
                                <img src="/static/image/help-forget.jpg" alt="">
                                <p>3、完善信息：信息包括【基本信息】和【我的简历】，[【基本信息】、【我的简历】和【认证中心】]信息越完善，越容易接到订单。</p>
                                <p class="sy-center">基本信息</p>
                                <img src="/static/image/help-info.jpg" alt="">
                                <p  class="sy-center">我的简历</p>
                                <img src="/static/image/help-resume.jpg" alt="">
                                <p>4、技能测试：进入【个人中心】，进行【技能测试】，通过测试即可成为语言桥兼职译员。</p>
                                <p>1) 语种及领域：选择语言对、行业等可实现订单精准推送。 </p>
                                <p>2) 选择题测试：第一次测试未通过须在24小时后才能参与第二次测试；若第二次测试未通过，一个月后才能参与测试。</p>
                                <img src="/static/image/help-choice.jpg" alt="">
                                <p>3) 翻译题测试： 需在24小时之内提交译文。若翻译过程出现中断，请及时点击保存按钮，规定时间内可再次登录接着测试。译文提交后，工作人员将在3-5个工作日内完成审核，并通过网站站内信通知，请及时登录网站查询试译审核情况。</p>
                                <img src="/static/image/help-trans.jpg" alt="">
                                <p>5、身份认证：【实名认证】及【结算方式认证】。</p>
                                <img src="/static/image/help-identy.jpg" alt="">
                                <p>1) 译员只有进行实名认证之后才能正常接单，仅完成注册、完善信息、技能测试无法接到平台任何订单。请务必进行实名认证。</p>
                                <p>2) 平台目前可支持支付宝、银行卡、PayPal等多种方式结算。请务必确认支付宝账号、银行卡号、PayPal号准确无误，且姓名、身份证号都是本人信息。错误的账号信息可能导致平台费用不能及时到账。</p>
                            </div>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_2'}">二、如何获取更多订单？</h4>
                        </div>
                        <div id="help_about_2" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <p>1、完善个人信息、简历以及项目经验；</p>
                                <p>2、用高质量译稿获得客户及项目经理好评和认可；不拖稿，态度积极，认真负责；</p>
                                <p>3、平台活跃度高，每日签到；</p>
                                <p>4、积极发布平台文章，并审核通过；</p>
                                <p>5、译员测试得分以及译侠值得分高。</p>
                            </div>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_3'}">三、如何获得更多积分？</h4>
                        </div>
                        <div id="help_about_3" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <p>1、平台活跃度高，每日签到；</p>
                                <p>2、获得客户及项目经理好评；</p>
                                <p>3、平台文章发布并审核通过。</p>
                            </div>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_4'}">四、如何进行申请结算？</h4>
                        </div>
                        <div id="help_about_4" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <p>每月16-20日为语言桥兼职系统开放结算时间，过期则当月无法申请！</p>
                                <p>用户名为注册邮箱或者手机，若忘记密码可以找回。以下为本网站申请结算的说明（请务必阅读完本流程再进行系统操作，特别需留意红色“注意”部分），首次登陆申请有以下三个步骤，之后可直接进行第三步骤进行申请结算。</p>
                                <p>1、完善认证信息</p>
                                <p>登录系统后，进入默认界面首页，点击“<b>认证中心</b>”</p>
                                <img src="/static/image/settle-1.png" alt="">
                                <p>在“<b>认证中心</b>”，完善“<b>身份认证</b>”和“<b>结算方式</b>”信息（如下图）</p>
                                <img src="/static/image/settle-2.png" alt="">
                                <p class="sy-orange">注意：</p>
                                <p class="sy-orange">1)“身份认证”中的“真实姓名”需与“基本信息”中的“姓名”一致，而结算方式中的“姓名”和“证件号码”与“身份认证”中的信息一致，故若想用谁的银行卡请在“基本信息”-“姓名”中填写该人的姓名。一旦完成“身份认证”，终身不可修改，故请慎重操作。</p>
                                <p class="sy-orange">2) 每个兼职人员默认只能有一个账户，若密码忘记可以直接找回，若账号忘记可以联系工作人员。系统中的认证信息（身份证、银行卡）只能使用一次，若已经有多个账户注册平台，没有稿费的账户已经进行了身份验证，有稿费的账户则无法认证并提现申请。若遇到此情况，请联系工作人员。</p>
                                <p>2、设置结算密码</p>
                                <p>进入：“<b>我的账户</b>”-“<b>安全设置</b>”-“<b>结算密码</b>”，可以选择用手机号或者邮箱收取验证码后，设置本账号的结算密码。注意：结算密码与登录密码可以一致。</p>
                                <img src="/static/image/settle-3.png" alt="">
                                <p>3、进行结算申请</p>
                                <p>进入：“<b>我的账户</b>”-“<b>结算中心</b>”-点击“<b>申请结算</b>”，系统默认调用认证中心中的结算方式信息，可以选择提现金额再输入结算密码，并查看勾选支付协议，最后点击“<b>申请提现</b>”。之后可以看到申请成功的记录。</p>
                                <img src="/static/image/settle-4.png" alt="">
                                <p class="sy-orange">注意：系统目前申请提现记录不能修改（包括删除），每月只能申请一笔（一次），故请确认所有信息后慎重操作。</p>
                                <p>在此，对我司网站更新给您带来的不便深感歉意，若在使用系统中有任何意见或者建议可在系统“个人中心-意见反馈”中填写，亦可通过“关于我们”-“帮助中心”-“联系我们”中的联系方式联系我们，或者通过已建立线下联系方式及时联系反馈，感谢您的理解与支持。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cntItem cnt-item help_order sy-hidden">
                <h5>1.语言桥兼职平台有哪几种订单？</h5>
                <p>两种：众包订单和普通订单。</p>
                <p>众包订单指需您独立完成所有工作流程并按照质量等级要求交付成品译件的订单。工作流程包括但不限于翻译、审校、润色、质检、排版等。</p>
                <p>普通订单指需您按项目经理分配的任务独立完成相应流程工作并交付译件的订单。任务包括但不限于翻译、审校、润色、质检等。</p>
                <h5>2.不同订单的价格一样吗？</h5>
                <p>当然不，多劳多得！</p>
                <p>众包订单，专业级和出版级，您都将获得更高的酬劳，但需要您任劳任怨独立完成所有的工作。</p>
                <p>普通订单，还有不同流程的战士和项目经理与您并肩战斗，所以您要和小伙伴一起分享劳动的报酬。</p>
                <h5>3.已经领取的订单可以取消吗？</h5>
                <p>可以，但可能给您带来一定的惩罚。</p>
                <p>我们为您提供了预览服务，便于您在决定领取订单前预览稿件，并结合订单要求评估是否可以保质保量如期交付，记住要接力所能及的订单。</p>
                <p>取消订单的处罚规定：第一次取消订单将会收到站内信警告，取消三次您的账号将被封禁三个月。</p>
                <h5>4.订单必须在语言桥兼职平台在线翻译吗？</h5>
                <p>平台拥有一个简单好用的计算机辅助翻译工具，接单、做单、交付、领钱，都可以在线完成，是一件挺好的事！</p>
                <p>当然，凡事都有万一，所以我们也支持离线翻译，以备特事特办。</p>
            </div>
            <div class="cntItem cnt-item help_account sy-hidden">
                <h5>1.平台译员稿费会征税吗？</h5>
                <p>平台采用第三方支付，根据国家相关法律规定，平台译费发放会严格按照个人所得税征收标准征收，若发现提现实际到账金额和提现申请金额不符，则相应部分为个税扣费。您与语言桥兼职平台、第三方机构签署合作协议。税率标准：1%，若国家政策有变，将会及时更新信息并通知。</p>
                <h5>2.平台收入类型是什么？</h5>
                <p>收入类型：经营所得。平台所有人员不得是国家规定不能从事个体经营活动的个人。</p>
                <h5>3.参与平台的其它活动得到的奖励如何结算？</h5>
                <p>按照具体的活动奖励方式计入个人账户。</p>
                <h5>4.违反平台规则会被扣除稿费吗？</h5>
                <p>会。如果严重拖稿或者质量严重不达标造成严重影响等情况将会视情况扣除相应比例的费用。具体规则请查看：关于我们——服务条款。</p>
                <h5>5.费用什么时间可以提现呢？</h5>
                <p>每月16-20日可申请提现，可提现金额为当月1日前进账的金额，每种货币每月只可申请一次，当月月底前到账，节假日顺延。</p>
                <p>操作步骤：个人中心——结算中心。</p>
                <h5>6.平台支持哪些提现方式？</h5>
                <p>平台目前可支持银行卡、支付宝、PayPal三种提现方式。银行卡和支付宝两种方式适用于中国大陆用户，PayPal支付适用于中国大陆以外的其它用户。</p>
                <h5>7.一定要进行结算方式认证吗？</h5>
                <p>一定要。结算方式认证关系到译员译费是否能安全发放，请务必认真核实、认真对待，确保账号相关信息准确无误。</p>
                <h5>8.关于发票信息，如需申请发票，发票信息如下：</h5>
                <p>● 公司名称：四川语言桥信息技术有限公司</p>
                <p>● 统一社会信用代码：91510100686315575Y</p>
                <p>● 开户行及账号：工行成都金牛支行营业室 4402243009006001583</p>
                <p>● 公司注册地址：中国（四川）自由贸易试验区成都高新区天府大道北段1288号1幢1单元801、802、803号</p>
                <p>● 联系电话：028-87681551</p>
            </div>
            <div class="cntItem cnt-item help_rule sy-hidden">
                <h5> 1.如何获取译侠值？</h5>
                <p>译侠值是您在平台上的表现分，高质量完成订单，承接更多订单，积极发布文章等都可以帮您获得译侠值。</p>
                <h5> 2.译侠值有什么用？</h5>
                <p>译侠值越高，接到订单推送的次数越多，接到高单价订单的机会越多。</p>
                <h5>3.如何获取积分？</h5>
                <p>积分是您在平台上的活跃分，完成注册、邀请好友、测试、接单、客户好评及发布文章等都可以帮助您获取积分。</p>
                <h5>4.积分有什么用？</h5>
                <p>积分可在积分商城兑换礼品、折算成现金提现等（累积积分，等待积分商城上线吧）。</p>
                <h5>5.译员共有几个等级？</h5>
                <p>译员共分为三个大等级：初级、中级和高级。其中每个等级又有细分等级。</p>
                <p>P1-P3为初级；P4- P6为中级；P7- P9为高级。</p>
                <h5>6.可以跨等级接单吗？</h5>
                <p>不可以。译员只能接到与自己测试能力匹配的订单。想要接到更高等级的订单就需要测试升级。</p>
                <h5>7.选择领域很重要吗？</h5>
                <p>是的。平台细分译员和订单的领域，您选择自己擅长的领域，将能与订单精准匹配。</p>
                <h5>8.如何签到？</h5>
                <p>您可在头像下方点击【签到领积分哦】完成签到，每日可签到一次。</p>
                <h5>9.签到有什么作用？</h5>
                <p>签到可获得积分、提高平台活跃度，有利于您接到订单。</p>
                <h5>10.如何通过技能测试？</h5>
                <p>想要成为语言桥兼职平台译员，需要首先完成技能测试。</p>
                <p>分为选择题测试和翻译题测试，均与选择的领域相关。</p>
                <p>1) 选择题测试：测试时间15分钟，10道题目，答对6道即可通过测试。</p>
                <p>第一次未通过，需在24小时之后才能第二次测试，第二次测试仍未通过需要一个月后才能再次测试。</p>
                <p>2) 翻译题测试：时间为24小时，中途可保存退出。</p>
                <p>确认答案提交后会在3-5天内告知审核结果。</p>
                <p>审核结果将通过站内信通知您，请及时查看。</p>
                <p>两种测试超时未完成则浪费一次测试机会。</p>
                <h5>11.什么是升级测试？</h5>
                <p>升级测试为译员等级提升测试，您须完成平台规定数量的订单后，开启升级测试。</p>
                <p>译员升级测试为翻译题测试。时间24小时，中途可保存后退出。</p>
                <p>确认答案提交后会在3-5天内告知审核结果。审核结果将通过站内信通知您，请及时查看。</p>
            </div>
            <div class="cntItem cnt-item help_quality sy-hidden">
                <h5>一、语言桥译文重大质量问题及扣款原则</h5>
                <p>1) 译文有严重错误可能引发极端后果，存在给用户造成政治、法律、安全、健康、财务等方面损失的风险，扣除翻译费用的60%-100%。严重错误包括：</p>
                <p>● 政治敏感内容错误；</p>
                <p>● 出现在显著位置（封面、标题等）的公司/机构名称错误或遗漏、产品名称错误或遗漏、人名地名错误或遗漏；</p>
                <p>● 技术参数错误或遗漏，导致产品功能被篡改或曲解，导致应用崩溃；</p>
                <p>● 招投标书、合同中的金额和日期错误或遗漏；</p>
                <p>2) 译文存在除第一条以外的数字错误、漏译、拼写错误/错别字、一致性错误、标点错误，扣除翻译费用的30%-50%；专有名词、术语错误，扣除翻译费用的30%；地道性、专业性错误，扣除翻译费用的20%。同时出现关于上述几项问题时，以扣款比例最高的一项为准。</p>
                <p>3) 对于非机翻编辑（MT+PE）项目，译文若有明显机器翻译痕迹，扣除当次全部翻译费用。</p>
                <p>4) 译文错误数量较多，修改量超过50%，扣除翻译费用的50%-100%。</p>
                <p>5) 不能按时交稿，但没有提前告知我司派稿人员，酌情扣除一定比例翻译费用，最高可拒付翻译费用。</p>
                <p>6) 译员交稿后的48小时内应保持通信畅通，以便处理与译文相关的事宜，对于译文未达到《语言桥兼职译员译文自检标准》，交稿48小时内联系不上的译员，酌情扣除一定比例翻译费用。</p>
                <p>7) 如果译文经公司验收并提交后，客户对译文不满意，要求修改，则译员应配合修改译文。如果因不愿意修改而导致公司联系其他译员所产生的修改费用，将从待付翻译费用中扣除。</p>
                <p class="sy-center sy-bold">扣款流程</p>
                <img src="/static/image/扣款流程.jpg" alt="">
                <h5>二、语言桥译文质量验收标准</h5>
                <p>为规范译员作业，明确译文质量要求，特制订本标准。译员应当认真作业、仔细核查，确保译文符合以下各项要求。</p>
                <table class="am-table am-table-bordered sy-font-md">
                    <tr>
                        <th>基本要求</th>
                        <th>类型</th>
                        <th>具体说明</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td class="v-align" rowspan="5">准确性</td>
                            <td class="v-align">无漏译</td>
                            <td>
                                译文完整反映原文内容，无单词、短语、句段、文件等漏译，尤其注意：<br>
                                ● 确保封面、页眉页脚、大标题等显眼位置或文件重要部分无漏译<br>
                                ● 确保关键术语、客户关键信息无漏译<br>
                                ● 确保图片、表格中无漏译
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">无错译</td>
                            <td>
                                译文准确反映原文内容，无单词、短语、句段等错译，尤其注意：<br>
                                ● 确保封面、页眉页脚、大标题等显眼位置或文件重要部分无错译<br>
                                ● 确保关键术语、客户关键信息无错译<br>
                                ● 确保图片、表格中无错译
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">数据准确</td>
                            <td>● 译文与原文中的数字和单位保持一致（客户要求进行单位换算的情况除外）</td>
                        </tr>
                        <tr>
                            <td class="v-align">无冗译</td>
                            <td>
                                ● 译文中不得缺失原文的内容<br>
                                ● 译文中不得增添原文没有的内容
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">无过译</td>
                            <td>● 不该翻译的原文信息应保留不译，如命令行、参数、代码、URL、地址（客户要求进行翻译的情况除外）信息等</td>
                        </tr>
                        <tr>
                            <td class="v-align" rowspan="5">语言</td>
                            <td class="v-align">可读性佳</td>
                            <td>● 译文通顺，符合目标语言的表达习惯</td>
                        </tr>
                        <tr>
                            <td class="v-align">语法正确</td>
                            <td>● 译文句子结构、时态、语态、词语使用符合目标语言的语法要求</td>
                        </tr>
                        <tr>
                            <td class="v-align">用词正确</td>
                            <td>● 选词或词语搭配得当 <br>
                                ● 地名/人名/机构名称等专有名词采用指定译法或官方确认译法（无官方译法，应与我方确认）
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">拼写正确</td>
                            <td>● 译文书写正确/拼写正确</td>
                        </tr>
                        <tr>
                            <td class="v-align">标点正确</td>
                            <td>● 标点符号的使用符合项目要求或目标语行文习惯，无错标点，多标点，遗漏标点等情况</td>
                        </tr>
                        <tr>
                            <td class="v-align" rowspan="2">术语</td>
                            <td class="v-align">术语准确</td>
                            <td>● 术语符合公认的行业标准 <br>
                                ● 术语符合上下文要求
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">术语一致</td>
                            <td>● 术语译文与术语表/语料库/提供的参考资料保持一致</td>
                        </tr>

                        <tr>
                            <td class="v-align" rowspan="3">风格</td>
                            <td class="v-align">一致性</td>
                            <td>● 译文与客户要求的译法保持一致，与TM/语料库中的正确译法保持一致（多人协作翻译项目，如需修改库中的错误译法，需告知我方）<br>
                                ● 原文相同，译文的结构、句式、选词、标点使用一致（上下文影响需要灵活处理的情况除外）<br>
                                ● 交叉引用保持一致 <br>
                                ● 目录与正文标题保持一致<br>
                                ● 界面翻译与图片或正文引用中保持一致
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">大小写</td>
                            <td>● 标题或专有名词按大小写要求处理</td>
                        </tr>
                        <tr>
                            <td class="v-align">专业性</td>
                            <td>● 表达专业</td>
                        </tr>
                        <tr>
                            <td class="v-align" rowspan="3">格式</td>
                            <td class="v-align">显示</td>
                            <td>● 译文中的文字、符号、图片、控件等内容正常显示，无乱码 <br>
                                ● 印章或签字无遗漏，位置正确 <br>
                                ● 字体、大小、粗体、斜体、色彩、换行符等与原文一致（我方特殊要求的情况除外）
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">CAT工具</td>
                            <td>● 不得破坏、删除、添加标签</td>
                        </tr>
                        <tr>
                            <td class="v-align">排版</td>
                            <td>● 排版格式符合项目要求，不得错排、漏排</td>
                        </tr>
                        <tr>
                            <td class="v-align" rowspan="3">其他</td>
                            <td class="v-align">敏感性</td>
                            <td>● 不得使用对种族、性别、职业、信仰、残障人士不当的表达或措辞 <br>
                                ● 对政治敏感性术语的翻译，应当遵循语言桥的风格指南或项目要求
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">本地化</td>
                            <td>● 地址、日期、货币、计量单位等使用符合目标国家/地区的使用标准 <br>
                                ● 无编码错误
                            </td>
                        </tr>
                        <tr>
                            <td class="v-align">其他无法归类的错误</td>
                            <td>● 无法归入以上分类中的其他错误</td>
                        </tr>
                        <tr>
                            <td class="v-align">按时交稿</td>
                            <td colspan="2">根据约定时间，可以按时或提前交稿，包括约定提交的中间稿 <br>
                                注意：若无法按时完成翻译量，需要我方配合将剩余稿件重新分配，请提前告知项目负责人。 <br>
                                提前告知时间≥无法按时完成字数/500*1（小时）
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cntItem cnt-item help_contact sy-hidden">
                <h5> 如何联系我们？</h5>
                <p>1.客服QQ：3003700201（备注：语言对➕领域➕姓名）</p>
                <p>2.客服微信：yuyanqiao2000（备注：语言对➕领域➕姓名）</p>
                <p>3.客服电话：028-87681551-735（工作时间：工作日9：00-18：00）</p>
                <p>4.关注语言桥之声微信，了解更多信息。</p>
                <img src="/static/image/gongzhonghao.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    $('.about_aside').on('click', function (e){
        var target = e.target;
        if($(target).hasClass('tabItem')){
            var targetEl = target.id;
            $(target).addClass('active').siblings().removeClass('active');
            $('.'+ targetEl).removeClass('sy-hidden').siblings().addClass('sy-hidden');
        }
    });
</script>