<div class="content">
    <div class="about_page about help">
        <aside class="about_aside">
            <div class="tabItem tab-item active" id="help_about">关于啄语系统</div>
            <div class="tabItem tab-item" id="help_order">订单相关</div>
            <div class="tabItem tab-item" id="help_account">账户相关</div>
            <div class="tabItem tab-item" id="help_rule">平台规则</div>
            <div class="tabItem tab-item" id="help_contact">联系我们</div>
        </aside>
        <div class="about_cnt">
            <div class="cntItem cnt-item help_about">
                <h5 class="sy-baseColor">关于啄语系统</h5>
                <div class="am-panel-group" id="help_about_accordion">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_1'}">一、如何成为【啄语】译员？</h4>
                        </div>
                        <div id="help_about_1" class="am-panel-collapse am-collapse am-in">
                            <div class="am-panel-bd">
                                <p>1、点击【注册】,可通过手机号码和邮箱进行注册。</p>
                                <img src="/static/image/help.png" alt="">
                                <p>2、忘记密码：可通过手机和邮箱重置密码。</p>
                                <img src="/static/image/help1.png" alt="">
                                <p>3、完善信息：信息包括【基本信息】和【个人简历】</p>
                                <p class="sy-center">基本信息</p>
                                <img src="/static/image/help2.png" alt="">
                                <p  class="sy-center">个人简历</p>
                                <img src="/static/image/help3.png" alt="">
                                <p>4、技能测试：进入【个人中心】，进行【技能测试】，通过测试即可成为啄语译员。</p>
                                <p>1) 语种及领域：选择语言对、行业等可实现订单精准推送。 </p>
                                <p>2) 选择题测试：每个语言对，有2次测试机会。第一次测试未通过须在24小时后才能参与第二次测试；若第二次测试未通过，一个月后才能参与测试。</p>
                                <img src="/static/image/help4.png" alt="">
                                <p>3) 翻译题测试： 24小时之内提交译文。翻译过程被打断，请及时点击保存按钮。译文提交后，工作人员将在3-5个工作日内完成审核。</p>
                                <img src="/static/image/help5.png" alt="">
                                <p>5、身份认证：【实名认证】及【结算方式认证】，可支持支付宝结算。</p>
                                <img src="/static/image/help6.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_2'}">二、如何获取更多订单？</h4>
                        </div>
                        <div id="help_about_2" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <p>1、完善个人信息、简历以及项目经验；</p>
                                <p>2、用高质量译稿获得客户及项目经理好评和认可；不拖稿，态度积极，认真负责；</p>
                                <p>3、平台活跃度高，每日签到；</p>
                                <p>4、积极发布平台文章，并审核通过；</p>
                                <p>5、译员测试得分以及译侠值得分高。</p>
                            </div>
                        </div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#help_about_accordion', target: '#help_about_3'}">三、如何获得更多积分和现金红包？</h4>
                        </div>
                        <div id="help_about_3" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <p>1、平台活跃度高，每日签到；</p>
                                <img src="/static/image/help7.png" alt="">
                                <p>2、邀请好友注册并完成订单：好友参与度越高，邀请人积分以及红包收益也越大。</p>
                                <img src="/static/image/help8.png" alt="">
                                <p>3、获得客户及项目经理好评；</p>
                                <p>4、积极参与平台各种活动；</p>
                                <img src="/static/image/help9.png" alt="">
                                <p>5、平台文章发布并审核通过。</p>
                                <img src="/static/image/help10.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cntItem cnt-item help_order sy-hidden">
                <h5>1.啄语平台有哪几种订单？</h5>
                <p>两种：众包订单和普通订单。</p>
                <p>众包订单指需您独立完成所有工作流程并按照质量等级要求交付成品译件的订单。工作流程包括但不限于翻译、审校、润色、质检、排版等。</p>
                <p>普通订单指需您按项目经理分配的任务独立完成相应流程工作并交付译件的订单。任务包括但不限于翻译、审校、润色、质检等。</p>
                <h5>2.不同订单的价格一样吗？</h5>
                <p>当然不，多劳多得嘛！</p>
                <p>众包订单，专业级和出版级，您都将获得更高的酬劳，但需要您任劳任怨独立完成所有的工作哦。</p>
                <p>普通订单，还有不同流程的战士和项目经理与您并肩战斗，所以您要和小伙伴一起分享劳动的报酬。</p>
                <h5>3.已经领取的订单可以取消吗？</h5>
                <p>可以，但可能给您带来一定的惩罚哟。</p>
                <p>我们为您提供了预览服务，便于您在决定领取订单前预览稿件，并结合订单要求评估是否可以保质保量如期交付，记住要接力所能及的订单哦。</p>
                <p>取消的小小惩罚来了：第一次取消订单将会收到站内信警告，取消三次您的账号将被封禁三个月。</p>
                <h5>4.订单必须在啄语在线翻译吗？</h5>
                <p>啄语可是拥有一个简单好用的计算机辅助翻译工具呢，接单、做单、交付、领钱，都在啄语上在线完成，是一件挺好的事呢！</p>
                <p>当然，凡事都有万一嘛，所以我们也提供了离线翻译，以备特事特办。</p>
            </div>
            <div class="cntItem cnt-item help_account sy-hidden">
                <h5>1.啄语平台译员稿费会征税吗？</h5>
                <p>根据国家相关法律规定，啄语平台译费发放会严格按照个人所得税征收标准征收，若发现提现实际到账金额和提现申请金额不符，则相应部分为个税扣费。您与啄语、第三方机构签署合作协议，将享受1%的税率政策。</p>
                <h5>2.参与平台的其它活动得到的奖励如何结算？</h5>
                <p>按照具体的活动奖励方式计入个人账户。</p>
                <h5>3.违反平台规则会被扣除稿费吗？</h5>
                <p>会。如果严重拖稿或者质量严重不达标造成严重影响等情况将会视情况扣除相应比例的译费。具体规则请查看：关于我们——服务条款。</p>
                <h5>4.稿费什么时间可以提现呢？</h5>
                <p>每月16-20日可申请提现，可提现金额为当月1日前进账的金额，且每月只可申请一次，单次提现金额不得低于50元，当月月底前到账，节假日顺延。</p>
                <p>操作步骤：个人中心——结算中心。</p>
                <h5>5.啄语平台支持哪些提现方式？</h5>
                <p>平台目前可支持银行卡、支付宝、PayPal三种提现方式。银行卡和支付宝两种方式适用于中国大陆用户，PayPal支付适用于中国大陆以外的其它用户。</p>
                <h5>6.一定要进行结算方式认证吗？</h5>
                <p>一定要。结算方式认证关系到译员译费是否能安全发放，请务必认真核实、认真对待，确保账号相关信息准确无误。</p>
            </div>
            <div class="cntItem cnt-item help_rule sy-hidden">
                <h5> 1.如何获取译侠值？</h5>
                <p>译侠值是您在平台上的表现分，高质量完成订单，承接更多订单，积极发布文章，参加活动等都可以帮您获得译侠值。</p>
                <h5> 2.译侠值有什么用？</h5>
                <p>译侠值越高，接到订单推送的次数越多，接到高单价订单的机会越多。</p>
                <h5>3.如何获取积分？</h5>
                <p>积分是您在平台上的活跃分，完成注册、邀请好友、测试、接单、客户好评及发布文章等都可以帮助您获取积分。</p>
                <h5>4.积分有什么用？</h5>
                <p>积分可在积分商城兑换礼品、折算成现金提现等（累积积分，等待积分商城上线吧）。</p>
                <h5>5.译员共有几个等级？</h5>
                <p>译员共分为三个大等级：初级、中级和高级。其中每个等级又有细分等级。</p>
                <p>P1-P3为初级；P4- P6为中级；P7- P9为高级。</p>
                <h5>6.可以跨等级接单吗？</h5>
                <p>不可以。译员只能接到与自己测试能力匹配的订单。想要接到更高等级的订单就需要测试升级。</p>
                <h5>7.选择领域很重要吗？</h5>
                <p>是的。啄语平台细分译员和订单的领域，您选择自己擅长的领域，将能与订单精准匹配。</p>
                <h5>8.如何签到？</h5>
                <p>您可在头像下方点击【签到领积分哦】完成签到，每日可签到一次。</p>
                <h5>9.签到有什么作用？</h5>
                <p>签到可获得积分、提高平台活跃度，有利于您接到订单。</p>
                <h5>10.如何通过资格测试？</h5>
                <p>想要成为啄语的译员，需要首先完成资格测试。</p>
                <p>分为选择题测试和翻译题测试，均与选择的领域相关。</p>
                <p>您需首先通过选择题测试：测试时间15分钟，10道题目答对6道即可通过测试。</p>
                <p>第一次未通过，需在24小时之后才能第二次测试，第二次测试仍未通过需要一个月后才能再次测试。</p>
                <p>接下来，您需要完成翻译题测试：时间为24小时，中途可保存退出。</p>
                <p>确认答案提交后会在3-5天内告知审核结果。审核结果将通过站内信，或关注啄语微信公众号：【啄语】及时接收。</p>
                <p>两种测试超时未完成则浪费一次测试机会。</p>
                <h5>11.什么是升级测试？</h5>
                <p>升级测试为译员等级提升测试，您须完成平台规定数量的订单后，开启升级测试。</p>
                <p>译员升级测试为翻译题测试。</p>
                <p>时间24小时，中途可保存退出。</p>
                <p>确认答案提交后会在3-5天内告知审核结果。审核结果将通过站内信，或关注啄语微信公众号：【啄语】及时接收。</p>
            </div>
            <div class="cntItem cnt-item help_contact sy-hidden">
                <h5> 如何联系我们？</h5>
                <p>1.啄语客服QQ：3001881204（备注：语言对➕领域➕姓名）</p>
                <p>2.啄语客服微信：Zhuoyu-0401（备注：语言对➕领域➕姓名）</p>
                <p>3.啄语译员QQ群：681396760（备注：语言对➕领域➕姓名）</p>
                <p>4.客服电话：028-6391 6396 （工作时间：工作日9：00-18：00）</p>
                <p>5.关注啄语微信公众号，手机接单，查看最新信息。</p>
                <img src="/static/image/gongzhonghao.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script>
    $('.about_aside').on('click', function (e){
        var target = e.target;
        if($(target).hasClass('tabItem')){
            var targetEl = target.id;
            $(target).addClass('active').siblings().removeClass('active');
            $('.'+ targetEl).removeClass('sy-hidden').siblings().addClass('sy-hidden');
        }

    });
</script>