<div class="about about-us">
    <div class="banner"></div>
    <div class="am-g">
        <div class="content">
            <div class="am-u-lg-4">
                <img src="/static/image/about-1.png" alt="">
            </div>
            <div class="am-u-lg-8">
                <h3>啄语——智能语言服务及资源平台</h3>
                <p>在翻译全球化与互联网时代背景下应运而生,由数译（成都）信息技术有限公司打造，用AI及先进的翻译技术为翻译服务赋能，为译员提供自由接单、完美匹配、翻译软件及语料服务及交流成长等一站式轻量化智能平台翻译体验服务体验。</p>
                <p>啄语——译者未来！精心打造的三维智能评价算法，定位译员语言服务能力，快速智能匹配订单；20+常用语种、全领域翻译服务能力，海量订单，直击译员单少、价低的痛点。</p>
            </div>
        </div>
    </div>
    <div class="am-g gray">
        <div class="content">
            <div class="am-u-lg-8">
                <h3>订单充足 全领域多语种</h3>
                <p>依托语言桥，啄语每天推送近400个订单，涵盖文娱传媒、IT、法律财经、生物医药、工程、制造、化工等多个领域，英、俄、法、西、葡等多个语种，给“术业专攻“的你充分施展的舞台。</p>
            </div>
            <div class="am-u-lg-4">
                <img src="/static/image/about-2.png" alt="">
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="content">
            <div class="am-u-lg-4">
                <img src="/static/image/about-3.png" alt="">
            </div>
            <div class="am-u-lg-8">
                <h3>内置CAT 海量语料加持</h3>
                <p>内置在线版CAT与海量术语及语料，一键接单，一键开始生产，全程术语与语料支持，操作简捷，无需学习，助力高效翻译。 更有低错自动质检、一键排版等实用功能，让翻译之路省时省心省力。</p>
            </div>
        </div>
    </div>
    <div class="am-g gray">
        <div class="content">
            <div class="am-u-lg-8">
                <h3>数据智能 啄语者脱颖而出</h3>
                <p>啄语“三维”智能评价算法，客观评价译员，高效推送订单。无需被动等待，只要精雕细雕每一单，只在耐心服务每一个客户，只要按着反馈查漏补缺，不断成长，最适合你的订单就会汹涌而来。</p>
            </div>
            <div class="am-u-lg-4">
                <img src="/static/image/about-4.png" alt="">
            </div>
        </div>
    </div>
    <div class="am-g">
        <div class="content">
            <div class="am-u-lg-4">
                <img src="/static/image/about-5.png" alt="">
            </div>
            <div class="am-u-lg-8">
                <h3>酬金丰厚 提现便捷安全</h3>
                <p>优质优价，市场化定价，结果导向，多劳多得。合理的薪税规划，银行卡、支付宝、微信等多种提现方式，一键申请，快速到账，方便快捷。</p>
            </div>
        </div>
    </div>
</div>