<footer id="footer" class="footer">
    <div class="content">
        <div class="am-g nav">
            <div class="am-u-md-2">
                <img src="/static/image/logowhite.png" style="width: auto;height: auto" alt="">
            </div>
            <div class="am-u-md-3">
                <div class="item"><a href="/about/">关于我们</a></div>
                <div class="item"><a href="/about/help">帮助中心</a></div>
                <div class="item"><a href="/about/clause">服务协议</a></div>
            </div>
            <div class="am-u-md-5">
                <div class="item">译员招募热线：028-87681551-735</div>
                <div class="item">译员招聘QQ：3003700201</div>
                <div class="item">公司地址：成都市高新区天府大道1288号泰达时代中心1号楼8楼</div>
            </div>
            <div class="am-u-md-2 sy-right">
                <img src="/static/image/gongzhonghao.jpg" alt="">
            </div>
        </div>
        <div class="am-g bah">
            <div class="am-u-md-4">
                &copy; 四川语言桥信息技术有限公司
            </div>
            <div class="am-u-md-4 sy-center">
                <a href="http://www.yyqtrans.com/" target="_blank" rel="nofollow">www.yyqtrans.com</a>
            </div>
            <div class="am-u-md-4 sy-right">
                <a href="http://www.beian.miit.gov.cn" target="_blank" rel="nofollow">蜀ICP备14015776号</a>
            </div>
        </div>
    </div>
</footer>