<footer id="footer" style="padding: 10px 0;color: #888;background: #fff;">
    <div class="content sy-font-md sy-center">
        四川语言桥信息技术有限公司 版权所有 2019<%= new Date().getFullYear() > 2019 ? '-'+ new Date().getFullYear() : '' %>
        <a href="http://www.beian.miit.gov.cn" target="_blank" rel="nofollow">蜀ICP备14015776号</a>
    </div>
</footer>