@import "setUp";

.order_page{
  width: auto;
  padding-top: 25px;
  .content-left{
    &.extra{
      width: 100%;
      section.cnt>.item>.detail>div:nth-child(1){
        width: 20%;
      }
      section.cnt>.item>.detail>div:nth-child(2){
        width: 10%;
      }
      section.cnt>.item>.detail>div:nth-child(3){
        width: 28%;
      }
      section.cnt>.item>.detail>div:nth-child(4){
        width: 10%;
      }
      section.cnt>.item>.detail>div:nth-child(5){
        width: 22%;
      }
      section.cnt>.item>.detail>div:nth-child(6){
        width: 10%;
      }
      a.download{
        color: #1AC3D4;
        &:hover{
          color: #37d4cd;
        }
      }
      nav.nav{
        min-height: 40px;
      }
    }
    nav.nav{
      min-height: 74px;
      font-size: 0;
      &>.nav{
        border-bottom: 2px solid $baseColor;
        &>.item{
          display: inline-block;
          width: 90px;
          height: 38px;
          line-height: 38px;
          margin-right: 15px;
          text-align: center;
          color: #666;
          font-size: 14px;
          background: #EBEBEB;
          border-radius: 2px 2px 0 0;
          letter-spacing: 1px;
          &.active,
          &:hover{
            color: #fff;
            background: $baseColor;
          }
        }
      }
      &>.filter{
        padding: 6px 0;
        background: #FCFCFC;
        &>.item{
          display: inline-block;
          height: 22px;
          line-height: 22px;
          padding: 0 18px;
          font-size: 14px;
          letter-spacing: 1px;
          color: #333;
          border-left: 1px solid #EBEBEB;
          &:last-child{
            border-right: 1px solid #EBEBEB;
          }
          &.active,
          &:hover{
            cursor: pointer;
            color: $baseColor;
          }
        }
        &>div{
          margin-right: 10px;
        }
        .am-checkbox,.am-radio{
          display: inline-block;
          margin: 0;
          margin-left: 20px;
          cursor: pointer;
        }
        .am-ucheck-icons{
          left: 2px;
        }
      }
    }
    section.cnt{
      &.extra{
        &>.item>.detail{
          padding: 0 50px;
        }
        &>.item>.detail>div{
          width: auto!important;
          &:last-child{
            color: $baseColor;
            font-weight: bold;
          }
          em{
            font-weight: normal;
          }
        }
      }
      &>.item{
        border: 1px solid #eee;
        &+.item{
          margin-top: 18px;
        }
        &>.base{
          height: 40px;
          padding: 8px 10px 0;
          font-size: 14px;
          background: #F6F6F6;
          label{
            display: inline-block;
            height: 20px;
            line-height: 16px;
            padding: 0 6px;
            margin-right: 15px;
            color: $baseColor;
            font-size: 12px;
            border: 1px solid $baseColor;
            border-radius: 10px;
            background: #fff;
          }
          span{
            &+span{
              margin-left: 15px;
            }
            &:last-child.sy-float-r{
              margin-right: 10px;
            }
          }
        }
        &>.detail{
          height: 140px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          &>div{
            text-align: center;
            &:nth-child(1){
              width: 250px;
            }
            &:nth-child(2){
              width: 120px;
            }
            &:nth-child(3){
              width: 120px;
            }
            &:nth-child(4){
              width: 150px;
            }
          }
          em{
            display: block;
            font-style: normal;
            font-size: 15px;
            font-weight: bold;
          }
          span{
            font-size: 12px;
            color: #555;
          }
          i{
            display: inline-block;
            vertical-align: -2px;
            width: 16px;
            height: 16px;
            background-image: url("/static/image/sprite.png");
            background-position: -414px -627px;
            &.well{
              background-position: -394px -627px;
            }
            &:last-child{
              margin-right: 5px;
            }
          }
          .sy-btn{
            display: block;
            margin: 0 auto;
            width: 74px;
            height: 30px;
            line-height: 28px;
            padding: 0;
            border-radius: 2px;
            font-size: 13px;
            letter-spacing: 1px;
            &+.sy-btn{
              margin-top: 15px;
            }
          }
        }
        &:hover{
          box-shadow: 2px 2px 8px -1px rgba(0,0,0,.1);
        }
      }
    }
    div.more{
      margin: 60px 0;
      button{
        width: 100px;
        height: 32px;
        line-height: 32px;
        border: none;
        outline: none;
        border-radius: 0;
        font-size: 14px;
        color: #999;
        background: #EEEEEE;
        &:hover{
          cursor: pointer;
          outline: 1px solid #b8b8b8;
        }
      }
    }
  }
  .explain{
    position: absolute;
    right: 20px;
    top: 10px;
    &:hover{
      cursor: help;
      opacity: .8;
    }
  }
  .search-box{
    padding: 10px 0;
    label+label{
      margin-left: 5px;
    }
    label,
    input{
      font-size: 14px;
    }
    input{
      display: inline;
      height: 32px;
      line-height: 32px;
      width: 110px;
      padding: 0 8px;
      border-radius: 2px;
      outline: none;
      border: 1px solid #BFBFBF;
      color: #333;
      &:focus{
        border-color: $baseColor;
      }
      &.lg{
        width: 150px!important;
      }
      &.md{
        width: 120px!important;
      }
    }
    button{
      border-radius: 0;
      height: 32px;
      line-height: 30px;
    }
    &.md input{
      width: 108px;
    }
  }
}
.am-modal-dialog{
  width: 640px!important;
}