<div class="personal resume">
    <!--学历信息-->
    <div class="resume-item degree">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">学历信息（必填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add degree"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>毕业院校：</div>
                                <div>
                                    <select id="schoolType" class="extra" style="width: 80px;margin-right: 5px;">
                                        <option value="国内">国内</option>
                                        <option value="国外">国外</option>
                                    </select>
                                    <input id="graduatedSchoolName" type="text" required placeholder="请输入院校名称" style="width: 290px;">
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>专业：</div>
                                <div><input id="major" type="text" required placeholder="请输入专业"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>学历：</div>
                                <div><select id="degree" required placeholder="请选择学历">
                                        <option value="博士">博士</option>
                                        <option value="硕士">硕士</option>
                                        <option value="本科" selected>本科</option>
                                        <option value="大专">大专</option>
                                        <option value="其它">其它</option>
                                    </select></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>毕业时间：</div>
                                <div><input id="graduatedDate" type="text" required class="am-form-field graduateTime" placeholder="请选择毕业时间"/></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm id="degreeBtn_Resume" type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--上传证书-->
    <div class="resume-item skill">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">技能证书（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add skill"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form">
                       <form class="sy-personal-form sy-personal-base">
                           <div class="item">
                               <div><i class="required">*</i>证书名称：</div>
                               <div>
                                   <select id="userCertificateType" style="width: 260px;margin-right: 5px;"></select>
                                   <button id="skillBtn" type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh"
                                           style="margin-right: 0;vertical-align: -1.5px;"
                                           onclick="$('a.uploadify-button').click()">上传证书</button>
                                   <div id="upload" class="sy-hidden"></div>
                               </div>
                           </div>
                       </form>
                    </div>
                    <div class="show-info skill-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--工作经历-->
    <div class="resume-item work">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">工作经历（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add work"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>企业名称：</div>
                                <div><input id="companyName" required type="text" placeholder="请输入企业名称"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>起止时间：</div>
                                <div class="item-date-two">
                                    <input id="startDatetime" required type="text" class="am-form-field workStartTime" placeholder="请选择开始日期">
                                    <span class="sep-date"> - </span>
                                    <input id="endDatetime" required type="text" class="am-form-field workEndTime" placeholder="请选择结束日期"/>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>职位描述：</div>
                                <div>
                                    <textarea id="describe" required placeholder="请输入职位描述"></textarea>
                                    <p class="sy-right"><span>0</span>/300</p>
                                </div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="workBtn_Resume" data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--项目经历-->
    <div class="resume-item project">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">项目经历（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add project"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form">
                        <form class="sy-personal-form sy-personal-base">
							<div class="item">
                                <div><i class="required">*</i>项目名称：</div>
                                <div><input required data-id="projectName" type="text" placeholder="请输入项目名称"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>企业名称：</div>
                                <div><select data-id="companyName" class="companyName" required placeholder="请选择企业名称"></select></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>起止时间：</div>
                                <div class="item-date-two">
                                    <input data-id="startDatetime" required type="text" class="am-form-field projectStartTime" placeholder="请选择开始日期"/>
                                    <span class="sep-date"> - </span>
                                    <input data-id="endDatetime" required type="text" class="am-form-field projectEndTime" placeholder="请选择结束日期"/>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>项目描述：</div>
                                <div>
                                    <textarea data-id="describe" required placeholder="请输入项目描述"></textarea>
                                    <p class="sy-right"><span>0</span>/300</p>
                                </div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="projectBtn_Resume" data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--个性标签-->
    <div class="resume-item label">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">个性标签及擅长领域（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="edit sy-hidden"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="max-wd">
                                <span>个性标签让订单推送更加精准</span>
                                <div>
                                    <dl class="label individual">
                                        <dd>可提供排版</dd>
                                        <dd>可对照图片进行翻译</dd>
                                        <dd>可听译</dd>
                                        <dd class="extra">
                                            <input type="text" class="addLabelPut" placeholder="请输入标签">
                                            <button type="button" class="addBtn">添加</button>
                                        </dd>
                                    </dl>
                                    <dl class="label individual doself"></dl>
                                </div>
                            </div>
                            <div class="max-wd">
                                <span>擅长领域（最多选5项）</span>
                                <div><dl class="label expert"></dl></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md" style="padding-left: 80px;">
                            <button data-sy-reset type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="addLabelBtn_Resume" type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info sy-font-md"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script src="/static/lib/Huploadify.js"></script>
<script>
    laydate.render({ elem: '.graduateTime', type: 'month' });
    laydate.render({ elem: '.workStartTime', type: 'month' });
    laydate.render({ elem: '.workEndTime', type: 'month' });
    laydate.render({ elem: '.projectStartTime', type: 'month' });
    laydate.render({ elem: '.projectEndTime', type: 'month' });
    //获取简历信息
    __api__.getPageResume();
    __api__.getWorkedCompany();
    //上传学历
    setTimeout(function (){
        $('#upload').Huploadify({
            auto: true,
            multi: false,
            fileTypeExts: '*.jpg;*.png;*.jpeg;*.gif',
            fileObjName:'multipartFile',
            formData: {
                id: '',
                userId: localStorage.getItem('sy_rm_client_ud'),
                userCertificateType: $('#userCertificateType').val()
            },
            token: 'Bearer '+localStorage.getItem('sy_rm_client_access_token'),
            fileSizeLimit: 1024,
            uploader: __api__.baseRMUrl + '/userExtension/addSkillInfo',
            onUploadStart: function () {
                this.formData.userCertificateType = $('#userCertificateType').val();
                $.loading('正在上传');
            },
            onUploadComplete: function(file, res){
                const resJson = JSON.parse(res);
                if(resJson.message === 'success'){
                    __api__.getPageResume();
                    $('#sy-loading').remove();
                    $('div.skill').find('.add-form').addClass('sy-hidden');
                }
            },
            onUploadError: function(file, res){
                const resJson = JSON.parse(res);
                $('#sy-loading').remove();
                $.error(resJson.message);
            }
        });
    }, 1500);
    //获取证书名称
    __api__.getResponse({
        url: '/userExtension/listAllSkillType'
    }).then(res => {
        if(res.message === 'success'){
            let cerStr = '';
            res.data.forEach(item => {
                cerStr += `<option value="${item.skillType}">${item.skillType}</option>`;
            });
            $('#userCertificateType').html(cerStr);
        }
    });
    //获取所有领域
    __api__.getResponse({
        url: '/domain/listAll'
    }).then(res => {
        if(res.message === 'success'){
            let str = '';
            res.data.forEach(item => {
               str += `<dd class="area">${item.fullSpecialtyName}</dd>`;
            });
            $('dl.expert').html(str);
        }
    });
    //添加信息
    $('span.add').on('click', function () {
        var _this = $(this),
            outDiv = _this.parents('.resume-item'),
            formDiv = outDiv.find('.add-form');
        formDiv.removeClass('sy-hidden');
    });
    //取消保存
    $('button[data-sy-cancel]').on('click', function () {
        var _this = $(this),
            outDiv = _this.parents('.add-form'),
            targerEl = outDiv.find('input,select,textarea');
        _this.next().removeAttr('data-u-id');
        outDiv.addClass('sy-hidden');
        targerEl.each(function () {
            if(!$(this).hasClass('extra')){
                $(this).val('');
            }
            if(this.nodeName === 'TEXTAREA'){
                $(this).next().html(`<span>0</span>/300`);
            }
        });
    });
    //添加个性标签
    $('.addBtn').click(function () {
        var labelName = $('.addLabelPut').val();
        if($.trim(labelName) === ''){
            $.warning('请输入标签');
            return;
        }
        $('.doself').append(`<dd class="self">${labelName}<i class="am-icon-close"></i></dd>`);
        $(this).prev().val('');
    });
    //删除个性标签
    $('.doself').on('click', function (e) {
        if(e.target.nodeName === 'I'){
            var el = e.target.parentNode;
            $(el).remove();
        }
    });
    //选择擅长领域
    $('.expert,.individual').on('click', function (e) {
        if(e.target.nodeName === 'DD'){
            var dds = $(this).find('dd.selected');
            var _this = $(e.target);
            if($(e.target.parentNode).hasClass('expert')){
                if(dds.length < 5 || _this.hasClass('selected')){
                    _this.toggleClass('selected');
                }else{
                    $.warning('擅长领域最多选择5项');
                }
            }else{
                _this.toggleClass('selected');
            }
        }
    });
    //编辑个性标签和领域
    $('span.edit').on('click', function () {
        var parentDiv = $(this).parents('.resume-item'),
            tarForm = parentDiv.find('.add-form'),
            tarInfo = parentDiv.find('.show-info');
        var individualData = tarInfo.find('.individual').html().split(','),
            areaData = tarInfo.find('.expert').html().split(',');
        var labelIndividual = tarForm.find('.individual'),
            labelArea = tarForm.find('.expert');
        labelIndividual.eq(0).find('dd').each(function () {
            var _this = this;
            individualData.forEach(function(item,index) {
                item === $(_this).text() && $(_this).addClass('selected') && individualData.splice(index, 1);
            });
        })
        var selfStr = '';
        individualData.forEach(function (item) {
            selfStr += `<dd class="selected">${item}<i class="am-icon-close"></i></dd>`
        });
        labelIndividual.eq(1).html(selfStr);
        for(let i = 0; i<areaData.length; i++){
            for(let j =0; j<labelArea.find('dd').length; j++){
                var el = $(labelArea.find('dd')[j]);
                if(areaData[i] === el.text()){
                    el.addClass('selected');
                    break;
                }
            }
        }
        tarForm.removeClass('sy-hidden');
        tarInfo.addClass('sy-hidden');
    });
    //取消标签
    $('button[data-sy-reset]').click(function () {
        var _this = this,
            parentForm = $(_this).parents('.add-form');
        $('dl.label').find('dd').removeClass('selected');
        parentForm.addClass('sy-hidden');
        parentForm.next().removeClass('sy-hidden');
    });
    //判断textarea内容是否超过限制长度
    var putTimer = null;
    $('textarea').on('input', function () {
        var _this = this;
        clearTimeout(putTimer);
        putTimer = setTimeout(function () {
            var len = $(_this).val().length;
            if(len > 300 ){
                $.warning('内容长度超过限制');
                $(_this).attr('data-len-pass', 1);
                $(_this).next().html(`<span style="color: orangered">${len}</span>/300`);
                return false;
            }
            $(_this).removeAttr('data-len-pass');
            $(_this).next().html(`<span>${len}</span>/300`);
        }, 500);
    });
</script>