<div class="personal testing">
    <!--选择题-->
    <div class="am-g">选择题测试
        <span class="sy-font-sm label greenbg page">--/--</span>
    </div>
    <div class="choice choiceWrap">
        <div class="am-g warn">
            <div class="am-u-lg-9 sy-font-md tip-txt tipTxt"></div>
            <div class="am-u-lg-3 sy-center tip-time">
                <b>剩余时间</b>
                <span class="time">--:--:--</span>
            </div>
        </div>
        <div class="am-g test choiceTest">
            <button id="choiceConfirmBtn_Testing" type="button" class="sy-btn sy-btn-green sy-btn-md sy-font-md sy-hidden">下一题</button>
        </div>
    </div>
</div>
<script>

    $('.tipTxt').html(bundle.promptTxt.skillTestingChoice);

    (function () {
        //获取选择题试题
        __api__.getPageSkillChoiceTest().then(res => {
            if(res.data.remainTime && res.data.remainTime > 0){
                //倒计时
                var countDownEl = $('span.time');
                var time = Math.ceil(res.data.remainTime/1000);  //15分钟换算成900秒
                var countDown = setInterval(function(){
                    time --;
                    var minute = parseInt(time / 60) > 9 ? parseInt(time / 60) : '0'+parseInt(time / 60),
                        second = parseInt(time % 60) > 9 ? parseInt(time % 60) : '0'+parseInt(time % 60);
                    countDownEl.html('00:'+ minute +':'+ second);
                    if(minute === '00' && second === '00'){
                        $.success('测试时间已到');
                        clearInterval(countDown);
                        setTimeout(function () {
                            localStorage.removeItem('sy_rm_client_choice_test');
                            localStorage.removeItem('sy_rm_client_choice_test_no');
                            location.href = '/personal/skill';
                        },1500);
                        return false;
                    }
                },1000);
            }else{
                localStorage.removeItem('sy_rm_client_choice_test');
                localStorage.removeItem('sy_rm_client_choice_test_no');
                location.href = '/personal/skill';
            }
        });
    })();

    //选择答案
    $('.choiceTest').on('click', function (e) {
       if(e.target.nodeName === 'LI'){
            var _this = $(e.target);
            _this.addClass('active').siblings().removeClass('active');
       }
    });

    //刷新页面时弹出提醒
    window.onbeforeunload = function (event) {
        event.returnValue = "确定离开当前页面吗？"
    }

</script>