<% include skill_nav.ejs %>
<div class="personal skill">
    <div class="resource">
        <!--信息展示-->
        <div class="show-info sy-hidden">
            <div class="am-u-lg-12">
            <span class="editLabel edit sy-float-r">
                <i class="sy-personal-icon sy-personal-icon-edit"></i>编辑
            </span>
            </div>
            <div class="am-u-lg-12 labels">
                <div>培训经验：</div>
                <div>
                    <span>1年以下</span>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div style="vertical-align: top">语种信息：</div>
                <div>
                    <table class="am-table am-table-striped am-table-hover sy-center sy-font-md">
                        <thead>
                        <tr><th>擅长语言</th><th>一级领域</th><th>二级领域</th></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>职场技能软件：</div>
                <div>
                    <span>1年以下</span>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>培训师培训：</div>
                <div>
                    <span>1年以下</span>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>海外学习经历：</div>
                <div>
                    <span>1年以下</span>
                </div>
            </div>
            <div class="am-u-lg-12 labels">
                <div>海外工作经历：</div>
                <div>
                    <span>1年以下</span>
                </div>
            </div>
        </div>
        <!--提交、修改信息表单-->
        <form class="add-form" action="#">
            <div class="am-u-lg-12">培训经验(单选)：</div>
            <div class="am-u-lg-12 labels single" prop="培训经验"> <!--选中添加class=‘selected’-->
                <span>1年以下</span>
                <span>1~5年</span>
                <span>5~10年</span>
                <span>10年以上</span>
            </div>
            <div class="am-u-lg-12">语种信息(二级领域可多选)：</div>
            <div class="am-u-lg-12 labels select" prop="语种信息">
                <div class="label-item">
                    <select class="language">
                        <option value="">请选择擅长语言</option>
                    </select>
                    <select class="field-1">
                        <option value="">请选择一级领域</option>
                    </select>
                    <select class="field-2" multiple data-am-selected="{maxHeight: 200}"></select>
                    <button type="button" class="sy-btn sy-btn-sm sy-btn-green addLanPair">添加语种</button>
                </div>
                <table class="am-table am-table-striped am-table-hover sy-center sy-font-md">
                    <thead>
                    <tr><th>擅长语言</th><th>一级领域</th><th>二级领域</th><th>操作</th></tr>
                    </thead>
                    <tbody class="lanTarget"></tbody>
                </table>
            </div>
            <div class="am-u-lg-12">职场技能软件(可多项)：</div>
            <div class="am-u-lg-12 labels multiple" prop="职场技能软件">
                <span>面试求职</span>
                <span>职场沟通</span>
                <span>呼叫中心</span>
                <span>职业规划</span>
            </div>
            <div class="am-u-lg-12">培训师培训：</div>
            <div class="am-u-lg-12 labels multiple" prop="培训师培训">
                <span>培训师培训</span>
            </div>
            <div class="am-u-lg-12">海外学习经历(单选)：</div>
            <div class="am-u-lg-12 labels single" prop="海外学习经历">
                <span>有</span>
                <span>无</span>
            </div>
            <div class="am-u-lg-12">海外工作经历(单选)：</div>
            <div class="am-u-lg-12 labels single" prop="海外工作经历">
                <span>有</span>
                <span>无</span>
            </div>
            <div class="am-u-lg-12 sy-btns sy-font-md">
                <button class="btn btn-default sy-btn sy-btn-default sy-btn-md cancelBtn">取 消</button>
                <button class="btn btn-default sy-btn sy-btn-green sy-btn-md confirmBtn">提 交</button>
            </div>
        </form>
    </div>
</div>