<div class="activity a1_detail">
    <div class="bg a1_main_bg">
        <div class="content">
            <a class="a1_step a1_step_1 active" data-step="a1_step_1" href="javascript:void(0);"></a>
            <a class="a1_step a1_step_2" data-step="a1_step_2" href="javascript:void(0);"></a>
            <a class="a1_step a1_step_3" data-step="a1_step_3" href="javascript:void(0);"></a>
            <a class="a1_step a1_step_4" data-step="a1_step_4" href="javascript:void(0);"></a>
        </div>
    </div>
    <div class="bg a1_step a1_step_1 active" id="a1_step_1">
        <div class="content">
            <h3 class="sy-center">注册领单 礼从天降</h3>
            <div class="cnt">
                <h5>活动介绍</h5>
                <div class="step step1">
                    <p><span>1.</span>译员注册、完善个人资料，即可获得与账户锁定的10元现金红包。</p>
                    <img src="/static/image/activity/a1_detail_step_1-1.png" alt="">
                </div>
                <div class="step step2">
                    <p><span>2.</span>通过平台测试，完善接单信息，成为正式译员，即可获得与账户锁定的30元现金红包。</p>
                    <img src="/static/image/activity/a1_detail_step_1-2.png" alt="">
                </div>
                <div class="step step3">
                    <p><span>3.</span>在平台接单即可解锁红包。红包金额与订单额按照1：10比例解锁，如做单100元，解锁10元。订单额400元及以上</p>
                    <p>即可解锁全部迎新红包。红包自动存入账户，可申请提现。</p>
                    <img src="/static/image/activity/a1_detail_step_1-3.png" alt="">
                </div>
                <div class="sy-center" style="margin-top: 50px">
                    <a class="sy-btn sy-btn-md sy-btn-green sy-radius-50" href="/register">去注册</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg a1_step a1_step_2" id="a1_step_2">
        <div class="content">
            <h3 class="sy-center">首次抢单 现金直达</h3>
            <div class="cnt">
                <h5>活动介绍</h5>
                <div class="step step1">
                    <p><span>1.</span>通过平台测试的译员可在订单中心抢单。首次成功抢单即可获得与账户锁定的10元现金红包。</p>
                    <img src="/static/image/activity/a1_detail_step_2-1.png" alt="">
                </div>
                <div class="step step2">
                    <p><span>2.</span>译员完成订单，客户确认后按照红包金额与订单额1：10比例解锁，即完成100元订单即可申请提现110元。</p>
                    <img src="/static/image/activity/a1_detail_step_2-2.png" alt="">
                </div>
                <div class="step step3">
                    <p><span>3.</span>译员可通过关注微信公众号：【啄语】绑定个人账户，手机在手，抢单不愁。</p>
                    <img src="/static/image/activity/a1_detail_step_2-3.png" style="margin-left: 62px" alt="">
                </div>
                <div class="sy-center" style="margin-top: 50px">
                    <a class="sy-btn sy-btn-md sy-btn-green sy-radius-50" href="/order/">去抢单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg a1_step a1_step_3" id="a1_step_3">
        <div class="content" style="padding-top: 1px">
            <h3 class="sy-center">王者争霸 红包最大</h3>
            <div class="step_3-bg_1">
                <h4 class="step-1">活动介绍</h4>
                <div class="step-2">翻译字数是检验译者的试金石。通过平台测试的译员在活动期间接单，截止到10月31日24:00，
                根据完成订单总字数取前八名分别领取限量现金红包，红包直接进入译员个人账户，可申请提现。翻得多，领得多。</div>
                <h4 class="step-3">翻译总字数超过4万字的译员进入排名榜单</h4>
                <h4 class="step-4">奖项设置</h4>
            </div>
            <div class="step_3-bg_2"></div>
        </div>
    </div>
    <div class="bg a1_step a1_step_4" id="a1_step_4">
        <div class="content">
            <h3 class="sy-center">魔力圈圈 喜气连连</h3>
            <div class="cnt">
                <h5 class="zhuanpan sy-center">今日获得<strong>1</strong>次抽奖机会</h5>
                <div class="zhuanpan">
                    <div class="zhuanpanPoint" id="js_pointer">
                        <a class="zhuanpanBtn" href="javascript:;"
                           title="Let's GO"
                           onclick="lottery.draw()"></a>
                    </div>
                </div>
                <h5 class="history">我的抽奖记录</h5>
                <h4 class="intro sy-center">活动介绍</h4>
                <div class="intro">
                    <div>通过平台测试成为译员，每日一次抽奖机会。</div>
                    <div>完成当日订单，额外获得第二次抽奖机会。</div>
                    <div>每天每名译员最多参与两次抽奖。</div>
                </div>
                <h4 class="reward sy-center">活动奖品</h4>
                <div class="reward">
                    <div class="title">
                        <div>奖项</div>
                        <div>一等奖</div>
                        <div>二等奖</div>
                        <div>三等奖</div>
                        <div>四等奖</div>
                        <div>幸运奖</div>
                    </div>
                    <div class="detail">
                        <div>奖品</div>
                        <div>华为P30手机</div>
                        <div>小米手环3</div>
                        <div>漫步者K800头戴式耳机</div>
                        <div>5元现金红包</div>
                        <div>啄语网用户积分50分</div>
                    </div>
                </div>
                <h4 class="explain sy-center">活动说明</h4>
                <div class="explain sy-center">
                    <div>1. &nbsp;现金红包自动存入译员账户，达到可提现金额即可提现。</div>
                    <div style="margin-left: -25px">2. &nbsp;数码产品活动结束后（即10月31日）平台统一发放。</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/lib/zhuanpan.js"></script>
<script>
    //tab显示详情
    var refStep = bundle.getQueryString('step');
    var stepBtn = $('a.a1_step');
    stepBtn.on('click', function (){
        var currStep = $(this).attr('data-step');
        $(this).addClass('active').siblings().removeClass('active');
        $('div.a1_step.'+ currStep).addClass('active').siblings().removeClass('active');
    });
    if(refStep){
        $('a.a1_step.'+ refStep).addClass('active').siblings().removeClass('active');
        $('div.a1_step.'+ refStep).addClass('active').siblings().removeClass('active');
    }
    //大转盘
    var lottery = new LotteryDial(document.getElementById('js_pointer'), { // eslint-disable-line
        speed: 40, // 每帧速度
        areaNumber: 8 // 奖区数量
    })
    var index = -1;
    lottery.on('start', function () {
        // 请求获取中奖结果
        // index = Math.round(Math.random() * 10)
        index = 7
        lottery.setResult(index)
//    // 假如请求出错
//    setTimeout(function () {
//      lottery.reset()
//    }, 1000)
    })
    lottery.on('end', function () {
        console.log('中奖奖区：' + index)
    })
</script>