<div class="content">
    <div class="about_page about clause">
        <aside class="about_aside">
            <div class="tabItem tab-item active" id="clause_service">服务条款</div>
            <div class="tabItem tab-item" id="clause_user">隐私条款</div>
        </aside>
        <div class="about_cnt">
            <div class="cntItem cnt-item clause_service">
                <h5>【定义及解释】</h5>
                <pre>
一、 数译（成都）信息技术有限公司：以下简称“甲方”。
二、 用户：指符合本协议规定的条件，使用该平台的单位或个人，以下简称“乙方”。
三、 翻译服务：指甲方按照本协议通过网站（网址：---------------）及其他相关互联网平台向乙方提供的翻译兼职平台服务。翻译服务的所有权及运作权归甲方所有。
                </pre>
                <h5>【签约声明】</h5>
                <pre>
一、 乙方确认在签署本协议之前，已充分阅读、理解并同意本协议的全部内容（包括但不限于本协议全部声明及条款），一旦乙方点击确认同意本协议，即表示乙方同意遵循本协议之所有约定。
二、 乙方同意甲方可根据运营需求对本协议内容进行单方面的更新，并以在网站公告的方式公布；若乙方在本协议内容公告变更后继续使用本协议项下服务，即表示乙方已充分阅读、理解并同意更新后的协议内容，也将遵循修改后的协议内容使用服务；若乙方不同意更新后的协议内容，乙方应停止使用服务。
                </pre>
                <h5>【账户注册及登录】</h5>
                <pre>
一、 乙方按照注册页面提示填写信息、通过测试、完成认证、阅读并同意本协议且完成全部注册程序后，可以使用甲方允许的登录方式进入甲方网站及其他相关平台。
二、 乙方承诺在注册时及使用服务中所提供的一切信息均真实合法有效，特别是乙方提供的电子邮件地址、联系电话、联系地址、手机号码等联系方式，以便甲方可以通过上述联系信息联络到乙方本人；同时，乙方也应当在相关资料发生变更时及时更新有关注册资料。
三、 乙方同意接收来自甲方的信息，包括但不限于活动信息、交易信息、其他信息等。
四、 在乙方完成注册程序后，乙方声明和保证，乙方受本协议的约束。
                </pre>
                <h5>【账户安全】</h5>
                <pre>
一、 乙方须自行负责对乙方的登录名和密码保密，且须对该登录名和密码下发生的所有活动或行为（包括但不限于信息披露、发布信息、网上点击同意或购买服务等）承担责任。
二、 甲方将采取一切必要措施，保障乙方个人信息安全，防止信息泄露、损坏或丢失。在未经用户事先准许的情况下，甲方不得向任何第三方透露上述个人信息。出现以下情况的信息披露，本网站不承担任何责任：
        1) 根据国家法律规定或权力机关指示必须提供上述信息；
        2) 因用户向他人透露注册账户和密码等信息而导致的用户个人信息泄露；
        3) 由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致的用户个人信息泄露；
        4) 其他非因本网站原因导致的个人信息泄露。
                </pre>
                <h5>【兼职翻译服务内容】</h5>
                <pre>
一、 乙方通过甲方网站及其他相关网络平台的相关页面，向甲方提供兼职翻译服务。
二、 乙方提交翻译稿件：乙方通过甲方的网站及其他相关网络平台相关页面向甲方提交需要完成翻译的稿件。
三、 字数统计：根据甲乙双方约定的方式计数。
四、 服务质量：乙方承诺按照中华人民共和国国家标准 GB/T 19363.1-2003 相关规定完成稿件翻译服务
五、 翻译内容:甲方需要乙方完成翻译的文档内容，不得含以下内容：
        1) 反对中国宪法所确定的基本原则的；
        2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
        3) 损害中国国家荣誉和利益的；
        4) 煽动民族仇恨、民族歧视，破坏民族团结的；
        5) 破坏中国国家宗教政策。宣扬邪教和封建迷信的；
        6) 散布谣言，扰乱社会秩序，破坏社会稳定的；
        7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
        8) 侮辱或者诽谤他人，侵害他人合法权益的；
        9) 侵犯第三人著作权或其他权利的；
        10) 其他损害国家利益、社会利益、第三人的。
如果出现此种情形，乙方应承担全部责任，并有义务保证甲方不会因此遭受任何损失，否则甲方有权解除本合同，已收取翻译费用将不予退还，并有权要求乙方承担合同款项5%的违约金，不足以赔偿甲方损失的，还应当赔偿甲方因此造成的全部损失。
六、 服务费用：乙方根据甲方需求提供翻译语言对、翻译字数长度、质量等级、返稿时间等获得稿费。
七、 交稿方式及方式：
        1) 乙方根据约定时间提交符合质量标准的翻译稿件。具体的翻译实践根据翻译内容和难度而定。
八、 译文修改：甲方对译文有异议的，可以在交付译文后48小时内提出，则乙方有义务提供免费提供修改及相关服务。
十、 责任限额：乙方理解并同意，因本服务导致任何纠纷或赔偿的，甲方仅以服务订单金额为限承担责任。
                </pre>
                <h5>【付款】</h5>
                <pre>
一、 付款方式：甲方通过翻译平台提供的在线支付方式或线下支付方式向乙方提供稿费。具体时间付费时间及方式以甲方平台公布为准。
                </pre>
            </div>
            <div class="cntItem cnt-item clause_user sy-hidden">
                <pre>
一、 甲乙双方对因签订和/或履行本协议获得的对方的商业机密负有保密责任，不得以任何形式、任何理由透露给任何第三方，但依据双方书面约定、依据法律法规，或者依据司法和/或政府机关的要求进行披露的除外，否则，任何一方都有权向对方请求损失赔偿，并依法追究法律责任。
二、 保密条款不因本协议的无效、提前终止、解除或不具操作性而失效。
                </pre>
                <h5>【知识产权】</h5>
                <pre>
一、 乙方承诺对稿件拥有著作权或者已经获得了稿件原著作权人的许可，且使用翻译服务或行使译文的著作权时不侵犯原著作权人或他人的知识产权或其他合法权利。
二、 稿件翻译完成后译文的知识产权由甲乙（或原著作权人）双方共有。
                </pre>
                <h5>【不可抗力】</h5>
                <pre>
因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，可以解除本协议约束，协议双方均不承担任何责任。本协议中的不可抗力因素指不能预见、不能避免且不能克服的客观情况，包括但不限于战争、黑客攻击、国家强制性政策或任何其他人为造成的灾难等。
                </pre>
                <h5>【其他】</h5>
                <pre>
一、 本协议受中华人民共和国法律管辖。用户与本网站之间产生任何纠纷或争议，首先本着友好协商的态度解决，协商不成的，任何一方有权将争议提交至甲方住所地人民法院
二、 用户对本协议中的内容有任何疑问，可在线咨询客服或拨打-----------。
三、 本协议经乙方提交注册后正式生效。
                </pre>
            </div>
        </div>
    </div>
</div>
<script>
    $('.tabItem').on('click', function (){
        var _this = this,
            _target = _this.id;
        $(_this).addClass('active').siblings().removeClass('active');
        $('.'+ _target).removeClass('sy-hidden').siblings().addClass('sy-hidden');
    });
</script>