<div class="index">
    <div class="am-slider am-slider-default" data-am-flexslider style="height: 400px">
        <ul class="am-slides" style="height: 400px">
            <li style="background-image: url('/static/image/banner/home_banner-1.png')">
                <div class="slider-content">
                    <a class="sy-btn-index"
                       id="sliderTranslator_Index"
                       href="/register">成为译员 >></a>
                </div>
            </li>
            <li style="background-image: url('/static/image/activity/activity_banner-1.png')">
                <div class="slider-content">
                    <a class="pointer" href="/activity/a1_detail?step=a1_step_1"> </a>
                </div>
            </li>
            <li style="background-image: url('/static/image/activity/activity_banner-2.png')">
                <div class="slider-content">
                    <a class="pointer" href="/activity/a2"> </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="total sy-center">
            <div class="line"></div>
            <div class="font">
                <p style="height: 60px;line-height: 60px;">
                    <strong>2000</strong>
                    <span style="margin-left: 20px;vertical-align: 13px">位</span>
                </p>
                <p>自由译者加入啄语</p>
            </div>
        </div>
        <div class="introduce sy-center">
            <h3>为什么选择啄语平台</h3>
            <div class="introduce-container">
                <div class="item">
                    <img src="/static/image/index-introduce-1.png" alt="">
                    <h5>订单充足 全领域多语种</h5>
                    <p>依托语言桥，每天为平台译员提供近400个订单，涵盖文娱传<a href="#"> >>></a></p>
                    <div class="item-hide">
                        <h5>订单充足 全领域多语种</h5>
                        <p>依托语言桥，每天为平台译员提供近400个订单，涵盖文娱传媒、IT互联网、法律财经、生物医药、能源化工等多个领域，英、俄、法、西、葡等多个语种，给“术业专攻“的你充分施展的舞台。</p>
                        <a class="sy-btn sy-btn-sm sy-btn-default" href="">了解更多</a>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/image/index-introduce-2.png" alt="">
                    <h5>内置CAT 海量语料加持</h5>
                    <p>内置在线版CAT与海量术语及语料，一键接单，一键开始生<a href="#"> >>></a></p>
                    <div class="item-hide">
                        <h5>内置CAT 海量语料加持</h5>
                        <p>内置在线版CAT与海量术语及语料，一键接单，一键开始生产，全称术语与语料支持，操作简捷，无需学习，助力高效翻译。 更有低错自动质检、一键排版等实用功能，让翻译之路省时省心省力。</p>
                        <a class="sy-btn sy-btn-sm sy-btn-default" href="">了解更多</a>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/image/index-introduce-3.png" alt="">
                    <h5>数据智能 啄语者脱颖而出</h5>
                    <p>啄语“三维”智能评价算法，领单、派单更智能，更精准<a href="#"> >>></a></p>
                    <div class="item-hide">
                        <h5>数据智能 啄语者脱颖而出</h5>
                        <p>啄语“三维”智能评价算法，领单、派单更智能，更精准，更高效。译员更可自由设置接单时间，接单量等，自主安排碎片时间，让优秀的译员脱颖而出，同时帮助译员查漏补缺，和译员一起成长。</p>
                        <a class="sy-btn sy-btn-sm sy-btn-default" href="">了解更多</a>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/image/index-introduce-4.png" alt="">
                    <h5>酬金丰厚 提现便捷安全</h5>
                    <p>优质优价，市场化定价，结果导向，多劳多得。合理的薪税<a href="#"> >>></a></p>
                    <div class="item-hide">
                        <h5>酬金丰厚 提现便捷安全</h5>
                        <p>优质优价，市场化定价，结果导向，多劳多得。合理的薪税规划，银行卡、支付宝、微信等多种提现方式，一键申请，快速到账，方便快捷。</p>
                        <br>
                        <a class="sy-btn sy-btn-sm sy-btn-default" href="">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="order">
            <div class="am-g">
                <div class="am-u-md-8">
                    <a class="sy-btn sy-btn-sm sy-btn-default sy-btn-green" href="">图书译者招募 >></a>
                </div>
                <div class="am-u-md-4">
                    <h5 class="sy-center">订单状态</h5>
                    <div class="order-list">
                        <div class="textScroll">
                            <ul>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                                <li>
                                    <div class="info">译员<span>豆丁</span>领取了一个订单</div>
                                    <div class="time">09：20</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step">
            <h3 class="sy-center">接单流程</h3>
            <div class="step-bg"></div>
            <div class="step-item item-1">
                <h5>注册并完善资料</h5>
                <span>通过手机号码快速完成注册，并及时提交和完善个人信息。</span>
            </div>
            <div class="step-item item-2">
                <h5>译员资格测试</h5>
                <span>使用平台提供的测试题，测评自身的翻译技能，获得对应的译员等级和擅长领域。</span>
            </div>
            <div class="step-item item-3">
                <h5>参与翻译业务</h5>
                <span>在订单中心获取与自己匹配的订单，利用平台提供的翻译工具和风格指南，开启翻译之旅。</span>
            </div>
            <div class="step-item item-4">
                <h5>结算提现</h5>
                <span>得到客户确认后的订单，翻译费用将会自动生成，在啄语，每月你都有时间申请提现。</span>
            </div>
            <div class="sy-center">
                <a class="sy-btn sy-btn-md sy-btn-default sy-btn-green"
                   id="getOrderBtn_Index"
                   href="/login">我要接单</a>
            </div>
        </div>
    </div>
    <div class="star">
        <div class="content">
            <h3 class="sy-center">明星译员</h3>
            <div class="row">
                <div class="item item-1">
                    <h5><i></i>接单之星<i></i></h5>
                    <img src="/static/image/index-default-head.png" alt="head">
                    <p>豆丁</p>
                    <h4>25</h4>
                    <p>成交订单</p>
                </div>
                <div class="item item-2">
                    <h5><i></i>译能达人<i></i></h5>
                    <img src="/static/image/index-default-head.png" alt="head">
                    <p>豆丁</p>
                    <h4>19999</h4>
                    <p>翻译字数</p>
                </div>
                <div class="item item-3">
                    <h5><i></i>每日U+<i></i></h5>
                    <img src="/static/image/index-default-head.png" alt="head">
                    <p>豆丁</p>
                    <h4>999</h4>
                    <p>好评数</p>
                </div>
            </div>
        </div>
    </div>
<!-- 首页板块： 译员风采、行业资讯 -->
    <div class="content">
        <div class="saying">
            <h3 class="sy-center">啄语者说</h3>
            <div>
                <div class="bg">
                    <a class="sy-btn sy-btn-sm sy-btn-default sy-btn-green"
                       id="releaseBtn_Index"
                       href="/login">我要发表</a>
                </div>
                <div class="cnt goodArticleCnt">
                    <div class="more">
                        <a href="/information/">查看更多>></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="information">
            <h3 class="sy-center">行业资讯</h3>
            <div>
                <div class="bg"></div>
                <div class="cnt industryArticleCnt">
                    <div class="more">
                        <a href="/information/industryList">查看更多>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bg">
        <div class="content sy-center">
            <h3>语言雕“琢”者&nbsp;&nbsp;&nbsp;&nbsp;从啄语开始</h3>
            <a class="sy-btn sy-btn-md sy-btn-default sy-btn-green"
               id="translatorBtn_Index"
               href="/register">成为译员</a>
        </div>
    </div>
    <aside class="rightAside">
        <ul>
            <li class="follow">
                关注我们
                <div class="message">
                    <img src="/static/image/gongzhonghao.jpg" alt="">
                    <p>扫码绑定微信账号</p>
                </div>
            </li>
            <li class="contact">
                联系客服
                <div class="message">
                    <p><i class="qq"></i>译员交流群：12345678901</p>
                    <p><i class="qq"></i>译员交流群：1234567</p>
                    <hr>
                    <p><i class="wx"></i>微信交流群：1234567</p>
                </div>
            </li>
            <li class="phone">
                客服电话
                <div class="message">
                    <p>联系电话：400-12345678</p>
                    <hr>
                    <p>工作日：9:00 - 20:00</p>
                    <p>节假日：9:30 - 17:00</p>
                </div>
            </li>
            <li class="back sy-hidden" onclick="$('html,body').stop().animate({scrollTop: 0}, 'fast')">返回顶部</li>
        </ul>
    </aside>
</div>
<script src="/static/lib/scroll.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function (){
        //设置index首页“我要接单”、“我要发表”按钮权限跳转
        $('#releaseBtn_Index,#getOrderBtn_Index').on('click', function(e){
            //未登录
            if(!__api__.isAuth) return;

            e.preventDefault();
            const id = this.id;
            //未通过身份验证
            if(!__api__.isAuth.isPassIdentity){
                if(id === 'releaseBtn_Index'){
                    $.warning('你当前还不能发表文章，快去完善信息吧');
                }else if(id === 'getOrderBtn_Index'){
                    $.warning('你当前还不能接单，快去完善信息吧');
                }
                setTimeout(() => {
                    location.href = '/personal/identification';
                }, 1000);
                return null;
            }
            //已通过身份验证，未通过技能验证
            if(!__api__.isAuth.isPassSkill){
                if(id === 'releaseBtn_Index'){
                    $.warning('你当前还不能发表文章，快去完善信息吧');
                }else if(id === 'getOrderBtn_Index'){
                    $.warning('你当前还不能接单，快去完善信息吧');
                }
                setTimeout(() => {
                    location.href = '/personal/skill';
                }, 1000);
                return null;
            }
            //已通过验证
            if(id === 'releaseBtn_Index'){
                location.href = '/personalArticle/create'; //发布文章
            }else if(id === 'getOrderBtn_Index'){
                location.href = ''; //接单
            }
        });

        //文章精选、行业资讯
        __api__.getIndexGoodArticle();

    }, false);
//返回顶部
    window.onscroll = function () {
        var goTop = $('li.back'),
            myScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        //返回顶部
        myScrollTop > 500
            ? goTop.removeClass('sy-hidden')
            : goTop.addClass('sy-hidden');
    };
</script>