#header,#content,#footer,
.wrapper{width: 100%;min-width: 1200px;}
#header>div.content,
#content>div.content,
#footer>div.content { width: 1200px; margin: 0 auto;}

.sy-font-xxlg{font-size: 24px;}
.sy-font-xlg{font-size: 18px;}
.sy-font-lg{font-size: 16px;}
.sy-font-md{font-size: 14px;}
.sy-font-sm{font-size: 12px;}
.sy-font-fm{font-family: "Microsoft yahei", Verdana, Geneva, sans-serif}
.sy-btn{
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  border: 1px solid;
  outline: none;
  border-radius: 4px;
  text-align: center;
  font-family: "Microsoft yahei", Verdana, Geneva, sans-serif;
  cursor: pointer;
}
.sy-btn-default{
  background-color: #fff;
  border-color: #41cca6;
  color: #41cca6;
  &:hover{
    background-color: #41cca6;
    border-color: #41cca6;
    color: #fff;
  }
  &:active{
    background-color: #41cca6;
    border-color: #41cca6;
    color: #fff;
    opacity: .8;
  }
}
.sy-btn-default[disabled]{
  background-color: #BFBFBF;
  border-color: #BFBFBF;
  color: #fff;
  &:hover{
    cursor: not-allowed;
    background-color: #BFBFBF;
    border-color: #BFBFBF;
    color: #fff;
  }
  &:active{
    background-color: #BFBFBF;
    border-color: #BFBFBF;
    color: #fff;
  }
}
.sy-btn-green{
  background-color: #41cca6;
  border-color: #41cca6;
  color: #fff;
  &:hover{
    opacity: .8;
    color: #fff;
  }
  &:active{
    background-color: #41cca6;
  }
}
.sy-btn-blue-white{
  background-color: #fff;
  border-color: #1592AC;
  color: #1592AC;
  &:hover{
    background-color: #1592AC;
    color: #fff;
  }
  &:active{
    opacity: .8;
  }
}
.sy-btn-blue{
  background-color: #1592AC;
  border-color: #1592AC;
  color: #fff;
  &:hover{
    opacity: .8;
  }
  &:active{
    opacity: .8;
  }
}
.sy-btn-white{
  background-color: #fff;
  border-color: #ddd;
  color: #333;
  &:hover{
    opacity: .8;
  }
  &:active{
    background-color: #fff;
  }
}
.sy-btn-sm{
  width: auto;
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
}
.sy-btn-md{
  width: auto;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
}
.sy-btn-sh{
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
}

.sy-input{
  height: 42px;
  line-height: 42px;
  color: #333!important;
  border-radius: 4px!important;
  font-size: 14px!important;
  &:focus{
    border-color: #41cca6!important;
  }
}
.sy-bold{font-weight: 700;}
.sy-link{ color: #36A1B8; }
.sy-left{text-align: left;}
.sy-center{text-align: center;}
.sy-right{text-align: right;}
.sy-orange{color: #F1562A;}
.sy-delete{
  color: #f1562a;
  &:hover{
    color: #f1562a;
    font-weight: bold;
  }
}
.sy-status-ing{color: #41cca6}
.sy-status-done{}
.sy-status-err{color: #f1562a}
input[disabled]{
  background-color: #eee;
  color: #555;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aaa;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aaa;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #aaa;
}
label{font-weight: 400;}
label.am-form-label{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5em
}
input[type=checkbox],
input[type=radio]{vertical-align: text-top}
.am-form-horizontal .am-checkbox{padding-top: 0;}
.am-ucheck-icons{top: 1px;}
.am-ucheck-checkbox:checked+.am-ucheck-icons{color: #41cca6}
.am-modal-btn.sy-btn{
  display: inline-block!important;
  border-radius: 4px!important;
  font-size: 14px;
}
.am-modal-btn.sy-btn-white{
  border: 1px solid #ddd;
}
.am-modal-btn+.am-modal-btn{
  margin-left: 10px;
}
#sy-tooltip {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  background: #fff;
  min-width: 150px;
  color: #000;
  font-size: 15px;
  transition: all 0.15s;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 1px 2px 5px 0px #aaa;
}
#sy-tooltip:before,
#sy-tooltip:after{
  position: absolute;
  left: 15%;
  width: 0;
  height: 0;
  content: "";
  border-style: none inset solid;
}
#sy-tooltip:after{
  top: -6px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-color: transparent transparent #fff;
}
#sy-tooltip:before {
  top: -8px;
  margin-left: -8px;
  border-width: 0 8px 8px;
  border-color: transparent transparent #aaa;
}