#header{height: 352px;background-image: url("/static/image/main-header.png");background-repeat: no-repeat;background-size: 100% 100%}
#header>.content{padding: 18px 5px}
#header a.am-btn{font-weight: 700;padding: 6px 22px;border-radius: 4px;font-size: 14px;}
#header a.am-btn+a.am-btn{margin-left: 10px}
a.am-btn:active{background:none;border-color: #fff;}
a.am-btn.reg{background-color: #fff;border-color: #fff;color: #41cca6;}
a.am-btn.reg:hover{background-color: #fff;border-color: #fff;color: #44cc99;}
a.am-btn.home{background: none;border-color: #fff;color: #fff;}
a.am-btn.home:hover{background: none;border-color: #fff;color: #fff;}
.prev-home{width: 900px;margin: 0 auto;padding: 35px 5px;background-color: #fff;border-radius: 10px;box-shadow: 5px 10px 30px 5px #E7F4F7}
#content{margin-top: -160px;}
#content p.tips{position: absolute;color: #555;font-size: 12px;top: 28px;}
#content p.tips.error{color: red}

.sy-lg-out{
    position: relative;
}
.sy-lg{
    position: absolute;
    width: 422px;
    height: 440px;
    background-image: url("/static/image/main-left.png");
    background-repeat: no-repeat;
}

.sy-reg-type{
    display: inline-block;
    position: relative;
    color: #333;
    padding-bottom: 10px;
}
.sy-reg-type:hover{
    text-decoration: none;
    color: #41cca6;
}
.sy-reg-type.sy-active{
    color: #41cca6;
    font-weight: 700;
    border-bottom: 3px solid #41cca6;
}
.sy-reg-type.sy-active:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #41cca6;
}

.sy-fd-nav{
    position: absolute;
    display: table;
    top: 0px;
    left: 30px;
    width: 100%;
    padding: 2rem;
    padding-right: 60px;
    text-align: center;
}
.sy-fd-nav>.sy-line{
    height: 2px;
    width: 214px;
    background: #C8C8C8;
    position: absolute;
    top: 36px;
    left: 103px;
}
.sy-fd-nav>.sy-sp{
    display: table-cell;
    color: #c8c8c8;
    font-weight: 700;
}
form:target{
    display: block;
}
form:target+div.sy-fd-nav{
    display: table;
}

.sy-fd-nav>.sy-sp>div>span{
    display: inline-block;
    background: #fff;
    width: 24px;
    height: 24px;
    line-height: 20px;
    position: relative;
    z-index: 1;
    border: 2px solid #C8C8C8;
    border-radius: 100%;
    margin-bottom: 5px;
}


#slide_box {
    width: 100%;
    height: 42px;
    text-align: right;
    line-height: 42px;
    color: #717171;
    background-color: #EEEEEE;
    border: none;
    padding-right: 15px;
}
#slide_xbox {
    width: 50px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    background: #66D7B9;
}
#btn {
    cursor: pointer;
    width: 50px;
    height: 42px;
    background-color: #fff;
    float: right;
    -webkit-box-shadow: 0px 0px 15px 0px #ddd;
    -moz-box-shadow: 0px 0px 15px 0px #ddd;
    box-shadow: 0px 0px 15px 0px #ddd;
    color: #8a8c97;
}
#btn:hover{color: #000;}
#btn>.iconfont { font-size: 20px; }