<div class="article_page information speaker">
    <div class="main-bg"></div>
    <div class="content">
        <div class="cnt goodArticleCnt sy-default-transition sy-show-transition">
            <div class="empty"></div>
        </div>
        <div class="sy-mg-t-30 sy-center more">
            <button class="sy-btn loadMoreBtn_Speaker sy-hidden" type="button">加载更多</button>
            <input class="loadMorePageNo_Speaker" type="hidden" value="0">
        </div>
    </div>
</div>
<script>
    (function () {

        __api__.getGoodArticle();

        $('.loadMoreBtn_Speaker').click(function () {
            __api__.getGoodArticle()
        })
    }())
</script>