<div class="activity a1">
    <div class="bg a1_main_bg">
        <div class="content">
            <a class="a1_step a1_step_1" href="/activity/a1_detail?step=a1_step_1"></a>
            <a class="a1_step a1_step_2" href="/activity/a1_detail?step=a1_step_2"></a>
            <a class="a1_step a1_step_3" href="/activity/a1_detail?step=a1_step_3"></a>
            <a class="a1_step a1_step_4" href="/activity/a1_detail?step=a1_step_4"></a>
        </div>
    </div>
    <p class="sy-font-lg sy-center"
       style="width: 100%;position: absolute;bottom: 76px;letter-spacing: 1px;color: #fff">活动时间：2019年11月11日 - 2019年11月29日</p>
</div>
