<div class="activity a2">
    <div class="bg a2_bg-1">
        <div class="content">
            <div class="a1_bg_txt">
                独乐乐不如众乐乐，一人译不如一起译！
                一个人可以走得很快，一群人可以走得更远。
                啄语平台向译者江湖各路英雄豪杰敞开大门，邀请身边的小伙伴一起加入吧！
            </div>
        </div>
    </div>
    <div class="bg a2_bg-2">
        <div class="content" style="height: 1000px">
            <div class="step step_1">
                每邀请1位好友（完善简历），可以获得20积分，通过平台测试成为译员获得100分。
            </div>
            <div class="step step_2">
                所邀请好友完成1个订单，即可获得5元现金红包，200积分。
            </div>
            <div class="step step_3">
                所邀请好友累计完成4个订单，即可获得额外10元现金红包，300积分。
            </div>
            <div class="step step_4">
                所邀请好友累计完成10个订单，即可获得额外20元现金红包，600积分。
            </div>
            <div class="step step_5">
                所邀请好友所得现金红包及积分需邀请人完成平台第一次订单方可全部解锁。
                现金红包直接进入个人账户，可申请提现。
            </div>
            <a href="/personal/application"
               class="applyUser"
               style="display: block;width: 200px;height: 60px;position: absolute;bottom: -96px;left: 41.6%">&nbsp;</a>
        </div>
    </div>
</div>
<script>
    $('.applyUser').click(function (e) {
        e.preventDefault()
        if(!__api__.isAuth){
            location.href = '/login';
            return null
        }
        location.href = '/personal/application';
    })
</script>