<div class="activity">
    <div class="am-slider am-slider-default" data-am-flexslider style="height: 400px">
        <ul class="am-slides" style="height: 400px">
            <li style="background-image: url('/static/image/activity/activity_banner-1.png')"></li>
            <li style="background-image: url('/static/image/activity/activity_banner-2.png')"></li>
        </ul>
    </div>
    <div class="content">
        <div class="am-g item-list">
            <div class="am-u-lg-6">
                <img src="/static/image/activity/activity-1.png" alt="">
                <div class="text">
                    <div>
                        <h5>普天同庆迎国庆 四项福利享不停</h5>
                        <span>20191001 - 20191031</span>
                    </div>
                    <div>
                        <a class="sy-btn sy-btn-green sy-btn-sm" href="/activity/a1">立即参与</a>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-6">
                <img src="/static/image/activity/activity-2.png" alt="">
                <div class="text">
                    <div>
                        <h5>呼朋引伴聚啄语 同心协力译年华</h5>
                        <span>20191001 - 20191031</span>
                    </div>
                    <div>
                        <a class="sy-btn sy-btn-green sy-btn-sm" href="/activity/a2">立即参与</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="more sy-center">更多活动筹备中~敬请期待！</div>

</div>
