<div class="personal appraise">
    <div class="main">
        <div class="info">
            <strong class="value_Appraise">0</strong>
            <span>综合译侠值</span>
            <span class="preTime_Appraise">评估时间: <span>--</span></span>
            <i class="myValue_Appraise"
               title="如何获取更多译侠值？"
               onclick="$.toolinfo({
                    title: '如何获取译侠值',
                    txt: __bundle__.promptTxt.yxz})"></i>
        </div>
        <div class="label labelList">

        </div>
    </div>
    <div class="sy-bold sy-mg-t-30">我的评价</div>
    <div class="am-g nav-filter">
        <label data-type="0" class="active">全部评价(<span class="all">0</span>)</label>
        <label data-type="1" >好评(<span class="well">0</span>)</label>
        <label data-type="2" >中评(<span class="medium">0</span>)</label>
        <label data-type="3" >差评(<span class="bad">0</span>)</label>
    </div>
    <div class="list appraiseList">
        <div class="empty"></div>
    </div>
    <div class="sy-mg-t-30 sy-mg-b-30 sy-center">
        <input class="pageNo" type="hidden" value="1">
        <button class="sy-btn sy-hidden loadMoreBtn" type="button">加载更多</button>
    </div>
</div>
<script>
    (function (window, document, $) {

        __api__.initAppraise()
        __api__.getAppraiseList()

        //加载更多
        var loadMore = document.getElementsByClassName('loadMoreBtn')[0];
        loadMore.addEventListener('click', function () {
            var cur = $('.nav-filter>label.active');
            this.setAttribute('disabled', true);
            this.innerHTML = '<i class="am-icon-spinner am-icon-pulse"></i>';
            __api__.getAppraiseList(cur.attr('data-type'));
        }, false);

        //筛选评价
        var filter = document.getElementsByClassName('nav-filter')[0],
            pageno = document.getElementsByClassName('pageNo')[0],
            container = document.getElementsByClassName('appraiseList')[0];
        filter.addEventListener('click', function (e) {
            var event = e || window.event,
                tarEl = event.target;
            if(tarEl.nodeName === 'LABEL' && tarEl.className !== 'active'
                || tarEl.nodeName === 'SPAN' && tarEl.parentNode.className !== 'active'){
                tarEl.nodeName === 'SPAN' && (tarEl = tarEl.parentNode);
                var labelEl = this.children,
                    level = tarEl.getAttribute('data-type');
                for(var i = 0, len = labelEl.length; i<len; i++){
                    var el = labelEl[i];
                    if(el.nodeName === 'LABEL'){
                        el.className = '';
                    }
                }
                tarEl.className = 'active';
                pageno.value = 1;
                container.innerHTML = '';
                __api__.getAppraiseList(level);
            }
        }, false);

    })(window, document, jQuery)
</script>