<div class="personal balance" style="position: relative">
    <div class="am-g">
        <div class="am-u-lg-6 sy-font-md">
            申请提现时间：北京时间<span class="sy-orange">每月16-20日</span>，每条数据<span class="sy-orange">每月</span>只可提现<span class="sy-orange">一次</span></div>
        <div class="am-u-lg-6 sy-font-md sy-right sy-personal-help"
             title="点击查看提现规则"
             onclick="$.toolinfo({
                title: '提现规则',
                txt: __bundle__.promptTxt.balanceRule})">
            <span class="sy-info-icon"></span>提现规则
        </div>
    </div>
    <div class="am-g">
        <div class="am-u-lg-12 sy-pd-t-10 sy-font-md">
            币种：
            <div class="cash-filter cashFilter">

            </div>
        </div>
    </div>
    <div class="am-g sy-center account-info accountWrap">
        <div class="am-u-lg-9 accountInit">
            <div class="am-u-lg-4">
                <p class="remainMoney_Balance">--</p>
                <span>账户余额</span>
            </div>
            <div class="am-u-lg-4">
                <p class="outMoney_Balance" data-num="--">--</p>
                <span>可提现</span>
            </div>
            <div class="am-u-lg-4">
                <p class="totalMoney_Balance" data-num="--">--</p>
                <span style="padding-left: 5px">收入总计 <i class="toggleTotal eye-icon on"></i></span>
            </div>
        </div>
        <div class="am-u-lg-3 accountPrev sy-hidden" style="padding-top: 1.4rem">
            <!-- class = active、waiting、done -->
            <button type="button" class="sy-btn sy-btn-md sy-font-md sy-hidden active">申请提现</button>
        </div>
    </div>
    <div class="income-detail">
        <div class="am-g">
            <div class="am-u-lg-12 sy-bold">账户明细</div>
        </div>
        <div class="am-g income-filter sy-font-md">
            <div class="am-u-lg-12">
                <label for="">任务编号：<input type="text" class="taskNo" placeholder="输入任务编号"></label>
                <label for="">结算时间：
                    <input type="text" class="am-form-field settleStartTime" placeholder="选择开始时间"> -
                    <input type="text" class="am-form-field settleEndTime" placeholder="选择结束时间">
                </label>
                <label for="">时间：
                    <input type="text" class="am-form-field orderStartTime" placeholder="选择开始时间"> -
                    <input type="text" class="am-form-field orderEndTime" placeholder="选择结束时间">
                </label>
                <button class="sy-btn sy-btn-green sy-btn-sm searchDetail">搜索</button>
            </div>
        </div>
        <div class="user-table exact">
            <table class="am-table am-table-striped am-table-centered am-table-hover sy-font-md">
                <thead>
                <tr>
                    <td style="width: 120px">时间</td>
                    <td style="width: 80px">金额</td>
                    <td style="width: 70px">币种</td>
                    <td style="width: 80px">变动类型</td>
                    <td style="width: 100px">结算时间</td>
                    <td style="width: 200px">任务编号/结算编号</td>
                    <td style="width: 210px">说明</td>
                </tr>
                </thead>
                <tbody class="incomeFinanceList">
                    <tr class="empty"><td colspan="7">暂无明细</td></tr>
                </tbody>
            </table>
            <div class="sy-right sy-font-md totalDetail" style="padding-top: 10px"></div>
        </div>
        <div id="incomePagination" class="pagination"></div>
    </div>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script type="text/javascript" src="/static/lib/pagination.js"></script>
<script src="/static/lib/fileUpload/js/fileUpload.js"></script>
<script>
(function (document, $) {

    laydate.render({ elem: '.settleStartTime', type: 'month' });
    laydate.render({ elem: '.settleEndTime', type: 'month' });
    laydate.render({ elem: '.orderStartTime' });
    laydate.render({ elem: '.orderEndTime' });

    __api__.initAccount();

    var incomeDetail = __api__.getIncomeDetail();

    $('.personal.balance').on('click', function (e) {

        var target = e.target;
        //显示/隐藏金额
        if($(target).hasClass('toggleTotal')){
            var el = $(target).parent().prev('.totalMoney_Balance'),
                money = el.attr('data-num');
            $(target).toggleClass('on');
            $(target).hasClass('on') ? el.html(money) : el.html('****');
        //搜索明细
        }else if($(target).hasClass('searchDetail')){
            incomeDetail.o.current = 1;
            incomeDetail.o.limit = 10;
            $.loading('获取数据...');
            incomeDetail.set({
                xhr : {
                    data : {
                        taskNo: $('.taskNo').val(),
                        settleStartDateTime: $('.settleStartTime').val(),
                        settleEndDateTime: $('.settleEndTime').val(),
                        orderOrCashoutStartDateTime: $('.orderStartTime').val(),
                        orderOrCashoutEndDateTime: $('.orderEndTime').val(),
                        pageNo: incomeDetail.get('current')-1,
                        pageSize: incomeDetail.get('limit')
                    }
                }
            }, true);
        }
    })

}(document, jQuery))
</script>