<div class="personal identification">
    <!--身份认证-->
    <div class="identify-item identify">
        <div class="am-g identify-title">
            <div class="am-u-lg-9">
                <span class="sy-bold">身份认证&nbsp;</span>
                <span class="sy-font-sm identy identy-no">还未认证，请先认证</span>
            </div>
            <div class="am-u-lg-3 sy-right"><i class="toggle am-icon-angle-down"></i></div>
        </div>
        <div class="am-g identify-cnt">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt" style="min-height: 200px">
                    <div class="add-form identyForm sy-hidden">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>真实姓名：</div>
                                <div><input class="realName" type="text" disabled required placeholder="未加载真实姓名"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>证件类型：</div>
                                <div>
                                    <select class="certificateType" required></select>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>证件号码：</div>
                                <div><input class="identifyId" type="text" required placeholder="请输入证件号码"/></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh certificateBtn">提交</button>
                            <span class="cardTip"><i class="sy-info-icon"></i> 认证成功后不可修改</span>
                        </div>
                    </div>
                    <div class="show-info sy-default-transition sy-show-transition"></div>
                </div>
            </div>
        </div>
    </div>
    <!--结算认证-->
    <div  class="setDefaultPayWay identify-item pay">
        <div class="am-g identify-title">
            <div class="am-u-lg-9">
                <span class="sy-bold">结算方式&nbsp;</span>
                <span class="sy-font-sm settle identy-no">还未认证，请先认证</span>
            </div>
            <div class="am-u-lg-3 sy-right"><i class="toggle am-icon-angle-down"></i></div>
        </div>
        <div class="am-g identify-cnt identifyUser sy-hidden">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt" style="min-height: 500px">
                    <h3>银行卡结算</h3>
                    <div class="add-form bankForm">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>真实姓名：</div>
                                <div><input class="realName" type="text" required disabled placeholder="未加载真实姓名"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>证件号码：</div>
                                <div><input class="identifyId" type="text" required disabled placeholder="未加载证件号码"/></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>银行卡号：</div>
                                <div><input class="bankNo" type="text" required placeholder="请输入银行卡号"/></div>
                                <div class="tip"><i class="required">*</i>银行开户账户须与姓名、身份证号对应</div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>开户银行：</div>
                                <div><input class="bankDeposit" type="text" required placeholder="请输入开户银行"/></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>开户支行：</div>
                                <div><input class="bankBranch" type="text" required placeholder="请输入开户支行"/></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh setBankPayBtn">保存</button>
                        </div>
                    </div>
                    <div class="show-info bankPay sy-default-transition sy-show-transition"></div>
                    <h3>支付宝结算<span class="sy-orange sy-font-sm sy-bold-normal">（此结算方式与签订的协议有关，若无此项，可不填写）</span></h3>
                    <div class="add-form alipayForm">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>真实姓名：</div>
                                <div><input class="realName" type="text" required disabled placeholder="未加载真实姓名"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>证件号码：</div>
                                <div><input class="identifyId" type="text" required disabled placeholder="未加载证件号码"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>支付宝账号：</div>
                                <div><input class="alipayCode" type="text" required placeholder="请输入支付宝账号"/></div>
                                <div class="tip"><i class="required">*</i>支付宝账号须与姓名对应</div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh setAliPayBtn">保存</button>
                        </div>
                    </div>
                    <div class="show-info aliPay sy-default-transition sy-show-transition"></div>
                    <h3>PayPal结算<span class="sy-orange sy-font-sm sy-bold-normal">（此结算方式只适合外币结算，若无此项，可不填写）</span></h3>
                    <div class="add-form PaypalForm">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>真实姓名：</div>
                                <div><input class="realName" type="text" required disabled placeholder="未加载真实姓名"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>证件号码：</div>
                                <div><input class="identifyId" type="text" required disabled placeholder="未加载证件号码"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>PayPal账号：</div>
                                <div><input class="PaypalCode" type="text" required placeholder="请输入PayPal账号"/></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh setPayPalBtn">保存</button>
                        </div>
                    </div>
                    <div class="show-info Paypal"></div>
                </div>
            </div>
        </div>
        <div class="am-g identify-cnt identifyTeam sy-hidden">
            <div class="add-form teamForm">
                <form class="sy-personal-form sy-personal-base">
                    <div class="item">
                        <div><i class="required">*</i>团队名称：</div>
                        <div><input class="teamName" type="text" required disabled placeholder="未加载团队名称"></div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>证件类型：</div>
                        <div>
                            <select class="teamCardType" required placeholder="请选择证件类型"></select>
                        </div>
                    </div>
                    <div class="item cardEl">
                        <div><i class="required">*</i>证件号码：</div>
                        <div><input class="identifyId" type="text" required disabled placeholder="未加载证件号码"/></div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>开户人姓名：</div>
                        <div><input class="teamBankName" type="text" required placeholder="请输入开户人姓名"/></div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>银行卡号：</div>
                        <div><input class="teamBankNo" type="text" required placeholder="请输入银行卡号"/></div>
                        <div class="tip teamTip"><i class="required">*</i>银行开户账户须与姓名、身份证号对应</div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>开户银行：</div>
                        <div><input class="teamBankDeposit" type="text" required placeholder="请输入开户银行"/></div>
                    </div>
                    <div class="item">
                        <div><i class="required">*</i>开户支行：</div>
                        <div><input class="teamBankBranch" type="text" required placeholder="请输入开户支行"/></div>
                    </div>
                </form>
                <div class="sy-btns sy-font-md">
                    <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                    <button data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh setTeamBankPayBtn">保存</button>
                    <span class="teamTip sy-hidden"><i class="sy-info-icon"></i> 请确保所填信息正确</span>
                </div>
            </div>
            <div class="show-info teamPay">

            </div>
			<input class="isInvoice" type="hidden" value="" />
        </div>
    </div>
</div>
<script>
    (function ($) {

        __api__.initIdenty()
        __api__.getIdentyResult()

        $('div.identification').on('click',function (e) {
            var target = e.target;
            // 收缩、展示内容
            if($(target).hasClass('toggle')){
                var outDiv = $(target).parents('.identify-item'),
                    targetDiv = outDiv.find('.identify-cnt');
                if($(target).hasClass('am-icon-angle-down')){
                    targetDiv.addClass('sy-hidden');
                    $(target).addClass('am-icon-angle-up').removeClass('am-icon-angle-down');
                }else{
                    targetDiv.removeClass('sy-hidden');
                    $(target).addClass('am-icon-angle-down').removeClass('am-icon-angle-up');
                }
            // 点击"取消"
            }else if($(target).attr('data-sy-cancel') === ''){
                var formEl = $(target).parents('.add-form'),
                    targerEl = formEl.find('input,select,textarea');
                $(target).next().removeAttr('data-u-id');
                targerEl.each(function () {
                    if(!$(this).attr('disabled') && this.nodeName !== 'SELECT'){
                        $(this).val('');
                    }
                });
                if(formEl.next('.show-info').children().length > 0){
                    formEl.addClass('sy-hidden');
                }
            // 点击"编辑"
            }else if($(target).hasClass('sy-edit')){
                var infoDiv = $(target).parents('.show-info'),
                    addForm = infoDiv.prev('.add-form');
                var data = JSON.parse($(target).prev('.syHiddenData').text() || '{}');
                if(Object.prototype.toString.call(data) === '[object Object]'){
                    addForm.removeClass('sy-hidden');
                    addForm.find('button[data-sy-confirm]').attr('data-u-id', data.id);
                    if(addForm.hasClass('teamForm')){
                        var divEl = $('div.teamTip'),
                            spanEl = $('span.teamTip');
                        if(data.certificateType !== '身份证'){
                            $('.cardEl').addClass('sy-hidden');
                            divEl.addClass('sy-hidden');
                            spanEl.removeClass('sy-hidden');
                        }else{
                            divEl.removeClass('sy-hidden');
                            spanEl.addClass('sy-hidden');
                        }
                        addForm.find('.teamBankName').val(data.realName);
                        addForm.find('.teamBankNo').val(data.settleAccount);
                        addForm.find('.teamBankDeposit').val(data.bankDeposit);
                        addForm.find('.teamBankBranch').val(data.bankBranch);
                    }else if(addForm.hasClass('bankForm')){
                        addForm.find('.bankNo').val(data.settleAccount);
                        addForm.find('.bankDeposit').val(data.bankDeposit);
                        addForm.find('.bankBranch').val(data.bankBranch);
                    }else if(addForm.hasClass('alipayForm')){
                        addForm.find('.alipayCode').val(data.settleAccount);
                    }else if(addForm.hasClass('PaypalForm')){
                        addForm.find('.PaypalCode').val(data.settleAccount);
                    }else {
                        addForm.find('.identifyId').val(data.cardId);
                        addForm.find('.certificateType').val(data.cardType);
                    }
                }
            // 显示/隐藏身份证号码
            }else if($(target).hasClass('showIDCard')) {
                var tarEl = $('div.certificateNum'),
                    data = tarEl.attr('data'),
                    btnTxt = $(target).text();
                if(btnTxt === '隐藏信息'){
                    target.innerText = '查看完整信息';
                    tarEl.html(data.replace(/(\w{3})(\w*)/, function (reg, $1, $2) {
                        return $1 + $2.replace(/\w/g, '*')
                    }));
                }else{
                    target.innerText = '隐藏信息';
                    tarEl.html(data);
                }
            // 显示/隐藏(银行卡、支付宝、Paypal账号)
            }else if($(target).hasClass('iconShow')){
                var tarEl = $(target).prev('span'),
                    data = tarEl.attr('data');
                if($(target).hasClass('am-icon-eye-slash')){
                    tarEl.html(data);
                    $(target).addClass('am-icon-eye').removeClass('am-icon-eye-slash');
                }else{
                    tarEl.html(data.replace(/(\w{1})(\w*)/, function (reg,$1,$2) {
                        return $1 + $2.replace(/\w/g, "*")
                    }))
                    $(target).addClass('am-icon-eye-slash').removeClass('am-icon-eye');
                }
            }
        })
    })(jQuery)
</script>