<div class="personal resume">
    <!--学历信息-->
    <div class="resume-item degree">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">学历信息（必填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add degree"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt" style="min-height: 200px">
                    <div class="add-form sy-hidden">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>毕业院校：</div>
                                <div>
                                    <select id="schoolType" class="extra" style="width: 80px;margin-right: 5px;">
                                        <option value="国内">国内</option>
                                        <option value="国外">国外</option>
                                    </select>
                                    <input id="graduatedSchoolName" type="text" required placeholder="请输入院校名称" style="width: 290px;">
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>专业：</div>
                                <div><input id="major" type="text" required placeholder="请输入专业"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>学历：</div>
                                <div>
                                    <select id="degree" class="extra" required placeholder="请选择学历">
                                        <option value="博士">博士</option>
                                        <option value="硕士">硕士</option>
                                        <option value="本科" selected>本科</option>
                                        <option value="大专">大专</option>
                                        <option value="其它">其它</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>毕业时间：</div>
                                <div><input id="graduatedDate" type="text" required class="am-form-field graduateTime" placeholder="请选择毕业时间"/></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button data-sy-confirm type="button" id="degreeBtn_Resume" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info sy-default-transition sy-show-transition"></div>
                </div>
            </div>
        </div>
    </div>
    <!--上传证书-->
    <div class="resume-item skill">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">技能证书（选填）</div>
            <div id="uploadCertificate" class="sy-hidden"></div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form add-form-笔译证书">
                        <form class="sy-personal-form sy-personal-base">
                           <div class="item">
                               <div>笔译证书：</div>
                               <div class="hide-el sy-hidden">
                                   <select class="languageList languageList_b">
                                       <option value="">请选择语种</option>
                                   </select>
                                   <select class="certificateList">
                                       <option value="">请选择证书名称</option>
                                   </select>
                                   <button type="button"
                                           title="仅支持jpg、png、jpeg、gif图片"
                                           class="btn btn-default sy-btn sy-btn-green sy-btn-sh uploadBtn_b"
                                           onclick="beforeUpload(this, '笔译证书')">上传证书</button>
                               </div>
                           </div>
                        </form>
                        <span class="add"><i>+</i>添加</span>
                    </div>
                    <div class="show-info skill-info sy-hidden">
                        <div class="items"></div>
                    </div>
                    <div class="add-form add-form-口译证书">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div>口译证书：</div>
                                <div class="hide-el sy-hidden">
                                    <select class="languageList languageList_k">
                                        <option value="">请选择语种</option>
                                    </select>
                                    <select class="certificateList">
                                        <option value="">请选择证书名称</option>
                                    </select>
                                    <button type="button"
                                            title="仅支持jpg、png、jpeg、gif图片"
                                            class="btn btn-default sy-btn sy-btn-green sy-btn-sh uploadBtn_k"
                                            onclick="beforeUpload(this, '口译证书')">上传证书</button>
                                </div>
                            </div>
                        </form>
                        <span class="add"><i>+</i>添加</span>
                    </div>
                    <div class="show-info skill-info sy-hidden">
                        <div class="items"></div>
                    </div>
                    <div class="add-form add-form-培训证书">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div>培训证书：</div>
                                <div class="hide-el sy-hidden">
                                    <select class="languageList languageList_p">
                                        <option value="">请选择语种</option>
                                    </select>
                                    <select class="certificateList">
                                        <option value="">请选择证书名称</option>
                                    </select>
                                    <button type="button"
                                            title="仅支持jpg、png、jpeg、gif图片"
                                            class="btn btn-default sy-btn sy-btn-green sy-btn-sh uploadBtn_p"
                                            onclick="beforeUpload(this, '培训证书')">上传证书</button>
                                </div>
                            </div>
                        </form>
                        <span class="add"><i>+</i>添加</span>
                    </div>
                    <div class="show-info skill-info sy-hidden">
                        <div class="items"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--工作经历-->
    <div class="resume-item work">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">工作经历（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add work"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form sy-hidden">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="item">
                                <div><i class="required">*</i>企业名称：</div>
                                <div><input id="companyName" required type="text" placeholder="请输入企业名称"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>起止时间：</div>
                                <div class="item-date-two">
                                    <input id="startDatetime" required type="text" class="am-form-field workStartTime" placeholder="请选择开始日期">
                                    <span class="sep-date"> - </span>
                                    <input id="endDatetime" required type="text" class="am-form-field workEndTime" placeholder="请选择结束日期"/>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>职位描述：</div>
                                <div>
                                    <textarea id="describe" required placeholder="请输入职位描述"></textarea>
                                    <p class="sy-right"><span>0</span>/300</p>
                                </div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="workBtn_Resume" data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--项目经历-->
    <div class="resume-item project">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">项目经历（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="add project"><i>+</i>添加</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form sy-hidden">
                        <form class="sy-personal-form sy-personal-base">
							<div class="item">
                                <div><i class="required">*</i>项目名称：</div>
                                <div><input required data-id="projectName" type="text" placeholder="请输入项目名称"></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>企业名称：</div>
                                <div><select data-id="companyName" class="companyName" required placeholder="请选择企业名称"></select></div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>起止时间：</div>
                                <div class="item-date-two">
                                    <input data-id="startDatetime" required type="text" class="am-form-field projectStartTime" placeholder="请选择开始日期"/>
                                    <span class="sep-date"> - </span>
                                    <input data-id="endDatetime" required type="text" class="am-form-field projectEndTime" placeholder="请选择结束日期"/>
                                </div>
                            </div>
                            <div class="item">
                                <div><i class="required">*</i>项目描述：</div>
                                <div>
                                    <textarea data-id="describe" required placeholder="请输入项目描述"></textarea>
                                    <p class="sy-right"><span>0</span>/300</p>
                                </div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md">
                            <button data-sy-cancel type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="projectBtn_Resume" data-sy-confirm type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info"></div>
                </div>
            </div>
        </div>
    </div>
    <!--个性标签-->
    <div class="resume-item label">
        <div class="am-g sy-personal-hd">
            <div class="am-u-lg-6 sy-bold">个性标签及擅长领域（选填）</div>
            <div class="am-u-lg-6 sy-right sy-resume-title">
                <span class="editLabel edit sy-hidden"><i class="sy-personal-icon sy-personal-icon-edit"></i>编辑</span>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <div class="sy-personal-cnt">
                    <div class="add-form sy-hidden">
                        <form class="sy-personal-form sy-personal-base">
                            <div class="max-wd">
                                <span>个性标签让订单推送更加精准</span>
                                <div>
                                    <dl class="label individual">
                                        <dd>内容精确</dd>
                                        <dd>交稿迅速</dd>
                                        <dd>擅长排版</dd>
                                        <dd>文艺范</dd>
                                        <dd>听译</dd>
                                        <dd>口译</dd>
                                        <!--<dd class="extra">-->
                                            <!--<input type="text" class="addLabelPut" placeholder="请输入标签">-->
                                            <!--<button type="button" class="addBtn">添加</button>-->
                                        <!--</dd>-->
                                    </dl>
                                    <!--<dl class="label individual doself"></dl>-->
                                </div>
                            </div>
                            <div class="max-wd">
                                <span>擅长领域（最多选5项）</span>
                                <div><dl class="label expert"></dl></div>
                            </div>
                        </form>
                        <div class="sy-btns sy-font-md" style="padding-left: 70px;">
                            <button data-sy-reset type="button" class="btn btn-default sy-btn sy-btn-default sy-btn-sh">取消</button>
                            <button id="addLabelBtn_Resume" type="button" class="btn btn-default sy-btn sy-btn-green sy-btn-sh">保存</button>
                        </div>
                    </div>
                    <div class="show-info sy-font-md"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script src="/static/lib/Huploadify.js"></script>
<script>
    (function ($) {

        var ubase = sessionStorage.getItem('sy_rm_client_ubase'),
            ubaseObj = JSON.parse(ubase) || {};
        if(ubaseObj.isTeam === 1) {
            $('.resume-item.degree').remove();
            $('.resume-item.work').remove();
            $('.resume-item.project').remove();
            $('.resume-item.label').remove();
        }else{
            laydate.render({ elem: '.graduateTime', type: 'month' });
            laydate.render({ elem: '.workStartTime', type: 'month' });
            laydate.render({ elem: '.workEndTime', type: 'month' });
            laydate.render({ elem: '.projectStartTime', type: 'month' });
            laydate.render({ elem: '.projectEndTime', type: 'month' });
        }

        __api__.initResume()
        __api__.getResumeBaseInfo()
        __api__.getResumeInfo()

        //选择语种，切换证书
        $('.languageList').change(function () {
            var selectedIdx = this.selectedIndex,
                selectedOpt = this.options[selectedIdx],
                selectedVal = selectedOpt.value;
            var elStr = '',
                targetEl = this.nextElementSibling;
            var parentEl = $(this.parentNode),
                btnEl = parentEl.find('button');
            $(targetEl).removeClass('sy-hidden');
            parentEl.find('input').remove();
            if(selectedVal && selectedVal !== '其他'){
                var certificateList = selectedOpt.getAttribute('data').split('、');
                for(var i = 0, len = certificateList.length; i<len; i++){
                    var item = certificateList[i];
                    elStr += "<option value='"+ item +"'>"+ item +"</option>";
                }
            }else if(selectedVal === '其他'){
                $(targetEl).addClass('sy-hidden');
                btnEl.before(`
                   <input type="text" class="languagePut" placeholder="请输入语言">
                   <input type="text" class="certificatePut" placeholder="请输入证书名称">`);
            }else{
                elStr = '<option value="">请选择证书名称</option>';
            }
            targetEl.innerHTML = elStr;
        });

    //“click”事件委托
        $('div.resume-item').on('click', function (e) {

            var event = e || window.event,
                target = event.target || event.srcElement;

        //图片放大
            if(target.nodeName === 'IMG'){
                var src = target.getAttribute('src');
                $.enlargeImg(src);
        //添加信息
            }else if($(target).hasClass('add') || $(target.parentNode).hasClass('add')){
                var tarEl = $(target.parentNode).hasClass('add') ? target.parentNode : target,
                    isSkill = $(target).parents('.skill');
                if(isSkill.length > 0){
                    var form = $(tarEl).prev(),
                        hideEl = form.find('.hide-el');
                    hideEl.removeClass('sy-hidden');
                    return null;
                }
                var outDiv = $(tarEl).parents('.resume-item'),
                    formDiv = outDiv.find('.add-form');
                formDiv.removeClass('sy-hidden');
        //取消保存
            }else if(target.nodeName === 'BUTTON' && typeof $(target).attr('data-sy-cancel') === 'string'){
                var outDiv = $(target).parents('.add-form'),
                    targerEl = outDiv.find('input,select,textarea');
                $(target).next().removeAttr('data-u-id');
                targerEl.each(function () {
                    if(!$(this).hasClass('extra')){
                        $(this).val('');
                    }
                    if(this.nodeName === 'TEXTAREA'){
                        $(this).next().html(`<span>0</span>/300`);
                    }
                });
                if(outDiv.next('div').children().length < 1){
                    return null
                }
                outDiv.addClass('sy-hidden');
        //取消标签
            }else if(target.nodeName === 'BUTTON' && $(target).attr('data-sy-reset') === ''){
                var parentForm = $(target).parents('.add-form');
                if(parentForm.next('div').children().length <= 0){
                    return null;
                }
                $('dl.label').find('dd').removeClass('selected');
                parentForm.addClass('sy-hidden');
                parentForm.next().removeClass('sy-hidden');
        //添加个性标签
            }else if($(target).hasClass('addBtn')){
                var labelName = $('.addLabelPut').val();
                if(labelName.trim() === ''){
                    $.warning('请输入标签');
                    return;
                }
                $('.doself').append(`<dd class="self">${labelName}<i class="am-icon-close"></i></dd>`);
                $(target).prev().val('');
        //删除个性标签
            }else if($(target).hasClass('am-icon-close')){
                var el = target.parentNode;
                $(el).remove();
        //选择擅长领域
            }else if(target.nodeName === 'DD'){
                var dds = $(target).parent('dl').find('dd.selected');
                if($(target.parentNode).hasClass('expert')){
                    if(dds.length < 5 || $(target).hasClass('selected')){
                        $(target).toggleClass('selected');
                    }else{
                        $.warning('擅长领域最多选择5项');
                    }
                }else{
                    $(target).toggleClass('selected');
                }
            }
        });

        //编辑个性标签和领域
        $('span.editLabel').on('click', function () {
            var parentDiv = $(this).parents('.resume-item'),
                tarForm = parentDiv.find('.add-form'),
                tarInfo = parentDiv.find('.show-info');
            var individualData = tarInfo.find('.individual').html().split(','),
                areaData = tarInfo.find('.expert').html().split(',');
            var labelIndividual = tarForm.find('.individual'),
                labelArea = tarForm.find('.expert');
            labelIndividual.eq(0).find('dd').each(function () {
                var _this = this;
                individualData.forEach(function(item,index) {
                    item === $(_this).text() && $(_this).addClass('selected') && individualData.splice(index, 1);
                });
            })
            var selfStr = '';
            individualData.forEach(function (item) {
                item && (selfStr += `<dd class="selected">${item}<i class="am-icon-close"></i></dd>`)
            });
            labelIndividual.eq(1).html(selfStr);
            for(let i = 0; i<areaData.length; i++){
                for(let j =0; j<labelArea.find('dd').length; j++){
                    var el = $(labelArea.find('dd')[j]);
                    if(areaData[i] === el.text()){
                        el.addClass('selected');
                        break;
                    }
                }
            }
            tarForm.removeClass('sy-hidden');
            tarInfo.addClass('sy-hidden');
        });

        //判断textarea内容是否超过限制长度
        $('textarea').on('input', __bundle__.throttleFn(function () {
            var _this = this,
                len = $(_this).val().length;
            if(len > 300 ){
                $.warning('内容长度超过限制');
                $(_this).attr('data-len-pass', 1);
                $(_this).next().html(`<span style="color: orangered">${len}</span>/300`);
                return false;
            }
            $(_this).removeAttr('data-len-pass');
            $(_this).next().html(`<span>${len}</span>/300`);
        }, 500));

    }(jQuery));

    //点击上传按钮前，先判断空值，再初始化证书类型
    function beforeUpload(_this, type) {
        var formEl = $(_this).parents('form'),
            requiredEl = formEl.find('select,input');
        for(var i = 0, len = requiredEl.length; i<len; i++){
            var el = requiredEl[i];
            if(el.value.trim() === '' && !$(el).hasClass('sy-hidden')){
                $.warning('请填写语种、证书名称');
                return false;
            }
        }
        $('.resume-item.skill').attr({'type': type});
        $('a.uploadify-button').click();
    }

</script>