<div class="personal testing">
    <!--翻译题-->
    <div class="am-g positionEl">翻译题测试
        <span class="sy-font-sm label greenbg shortLan">--</span>
    </div>
<!--翻译题-->
    <div class="transing">
        <div class="am-g warn">
            <div class="am-u-lg-9 sy-font-md tip-txt tipTxt"></div>
            <div class="am-u-lg-3 sy-center tip-time">
                <b>剩余时间</b>
                <span class="time">--:--:--</span>
            </div>
        </div>
        <div class="trans-test transTest">
            <div class="sy-bold">原文：</div>
            <div class="sy-font-md origin-txt originTxt">--</div>
        </div>
        <div class="trans-test transTest">
            <div class="sy-bold">译文：</div>
            <div class="sy-font-md">
                <textarea class="targetTxt"></textarea>
            </div>
        </div>
        <button type="button"
                onclick="__api__.tempCommitTrans(this)"
                class="sy-btn sy-btn-green sy-btn-md sy-font-md tempBtn">保 存</button>
        <button type="button"
                onclick="__api__.confirmCommitTrans(this)"
                class="sy-btn sy-btn-green sy-btn-md sy-font-md confirmBtn">提 交</button>
    </div>
<!--测试结果展示-->
    <!--<div class="am-g sy-center result no-pass">-->
        <!--<div class="bg"></div>-->
        <!--<div class="tip">-->
            <!--<p>很遗憾，你的翻译测试未通过。</p>-->
            <!--<p class="sy-orange">请3个月之后再来试试吧！</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="am-g sy-center sy-font-md result pass">-->
        <!--<div class="bg"></div>-->
        <!--<div class="tip">-->
        <!--确认过眼神，你是我的译中人！</br>-->
        <!--恭喜你通过测试，你现在可以开始接单了！</br>-->
        <!--点击下方【译员指南】，分分钟接单到手软！-->
        <!--</div>-->
        <!--<a class="sy-btn sy-btn-green sy-btn-sh" href="/personal/skill">译员指南</a>-->
    <!--</div>-->
</div>
<script>
    (function ($) {

        $('.tipTxt').html(__bundle__.promptTxt.skillTestingTrans);

        //获取翻译题
        var id = __bundle__.getQueryString('id');
        __api__.createTransTest(id);

    })(jQuery);

    //刷新页面时弹出提醒
    window.onbeforeunload = function (event) {
        event.returnValue = "确定离开当前页面吗？"
    }
</script>