<div class="personal testing">
    <!--选择题-->
    <div class="am-g">选择题测试
        <span class="sy-font-sm label greenbg currPage">--/--</span>
        <div class="field"></div>
    </div>
    <div class="choice choiceWrap">
        <div class="am-g warn">
            <div class="am-u-lg-9 sy-font-md tip-txt tipTxt"></div>
            <div class="am-u-lg-3 sy-center tip-time">
                <b>剩余时间</b>
                <span class="time">--:--:--</span>
            </div>
        </div>
        <div class="am-g test choiceTest" style="min-height: 534px">
            <button type="button"
                    onclick="__api__.confirmChoiceResult(this)"
                    class="choiceConfirmBtn sy-btn sy-btn-green sy-btn-md sy-font-md sy-hidden">下一题</button>
        </div>
    </div>
</div>
<script>
    (function ($) {

        $('.tipTxt').html(__bundle__.promptTxt.skillTestingChoice);

        //获取选择题试题
        var id = __bundle__.getQueryString('id');
        __api__.createChoiceTest(id);

        //选择答案
        $('.choiceTest').on('click', function (e) {
            if(e.target.nodeName === 'LI'){
                var _this = $(e.target);
                _this.addClass('active').siblings().removeClass('active');
            }
        });

    })(jQuery);

    //刷新页面时弹出提醒
    window.onbeforeunload = function (event) {
        event.returnValue = "确定离开当前页面吗？"
    }

</script>