<div id="orderPage" class="order_page">
    <div class="content">
        <div class="am-g">
            <div class="am-u-lg-8 content-left extra">
                <nav class="nav">
                    <% include order-nav.ejs %>
                </nav>
                <% if(data.message === 'success'){ %>
                <div class="nav">
                    <% if(data.data.expatriate){ %>
                    <div class="search-box searchBox">
                        <label for="">项目编号：<input class="taskNo lg" type="text" placeholder="输入项目编号"></label>
                        <label for="">完成时间：
                            <input type="text" class="am-form-field comStartTime" placeholder="选择开始时间"> -
                            <input type="text" class="am-form-field comEndTime" placeholder="选择结束时间">
                        </label>
                        <label for=""><button class="sy-btn sy-btn-green sy-btn-sm searchBtn">搜索</button></label>
                    </div>
                    <% } %>
                <% } %>
                <div class="totalBox sy-right" style="padding-bottom: 10px"></div>
                <section class="cnt orderContent extra">
                    <div class="empty"></div>
                </section>
                <div class="sy-center more">
                    <input class="order_PageNo" type="hidden" value="1">
                    <button class="sy-btn order_LoadMoreBtn sy-hidden" type="button" data-event-click>加载更多</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/lib/laydate.min.js"></script>
<script>
    (function ($) {

        laydate.render({ elem: '.comStartTime' });
        laydate.render({ elem: '.comEndTime' });

        var baseInfo = JSON.parse(sessionStorage.getItem('sy_rm_client_ubase')) || {};

        __api__.getOrderOther({
            url: '/EcRmReportInfo/getAssignmentTaskPageList',
            data: {
                "currentPage": $('.order_PageNo').val(),
                "pageSize": 5,
                "paramsMap": {
                    receiver: baseInfo.userCode,
                    requireTimeStart: $('.comStartTime').val(),
                    requireTimeEnd: $('.comEndTime').val(),
                    orderId: $('.taskNo').val()
                },
                "sortName": "requireTimeStart",
                "sortType": "desc"
            }
        });

        $('.order_LoadMoreBtn,.searchBtn').click(function () {
            if($(this).hasClass('searchBtn')) {
                $(this).prop('disabled', true);
                $('.order_PageNo').val('1')
            }
            __api__.getOrderOther({
                url: '/EcRmReportInfo/getAssignmentTaskPageList',
                data: {
                    "currentPage": $('.order_PageNo').val(),
                    "pageSize": 5,
                    "paramsMap": {
                        receiver: baseInfo.userCode,
                        requireTimeStart: $('.comStartTime').val(),
                        requireTimeEnd: $('.comEndTime').val(),
                        orderId: $('.taskNo').val()
                    },
                    "sortName": "requireTimeStart",
                    "sortType": "desc"
                }
            });
        })

    }(jQuery));
</script>