<% if(data.message === 'success'){ %>
<div class="nav">
    <% if(data.data.translation){ %>
    <a class="item" href="/order/">订单服务</a>
    <a class="item" href="/order/book">图书翻译</a>
    <% } %>
    <% if(data.data.dTP){ %>
    <a class="item typeset" href="/order/typeset">桌面排版</a>
    <% } %>
    <% if(data.data.exhibition){ %>
    <a class="item meeting" href="/order/meeting">会展</a>
    <% } %>
    <% if(data.data.expatriate){ %>
    <a class="item interpret" href="/order/interpret">外派</a>
    <% } %>
    <% if(data.data.training){ %>
    <a class="item train" href="/order/train">培训</a>
    <% } %>
    <% if(data.data.build || data.data.device){ %>
    <a class="item device" href="/order/device">设备搭建</a>
    <% } %>
</div>
<% } %>
<script>
    (function ($) {

        var pathname = location.pathname;
        var items = document.querySelectorAll('div.nav>a.item');
        for(var i = 0, len = items.length; i<len; i++){
            var item = items[i],
                href = item.getAttribute('href');
            if(pathname === href){
                item.classList.add('active');
                break;
            }
        }
        // 1：团队，其他为个人
        var ubase = sessionStorage.getItem('sy_rm_client_ubase'),
            ubaseObj = ubase && JSON.parse(ubase) || {};
        if(ubaseObj.isTeam === 1){
            $('.item.interpret').remove();
            $('.item.train').remove();
        }else{
            $('.item.device').remove();
        }

        $.ajax({
            type: 'GET',
            url: __api__.baseRMUrl + '/userExtension/listPassedSkills',
            data: {
                userId: sessionStorage.getItem('sy_rm_client_ud')
            },
            success: function (res) {
                 if(res.message === 'success'){
                     let isAllEmpty = false,
                         data = res.data;
                     for(let key in data){
                         if(data[key]){
                             isAllEmpty = true;
                             break
                         }
                     }
                     //无权限访问
                     if(!isAllEmpty){
                         $('nav.nav').empty();
                         return null
                     }
                     $('nav>.filter').removeClass('sy-hidden');
                     //如果无权限，输入url不匹配，直接跳回首页
                     const activeLink = $('.nav>.item.active');
                     if(activeLink.attr('href') !== location.pathname){
                         location.href = '/'
                     }
                 }else{
                     $.error(res.message);
                     setTimeout('location.href = "/"', 1500)
                 }
            }
        })

    }(jQuery))
</script>