<div class="nav">
    <a class="item" href="/order/">订单服务</a>
    <a class="item" href="/order/book">图书翻译</a>
    <a class="item" href="/order/typeset">桌面排版</a>
    <a class="item" href="/order/meeting">会展</a>
    <a class="item user sy-hidden" href="/order/interpret">外派</a>
    <a class="item user sy-hidden" href="/order/train">培&nbsp;&nbsp;训</a>
    <a class="item team sy-hidden" href="/order/device">设备搭建</a>
</div>
<script>
    (function ($) {

        var pathname = location.pathname;
        var items = document.querySelectorAll('div.nav>a.item');
        for(var i = 0, len = items.length; i<len; i++){
            var item = items[i],
                href = item.getAttribute('href');
            if(pathname === href){
                item.classList.add('active');
                break;
            }
        }

        // 1：团队，其他为个人
        var ubase = sessionStorage.getItem('sy_rm_client_ubase'),
            ubaseObj = ubase && JSON.parse(ubase) || {};
        if(ubaseObj.isTeam === 1){
            $('.item.team').removeClass('sy-hidden');
            $('.item.user').remove();
        }else{
            $('.item.user').removeClass('sy-hidden');
            $('.item.team').remove();
        }

    }(jQuery));
</script>