<div id="orderPage" class="order_page">
    <div class="content">
        <div class="am-g">
            <div class="am-u-lg-8 content-left extra">
                <nav class="nav">
                    <% include order-nav.ejs %>
                    <div class="filter">
                        <a class="item active" href="#" data-event-click>待领取<span>0</span></a>
                        <a class="item" href="#10" data-event-click>进行中<span>0</span></a>
                        <a class="item" href="#20" data-event-click>已提交<span>0</span></a>
                        <a class="item" href="#25" data-event-click>已完成<span>0</span></a>
                        <a class="item" href="#21" data-event-click>退稿/终止<span>0</span></a>
                    </div>
                </nav>
                <section class="cnt orderContent">

                </section>
                <div class="sy-center more">
                    <input class="order_PageNo" type="hidden" value="1">
                    <button class="sy-btn order_LoadMoreBtn sy-hidden" type="button" data-event-click>加载更多</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function (window, document, $) {

        location.hash = '';

        var unclaimedUrl = '/DTPTask/getNotReceiveTask', //未领取
            claimedUrl = '/transTask/getTaskList', //除未领取
            rowCountUrl = '/transTask/allTransListCount'; //各状态条目

        //初始获取状态条目
        __api__.getOrderStatusNum({
            url: rowCountUrl,
            type: 4
        });

        //初始获取"待领取"列表
        __api__.getOrderDtp({
            method: 'get',
            url: unclaimedUrl,
            data: {
                "page": $('.order_PageNo').val(),
                "limit": 5,
                "sort":'requireTime',
                "desc":'desc'
            }
        });

        var pageOrder = document.getElementsByClassName('order_page').item(0),
            container = document.getElementsByClassName('orderContent').item(0),
            pageEl = document.getElementsByClassName('order_PageNo').item(0);
        /*
        * 订单页面 "div.order_page" 添加“click”事件委托
        * */
        pageOrder.addEventListener('click', function (e) {
            var event = e || window.event,
                target = event.target || event.srcElement;
            var type = 4, status = 10;
            var url = '', method = '', data = null;
            //包含属性'data-event-click'的元素触发事件
            if(target.getAttribute('data-event-click') !== null){
                if($('.filter').attr('disabled')){
                    event.preventDefault();
                    $.warning('正在获取数据');
                    return false;
                }
            }
            //切换“状态”
            if(target.nodeName === 'A' && $(target).hasClass('item')) {
                pageEl.value = 1;
                container.innerHTML = '';
                location.hash = target.getAttribute('href').slice(1);
                $(target).addClass('active').siblings().removeClass('active');
            //加载更多
            }else if($(target).hasClass('order_LoadMoreBtn')){
                target.setAttribute('disabled', true);
                target.innerHTML = '<i class="am-icon-spinner am-icon-pulse"></i>';
            }
            //发送ajax
            if(target.getAttribute('data-event-click') !== null){
                status = location.hash ? location.hash.slice(1) : '';
                if(!status){ //未领取订单传递的数据，get请求
                    url = unclaimedUrl;
                    method = 'get';
                    data = {
                        "page": $('.order_PageNo').val(),
                        "limit": 5,
                        "sort":'requireTime',
                        "desc":'desc'
                    };
                }else{
                    url = claimedUrl;
                    method = 'post';
                    data = {
                        jsonStr: JSON.stringify({
                            "page":{
                                "page": $('.order_PageNo').val(),
                                "limit": 5
                            },
                            "status": status,
                            "type": type
                        })
                    }
                }
                __api__.getOrderDtp({
                    method: method,
                    url: url,
                    data: data
                });
            }
        }, false);

    }(window, document, jQuery));
</script>