#content {
  min-height: 822px; }

.article_page {
  overflow: auto;
  padding: 20px 0; }
  .article_page span.edit,
  .article_page span.delete {
    float: right;
    margin-left: 30px;
    font-weight: 400;
    font-size: 14px; }
    .article_page span.edit:hover,
    .article_page span.delete:hover {
      cursor: pointer;
      opacity: .8; }
  .article_page span.edit {
    color: #2fc9d0; }
    .article_page span.edit > .icon-edit {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      vertical-align: -6px;
      background-image: url("/static/image/sprite.png");
      background-position: -420px -40px; }
  .article_page span.delete {
    color: #999;
    line-height: 24px; }
    .article_page span.delete > i {
      vertical-align: -1px;
      margin-right: 6px;
      font-size: 18px; }

.article_aside,
.article_cnt {
  float: left;
  border: 1px solid #EEEEEE; }

.article_aside {
  width: 200px;
  min-height: 360px;
  padding: 40px 0;
  text-align: center; }
  .article_aside > .tab-item {
    margin-bottom: 26px;
    font-size: 16px; }
    .article_aside > .tab-item:hover {
      cursor: pointer;
      color: #41CCA6; }
    .article_aside > .tab-item:last-child {
      margin-bottom: 0; }
    .article_aside > .tab-item.active {
      color: #41CCA6;
      font-weight: bold; }

.article_cnt {
  min-height: 792px;
  width: 980px;
  padding: 40px;
  margin-left: 20px; }

.article_page.articleArticle .article_cnt,
.article_page.personalArticle .article_cnt {
  padding: 10px 20px; }

.article_page.article {
  padding-top: 10px; }
  .article_page.article .nav-filter {
    margin-bottom: 20px;
    padding: 2.6rem 0 1rem;
    color: #A3A3A3;
    font-size: 15px;
    border-bottom: 1px solid #D2D2D2; }
    .article_page.article .nav-filter label {
      display: inline-block;
      width: 124px;
      text-align: center; }
      .article_page.article .nav-filter label:hover {
        cursor: pointer;
        opacity: .80; }
      .article_page.article .nav-filter label.active {
        position: relative;
        color: #41CCA6; }
        .article_page.article .nav-filter label.active::after {
          content: '';
          position: absolute;
          width: 124px;
          height: 4px;
          bottom: -18px;
          left: 0;
          background-color: #41CCA6; }
    .article_page.article .nav-filter a.add {
      float: right;
      color: #00BDC4;
      line-height: 22px; }
      .article_page.article .nav-filter a.add:hover {
        opacity: .8; }
      .article_page.article .nav-filter a.add > span {
        vertical-align: -1px;
        font-size: 22px; }
  .article_page.article .article_aside {
    height: 240px;
    min-height: 240px; }
    .article_page.article .article_aside > h3 {
      margin: 0 auto 1.6rem;
      width: 160px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 400; }
    .article_page.article .article_aside > a {
      display: block;
      margin-bottom: 1.5rem;
      color: #333;
      font-size: 14px; }
      .article_page.article .article_aside > a:hover, .article_page.article .article_aside > a.active {
        color: #41CCA6;
        font-weight: 700; }
  .article_page.article .article_cnt {
    min-height: 622px; }
    .article_page.article .article_cnt > h3 {
      margin-bottom: 35px;
      overflow: auto; }
    .article_page.article .article_cnt > .labelExp,
    .article_page.article .article_cnt > .projectExp,
    .article_page.article .article_cnt > .workExp {
      padding-left: 30px;
      margin-bottom: 60px; }
    .article_page.article .article_cnt > .labelExp > span {
      display: inline-block;
      height: 34px;
      line-height: 34px;
      padding: 0 20px;
      color: #ffffff;
      font-size: 14px;
      background-color: #00BDC5;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
      .article_page.article .article_cnt > .labelExp > span + span {
        margin-right: 5px;
        margin-bottom: 10px; }
    .article_page.article .article_cnt > .projectExp .item-img {
      background-position: -35px -868px; }
    .article_page.article .article_cnt > .workExp .item-img {
      background-position: -170px -868px; }
    .article_page.article .article_cnt > .projectExp > .item + .item,
    .article_page.article .article_cnt > .workExp > .item + .item {
      margin-top: 30px; }
    .article_page.article .article_cnt > .projectExp > .item > div,
    .article_page.article .article_cnt > .workExp > .item > div {
      vertical-align: top;
      display: inline-block; }
    .article_page.article .article_cnt > .projectExp > .item > .item-img,
    .article_page.article .article_cnt > .workExp > .item > .item-img {
      width: 100px;
      height: 100px;
      background-image: url("/static/image/sprite.png"); }
    .article_page.article .article_cnt > .projectExp > .item > .item-cnt,
    .article_page.article .article_cnt > .workExp > .item > .item-cnt {
      width: 740px;
      margin-left: 20px;
      font-size: 14px; }
      .article_page.article .article_cnt > .projectExp > .item > .item-cnt > div + div,
      .article_page.article .article_cnt > .workExp > .item > .item-cnt > div + div {
        margin-top: 10px; }
      .article_page.article .article_cnt > .projectExp > .item > .item-cnt .name,
      .article_page.article .article_cnt > .workExp > .item > .item-cnt .name {
        vertical-align: top;
        margin-right: 10px;
        color: #999; }
        .article_page.article .article_cnt > .projectExp > .item > .item-cnt .name + span,
        .article_page.article .article_cnt > .workExp > .item > .item-cnt .name + span {
          display: inline-block;
          width: 660px; }
    .article_page.article .article_cnt > .cnt {
      padding: 20px 10px; }
      .article_page.article .article_cnt > .cnt + div > button {
        width: 100px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #BFBFBF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        outline: none;
        font-size: 14px;
        color: #999;
        background: #fff; }
        .article_page.article .article_cnt > .cnt + div > button:hover {
          color: #fff;
          background: #BFBFBF; }
      .article_page.article .article_cnt > .cnt > .item {
        position: relative;
        margin-bottom: 20px; }
        .article_page.article .article_cnt > .cnt > .item.well:before {
          content: '';
          position: absolute;
          left: -6px;
          top: -6px;
          display: block;
          width: 58px;
          height: 62px;
          background-image: url("/static/image/sprite.png");
          background-position: -386px -774px; }
        .article_page.article .article_cnt > .cnt > .item > .absolute {
          position: absolute;
          width: 160px;
          height: 32px;
          line-height: 32px;
          background: rgba(0, 0, 0, 0.4);
          color: #fff;
          font-size: 14px;
          text-align: center;
          left: 0;
          bottom: 0; }
        .article_page.article .article_cnt > .cnt > .item > .img, .article_page.article .article_cnt > .cnt > .item > .item-cnt {
          display: inline-block; }
        .article_page.article .article_cnt > .cnt > .item > .img {
          width: 160px;
          height: 120px;
          outline: 1px solid #dedede; }
          .article_page.article .article_cnt > .cnt > .item > .img > img {
            width: inherit;
            height: inherit; }
        .article_page.article .article_cnt > .cnt > .item > .item-cnt {
          width: 736px;
          margin-left: 15px;
          vertical-align: top; }
          .article_page.article .article_cnt > .cnt > .item > .item-cnt > a {
            color: #333; }
            .article_page.article .article_cnt > .cnt > .item > .item-cnt > a:hover h5 {
              color: #41CCA6; }
          .article_page.article .article_cnt > .cnt > .item > .item-cnt h5 {
            margin-top: 3px;
            margin-bottom: 0; }
          .article_page.article .article_cnt > .cnt > .item > .item-cnt p {
            height: 44px;
            margin: 12px 0;
            font-size: 14px; }
          .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g {
            font-size: 12px;
            color: #999; }
            .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div {
              padding: 0; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div:last-child {
                text-align: right; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div.am-u-sm-1 {
                width: 10%; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div.tip {
                color: #F36F48; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div i.sy-icon {
                display: inline-block;
                width: 18px;
                height: 18px;
                margin-right: 3px;
                vertical-align: -4px;
                background-image: url("/static/image/sprite.png"); }
                .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-eye {
                  background-position: -352px -100px; }
                .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-thumbs {
                  background-position: -405px -100px; }
                .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-commenting {
                  background-position: -455px -100px; }
            .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a {
              color: #41CCA6; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a:hover {
                opacity: .85; }
              .article_page.article .article_cnt > .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a > img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                vertical-align: -5px; }
  .article_page.article .main-bg {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    background-image: url("/static/image/article-main-bg.png");
    background-position: center; }
    .article_page.article .main-bg > div {
      display: table-cell; }
      .article_page.article .main-bg > div.head {
        width: 210px;
        padding-top: 15px;
        text-align: center; }
        .article_page.article .main-bg > div.head > img {
          width: 100px;
          height: 100px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%; }
        .article_page.article .main-bg > div.head > strong {
          display: block;
          margin-top: 4px;
          color: #fff; }
      .article_page.article .main-bg > div.info {
        width: 960px;
        height: 160px;
        vertical-align: top;
        padding-top: 32px;
        font-weight: 700; }
        .article_page.article .main-bg > div.info .column-2 {
          margin-bottom: 10px; }
          .article_page.article .main-bg > div.info .column-2 > div {
            display: inline-block;
            width: 476px;
            vertical-align: top;
            margin: 0 0 5px 0;
            color: #fff;
            font-size: 16px; }
            .article_page.article .main-bg > div.info .column-2 > div:nth-child(odd) {
              padding-left: 40px; }
            .article_page.article .main-bg > div.info .column-2 > div > span.lv {
              display: inline-block;
              height: 22px;
              line-height: 24px;
              padding: 0 10px;
              margin-bottom: 4px;
              margin-left: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              background: #FFB11A;
              font-family: -webkit-pictograph; }
        .article_page.article .main-bg > div.info .column-3.am-g {
          padding-left: 40px;
          color: #fff; }
          .article_page.article .main-bg > div.info .column-3.am-g > div {
            padding: 0; }

.article_page.information {
  padding-top: 10px; }
  .article_page.information .main-bg {
    width: 100%;
    height: 160px; }
  .article_page.information.speaker .main-bg {
    background-image: url("/static/image/speaker-main-bg.png");
    background-position: center; }
  .article_page.information.industry .main-bg {
    background-image: url("/static/image/industry-main-bg.png");
    background-position: center; }
  .article_page.information .cnt button,
  .article_page.information .comment .more > button {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #BFBFBF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: #999;
    background: #fff; }
    .article_page.information .cnt button:hover,
    .article_page.information .comment .more > button:hover {
      color: #fff;
      background: #BFBFBF; }
  .article_page.information .cnt {
    min-height: 670px;
    padding: 30px;
    border: 1px solid #eee; }
    .article_page.information .cnt > .item {
      position: relative;
      margin-bottom: 20px; }
      .article_page.information .cnt > .item.well:before {
        content: '';
        position: absolute;
        left: -6px;
        top: -6px;
        display: block;
        width: 58px;
        height: 62px;
        background-image: url("/static/image/sprite.png");
        background-position: -386px -774px; }
      .article_page.information .cnt > .item > .absolute {
        position: absolute;
        width: 160px;
        height: 32px;
        line-height: 32px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: 14px;
        text-align: center;
        left: 0;
        bottom: 0; }
      .article_page.information .cnt > .item > .img {
        display: inline-block;
        width: 160px;
        height: 120px; }
        .article_page.information .cnt > .item > .img > img {
          width: inherit;
          height: inherit; }
      .article_page.information .cnt > .item > .item-cnt {
        display: inline-block;
        width: 950px;
        margin-left: 15px;
        vertical-align: top; }
        .article_page.information .cnt > .item > .item-cnt > a {
          color: #333; }
          .article_page.information .cnt > .item > .item-cnt > a:hover h5 {
            color: #41CCA6; }
        .article_page.information .cnt > .item > .item-cnt h5 {
          margin-top: 3px;
          margin-bottom: 0; }
        .article_page.information .cnt > .item > .item-cnt p {
          height: 44px;
          margin: 12px 0;
          font-size: 14px; }
        .article_page.information .cnt > .item > .item-cnt .am-g {
          font-size: 12px;
          color: #999; }
          .article_page.information .cnt > .item > .item-cnt .am-g > div {
            padding: 0; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div.am-u-sm-1 {
              width: 10%;
              text-align: right; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div.am-u-sm-2 {
              width: 15%;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space: nowrap; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div.am-u-sm-8 {
              width: 55%; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div i.sy-icon {
              display: inline-block;
              width: 18px;
              height: 18px;
              margin-right: 3px;
              vertical-align: -4px;
              background-image: url("/static/image/sprite.png"); }
              .article_page.information .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-eye {
                background-position: -352px -100px; }
              .article_page.information .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-thumbs {
                background-position: -405px -100px; }
              .article_page.information .cnt > .item > .item-cnt .am-g > div i.sy-icon.icon-commenting {
                background-position: -455px -100px; }
          .article_page.information .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a {
            color: #41CCA6; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a:hover {
              opacity: .85; }
            .article_page.information .cnt > .item > .item-cnt .am-g > div:nth-child(1) > a > img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              vertical-align: -5px; }
  .article_page.information.information_detail {
    overflow: auto; }
    .article_page.information.information_detail .detail_aside,
    .article_page.information.information_detail .detail_cnt {
      float: right;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff; }
    .article_page.information.information_detail .detail_aside {
      width: 200px;
      min-height: 500px;
      padding: 20px 24px;
      border: 1px solid #eee;
      font-size: 14px; }
      .article_page.information.information_detail .detail_aside .name {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 20px; }
      .article_page.information.information_detail .detail_aside .lan-pair {
        margin-bottom: 26px; }
        .article_page.information.information_detail .detail_aside .lan-pair > .title {
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: bold; }
        .article_page.information.information_detail .detail_aside .lan-pair > .lan > span:not(.lv) {
          display: inline-block;
          width: 96px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .article_page.information.information_detail .detail_aside .lan-pair > .lan > .lv {
          vertical-align: top;
          display: inline-block;
          margin-left: 2px;
          padding: 0 10px;
          height: 22px;
          line-height: 23px;
          color: #fff;
          -webkit-border-radius: 11px;
          -moz-border-radius: 11px;
          border-radius: 11px;
          background-color: #FFB11A;
          font-family: -webkit-pictograph; }
      .article_page.information.information_detail .detail_aside .year {
        margin-bottom: 16px; }
      .article_page.information.information_detail .detail_aside .score {
        margin-bottom: 26px; }
      .article_page.information.information_detail .detail_aside .sy-btn-md {
        padding: 0 15px; }
      .article_page.information.information_detail .detail_aside img {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    .article_page.information.information_detail .detail_cnt {
      width: 980px;
      min-height: 792px;
      margin-right: 20px;
      padding: 0 40px 80px; }
      .article_page.information.information_detail .detail_cnt > h3.title {
        margin: 30px 0 40px;
        font-size: 26px; }
      .article_page.information.information_detail .detail_cnt > div.title {
        font-size: 12px;
        color: #999; }
        .article_page.information.information_detail .detail_cnt > div.title img {
          width: 62px;
          height: 62px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        .article_page.information.information_detail .detail_cnt > div.title > div {
          padding: 0; }
          .article_page.information.information_detail .detail_cnt > div.title > div.am-u-sm-6 {
            width: 67%;
            color: #333;
            font-size: 14px; }
          .article_page.information.information_detail .detail_cnt > div.title > div.am-u-sm-2 {
            width: 11%; }
          .article_page.information.information_detail .detail_cnt > div.title > div i.sy-icon {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 3px;
            vertical-align: -4px;
            background-image: url("/static/image/sprite.png"); }
            .article_page.information.information_detail .detail_cnt > div.title > div i.sy-icon.icon-eye {
              background-position: -352px -100px; }
            .article_page.information.information_detail .detail_cnt > div.title > div i.sy-icon.icon-thumbs {
              background-position: -405px -100px; }
            .article_page.information.information_detail .detail_cnt > div.title > div i.sy-icon.icon-commenting {
              background-position: -455px -100px; }
        .article_page.information.information_detail .detail_cnt > div.title > div:nth-child(1) > a {
          color: #41CCA6; }
          .article_page.information.information_detail .detail_cnt > div.title > div:nth-child(1) > a:hover {
            opacity: .85; }
          .article_page.information.information_detail .detail_cnt > div.title > div:nth-child(1) > a > img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            vertical-align: -5px; }
      .article_page.information.information_detail .detail_cnt > div.detail {
        margin-top: 20px;
        margin-bottom: 60px;
        font-size: 14px;
        color: #666; }
        .article_page.information.information_detail .detail_cnt > div.detail > p,
        .article_page.information.information_detail .detail_cnt > div.detail > div {
          margin-top: 0;
          margin-bottom: 20px; }
      .article_page.information.information_detail .detail_cnt > div.comment {
        font-size: 14px; }
        .article_page.information.information_detail .detail_cnt > div.comment textarea {
          width: 100%;
          height: 110px;
          padding: 10px;
          resize: vertical;
          outline: none;
          border: 1px solid #BFBFBF;
          color: #888; }
          .article_page.information.information_detail .detail_cnt > div.comment textarea:focus {
            border-color: #41CCA6; }
        .article_page.information.information_detail .detail_cnt > div.comment button {
          margin-top: 10px;
          height: 34px;
          line-height: 34px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }
          .article_page.information.information_detail .detail_cnt > div.comment button + button {
            margin-left: 15px; }
          .article_page.information.information_detail .detail_cnt > div.comment button.cancel {
            color: #41CCA6;
            border-color: #41CCA6; }
        .article_page.information.information_detail .detail_cnt > div.comment .reply .reply > .add-comment {
          width: 100%; }
        .article_page.information.information_detail .detail_cnt > div.comment > .comment-list {
          padding-top: 50px; }
          .article_page.information.information_detail .detail_cnt > div.comment > .comment-list img {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
          .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item {
            margin-top: 30px;
            vertical-align: top; }
            .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.head,
            .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt {
              display: inline-block;
              vertical-align: inherit; }
            .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt {
              width: 92%;
              padding-top: 10px;
              padding-left: 20px; }
              .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt h5.title {
                margin-bottom: 0;
                font-size: 16px; }
                .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt h5.title.author:after {
                  vertical-align: -5px;
                  content: "";
                  display: inline-block;
                  width: 50px;
                  height: 24px;
                  background-image: url("/static/image/sprite.png");
                  background-position: -430px -663px; }
                .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt h5.title > a {
                  color: #333; }
                  .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt h5.title > a:hover {
                    cursor: pointer;
                    color: #41CCA6; }
              .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt > span.time {
                color: #999999; }
              .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt > div.txt {
                margin: 15px 0; }
              .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt > div.reply > .reply-icon {
                width: 52px;
                height: 20px;
                line-height: 20px;
                margin-bottom: 5px;
                font-size: 12px;
                color: #999999;
                cursor: pointer; }
                .article_page.information.information_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt > div.reply > .reply-icon:before {
                  content: '';
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  margin-right: 4px;
                  vertical-align: -6px;
                  background-image: url("/static/image/sprite.png");
                  background-position: -455px -100px; }
  .article_page.information.speaker_detail .detail_cnt .reply > .add-comment {
    width: 99.8%; }
  .article_page.information.industry_detail .detail_cnt > div.comment > .comment-list .item > div.comment-cnt {
    width: 93%; }
  .article_page.information.industry_detail .detail_cnt {
    width: 100%; }
    .article_page.information.industry_detail .detail_cnt > h3.title {
      margin-bottom: 50px; }
    .article_page.information.industry_detail .detail_cnt > div.title > .am-u-md-11 h5 {
      margin: 4px 0 10px;
      font-size: 16px;
      color: #333; }
    .article_page.information.industry_detail .detail_cnt > div.title > .am-u-md-11 .tip {
      color: #F1572A; }
    .article_page.information.industry_detail .detail_cnt .reply > .add-comment {
      width: 99.5%; }
  .article_page.information.create_article .detail_cnt {
    padding-bottom: 0px; }
  .article_page.information.create_article .create-form {
    width: 730px;
    margin: 0 auto;
    padding: 40px 0; }
    .article_page.information.create_article .create-form > .form-item {
      position: relative;
      margin-bottom: 22px;
      color: #333333;
      font-size: 14px; }
      .article_page.information.create_article .create-form > .form-item .form-item-title {
        display: inline-block;
        width: 50px; }
        .article_page.information.create_article .create-form > .form-item .form-item-title.extra {
          vertical-align: top; }
      .article_page.information.create_article .create-form > .form-item .form-item-select,
      .article_page.information.create_article .create-form > .form-item .form-item-input {
        height: 32px;
        line-height: 32px;
        outline: none;
        border: 1px solid #BFBFBF;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        .article_page.information.create_article .create-form > .form-item .form-item-select:focus,
        .article_page.information.create_article .create-form > .form-item .form-item-input:focus {
          border-color: #41CCA6; }
      .article_page.information.create_article .create-form > .form-item .form-item-select {
        width: 300px;
        padding: 0 10px; }
      .article_page.information.create_article .create-form > .form-item .form-item-input {
        width: 670px;
        padding: 0 50px 0 10px; }
        .article_page.information.create_article .create-form > .form-item .form-item-input.extra {
          width: 550px;
          -webkit-border-radius: 2px 0 0 2px;
          -moz-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px; }
        .article_page.information.create_article .create-form > .form-item .form-item-input + span {
          position: absolute;
          right: 15px;
          top: 5px; }
        .article_page.information.create_article .create-form > .form-item .form-item-input + button {
          width: 120px;
          height: 32px;
          line-height: 32px;
          padding-left: 0;
          padding-right: 0;
          margin-left: -5px;
          text-align: center;
          -webkit-border-radius: 0 2px 2px 0;
          -moz-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0; }
      .article_page.information.create_article .create-form > .form-item .form-item-img {
        position: relative;
        display: inline-block;
        width: 132px;
        height: 76px; }
        .article_page.information.create_article .create-form > .form-item .form-item-img > img {
          width: inherit;
          height: inherit;
          border: 1px solid #eee; }
        .article_page.information.create_article .create-form > .form-item .form-item-img > div {
          position: absolute;
          width: inherit;
          height: 28px;
          line-height: 28px;
          bottom: 0;
          color: #fff;
          font-size: 12px;
          text-align: center;
          background: rgba(0, 0, 0, 0.3); }
          .article_page.information.create_article .create-form > .form-item .form-item-img > div:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.4); }
      .article_page.information.create_article .create-form > .form-item p.tip {
        margin: 2px 60px 0;
        color: #F1572A;
        font-size: 12px; }
    .article_page.information.create_article .create-form > .btns button {
      height: 32px;
      line-height: 30px;
      padding: 0 20px; }
      .article_page.information.create_article .create-form > .btns button + button {
        margin-left: 30px; }
  .article_page.information.create_article #editor {
    min-height: 530px; }

.icon-thumbs {
  cursor: pointer; }

.w-e-toolbar {
  background-color: #FFF !important; }

.w-e-text-container {
  min-height: 500px !important; }

.w-e-text {
  overflow-y: auto !important; }
