#header .nav-gator .nav-item {
  color: #333; }
  #header .nav-gator .nav-item:not(.nav-logo):after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #41CCA6; }
  #header .nav-gator .nav-item:hover {
    color: #41CCA6; }
    #header .nav-gator .nav-item:hover:after {
      width: 100%;
      margin: 0 auto;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      -moz-transition: width .3s;
      transition: width .3s; }
  #header .nav-gator .nav-item.active {
    color: #41CCA6; }
    #header .nav-gator .nav-item.active:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #41CCA6; }

#header a.am-btn.log {
  background: #fff;
  border-color: #41CCA6;
  color: #41CCA6; }
  #header a.am-btn.log:hover {
    background: #fff;
    opacity: .8; }

#header a.am-btn.reg {
  background: #41CCA6;
  border-color: #41CCA6;
  color: #fff; }
  #header a.am-btn.reg:hover {
    opacity: .8; }

div.index .slider-content {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative; }

div.index .sy-btn-index {
  position: absolute;
  bottom: 62px;
  left: 40%;
  display: inline-block;
  width: 150px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #41CCA6;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFBB9), to(#FFF105));
  background: -webkit-linear-gradient(#FFFBB9, #FFF105);
  background: -moz-linear-gradient(#FFFBB9, #FFF105);
  background: -o-linear-gradient(#FFFBB9, #FFF105);
  background: linear-gradient(#FFFBB9, #FFF105);
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px; }
  div.index .sy-btn-index:hover {
    background: #FFF105; }

div.index .pointer {
  display: block;
  width: 100%;
  height: 100%; }

div.index .star h3,
div.index .step > h3,
div.index .saying > h3,
div.index .information > h3,
div.index .introduce > h3 {
  font-size: 30px;
  font-weight: 600; }

div.index .total {
  position: relative;
  padding: 95px 0; }
  div.index .total .line {
    width: 100%;
    height: 1px;
    background-color: #BFBFBF; }
  div.index .total .font {
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -160px;
    width: 320px;
    background: #fff;
    font-size: 14px; }
    div.index .total .font p {
      margin: 0;
      padding: 0; }
    div.index .total .font strong {
      color: #F1572A;
      font-size: 60px;
      font-weight: 400; }

div.index .introduce {
  padding-bottom: 50px; }
  div.index .introduce .introduce-container {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 32px; }
    div.index .introduce .introduce-container > .item {
      display: table-cell;
      position: relative;
      width: 260px;
      padding: 25px; }
      div.index .introduce .introduce-container > .item:hover .item-hide {
        display: block; }
    div.index .introduce .introduce-container h5 {
      margin: 15px 0;
      font-size: 16px; }
    div.index .introduce .introduce-container p {
      margin: 0;
      margin-bottom: 15px;
      font-size: 14px; }
      div.index .introduce .introduce-container p > a {
        color: #41CCA6; }
    div.index .introduce .introduce-container a.sy-btn-sm {
      padding: 0 22px;
      font-size: 14px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0; }
    div.index .introduce .introduce-container .item-hide {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 270px;
      padding: 25px;
      background-color: #fff;
      -webkit-box-shadow: 0px 0px 25px 10px #F4F4F4;
      -moz-box-shadow: 0px 0px 25px 10px #F4F4F4;
      box-shadow: 0px 0px 25px 10px #F4F4F4; }
      div.index .introduce .introduce-container .item-hide p {
        text-align: justify; }

div.index .order {
  padding-bottom: 70px; }
  div.index .order > .am-g > div {
    height: 260px; }
    div.index .order > .am-g > div.am-u-md-8 {
      position: relative;
      width: 780px;
      background: url("/static/image/index-zhaomu.png") no-repeat center; }
    div.index .order > .am-g > div.am-u-md-4 {
      width: 400px;
      padding: 0; }
      div.index .order > .am-g > div.am-u-md-4 h5 {
        margin: 0;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #fff;
        background-color: #41CCA6; }
    div.index .order > .am-g > div .sy-btn {
      position: absolute;
      left: 400px;
      bottom: 30px;
      background-color: #F1572A;
      border-color: #F1572A;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      font-size: 14px; }
    div.index .order > .am-g > div .order-list {
      height: 209px;
      padding: 35px 30px;
      border: 1px solid #EEEEEE;
      border-top: none; }
      div.index .order > .am-g > div .order-list .textScroll {
        height: 140px;
        overflow: hidden; }
      div.index .order > .am-g > div .order-list ul, div.index .order > .am-g > div .order-list ol {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 14px; }
      div.index .order > .am-g > div .order-list li {
        height: 34px;
        line-height: 34px; }
      div.index .order > .am-g > div .order-list li > div {
        display: table-cell; }
        div.index .order > .am-g > div .order-list li > div.info {
          width: 200px; }
          div.index .order > .am-g > div .order-list li > div.info span {
            margin: 0 3px;
            color: #F1572A; }
        div.index .order > .am-g > div .order-list li > div.time {
          width: 138px;
          text-align: right; }

div.index .step {
  position: relative;
  padding-bottom: 70px; }
  div.index .step .step-bg {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    height: 648px;
    background-image: url("/static/image/index-step.png"); }
  div.index .step .sy-btn {
    font-size: 14px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
  div.index .step .step-item {
    position: absolute;
    width: 440px;
    min-height: 80px;
    padding-left: 80px; }
    div.index .step .step-item:before {
      position: absolute;
      left: 20px;
      top: -18px;
      color: #DBDBDB;
      font-size: 70px;
      font-weight: bold; }
    div.index .step .step-item h5 {
      margin: 5px 0; }
    div.index .step .step-item span {
      font-size: 14px; }
    div.index .step .step-item.item-1 {
      top: 160px; }
      div.index .step .step-item.item-1:before {
        content: '1'; }
    div.index .step .step-item.item-2 {
      right: 34px;
      top: 270px; }
      div.index .step .step-item.item-2:before {
        content: '2'; }
    div.index .step .step-item.item-3 {
      top: 475px; }
      div.index .step .step-item.item-3:before {
        content: '3'; }
    div.index .step .step-item.item-4 {
      right: 34px;
      top: 625px; }
      div.index .step .step-item.item-4:before {
        content: '4'; }

div.index .star {
  padding: 40px 0;
  background-color: #F7F7F7; }
  div.index .star h3 {
    margin-bottom: 30px; }
  div.index .star .item {
    display: inline-block;
    margin: 0 68px;
    width: 260px;
    height: 280px;
    text-align: center;
    background-image: url("/static/image/index-star-bg.png"); }
    div.index .star .item:hover {
      -webkit-box-shadow: 0px 0px 15px 10px #f2f2f2;
      -moz-box-shadow: 0px 0px 15px 10px #f2f2f2;
      box-shadow: 0px 0px 15px 10px #f2f2f2; }
    div.index .star .item.item-1 h5 {
      background-color: #41CCA6; }
    div.index .star .item.item-2 h5 {
      background-color: #F1572A; }
    div.index .star .item.item-3 h5 {
      background-color: #49A1DF; }
    div.index .star .item h5 {
      height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      color: #fff; }
    div.index .star .item img {
      margin-bottom: 5px; }
    div.index .star .item h4 {
      margin: 24px 0 6px;
      font-size: 26px; }
    div.index .star .item p {
      margin: 0;
      font-size: 14px; }
    div.index .star .item i {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0 12px;
      vertical-align: -3px;
      background-image: url("/static/image/index-star.png"); }

div.index .information,
div.index .saying {
  padding-top: 70px; }
  div.index .information > h3,
  div.index .saying > h3 {
    margin-bottom: 30px; }

div.index .saying .bg, div.index .saying .cnt, div.index .information .bg, div.index .information .cnt {
  display: inline-block; }

div.index .saying .bg, div.index .information .bg {
  position: relative;
  width: 340px;
  height: 290px;
  margin-right: 15px; }

div.index .saying .cnt, div.index .information .cnt {
  position: relative;
  width: 840px;
  height: 290px;
  vertical-align: top;
  border-bottom: 1px solid #eee; }

div.index .saying .item, div.index .information .item {
  margin-bottom: 20px; }
  div.index .saying .item > .img, div.index .information .item > .img {
    display: inline-block;
    width: 160px;
    height: 120px; }
    div.index .saying .item > .img > img, div.index .information .item > .img > img {
      width: inherit;
      height: inherit; }
  div.index .saying .item > .item-cnt, div.index .information .item > .item-cnt {
    display: inline-block;
    width: 660px;
    margin-left: 15px;
    vertical-align: top; }
    div.index .saying .item > .item-cnt > a, div.index .information .item > .item-cnt > a {
      color: #333; }
      div.index .saying .item > .item-cnt > a:hover h5, div.index .information .item > .item-cnt > a:hover h5 {
        color: #41CCA6; }
    div.index .saying .item > .item-cnt h5, div.index .information .item > .item-cnt h5 {
      margin: 6px 0; }
    div.index .saying .item > .item-cnt p, div.index .information .item > .item-cnt p {
      margin-top: 0;
      margin-bottom: 6px;
      height: 44px;
      font-size: 14px; }
    div.index .saying .item > .item-cnt .am-g, div.index .information .item > .item-cnt .am-g {
      font-size: 12px;
      color: #999; }
      div.index .saying .item > .item-cnt .am-g > div, div.index .information .item > .item-cnt .am-g > div {
        padding: 0; }
        div.index .saying .item > .item-cnt .am-g > div i.sy-icon, div.index .information .item > .item-cnt .am-g > div i.sy-icon {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 3px;
          vertical-align: -4px;
          background-image: url("/static/image/sprite.png"); }
          div.index .saying .item > .item-cnt .am-g > div i.sy-icon.icon-eye, div.index .information .item > .item-cnt .am-g > div i.sy-icon.icon-eye {
            background-position: -352px -100px; }
          div.index .saying .item > .item-cnt .am-g > div i.sy-icon.icon-thumbs, div.index .information .item > .item-cnt .am-g > div i.sy-icon.icon-thumbs {
            background-position: -405px -100px; }
          div.index .saying .item > .item-cnt .am-g > div i.sy-icon.icon-commenting, div.index .information .item > .item-cnt .am-g > div i.sy-icon.icon-commenting {
            background-position: -455px -100px; }
      div.index .saying .item > .item-cnt .am-g > div:nth-child(1) > a, div.index .information .item > .item-cnt .am-g > div:nth-child(1) > a {
        color: #41CCA6; }
        div.index .saying .item > .item-cnt .am-g > div:nth-child(1) > a:hover, div.index .information .item > .item-cnt .am-g > div:nth-child(1) > a:hover {
          opacity: .85; }
        div.index .saying .item > .item-cnt .am-g > div:nth-child(1) > a > img, div.index .information .item > .item-cnt .am-g > div:nth-child(1) > a > img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          vertical-align: -5px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }

div.index .saying .more, div.index .information .more {
  position: absolute;
  right: 0;
  bottom: 0; }
  div.index .saying .more > a, div.index .information .more > a {
    color: #41CCA6;
    font-size: 14px; }
    div.index .saying .more > a:hover, div.index .information .more > a:hover {
      opacity: .85; }

div.index .saying .bg {
  background-image: url("/static/image/index-saying.png"); }
  div.index .saying .bg .sy-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #F1572A;
    border-color: #F1572A;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 14px; }

div.index .information .bg {
  background-image: url("/static/image/index-information.png"); }

div.index .bottom-bg {
  height: 260px;
  margin-top: 80px;
  background-image: url("/static/image/index-bottom-bg.png");
  background-position: left center; }
  div.index .bottom-bg .content {
    padding: 75px 0; }
    div.index .bottom-bg .content h3 {
      margin-bottom: 2.5rem;
      color: #fff;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 5px; }
    div.index .bottom-bg .content .sy-btn {
      background-color: #F1572A;
      border-color: #F1572A;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      font-size: 14px; }

.am-slider-default {
  margin-bottom: 0; }

.am-slider .am-slides > li {
  width: 100%;
  height: 400px;
  background-position: center; }

ul.am-direction-nav {
  display: none; }

.am-slider-default .am-control-nav {
  bottom: 30px; }

.am-slider-default .am-control-nav li {
  margin: 0 12px; }

.am-slider-default .am-control-nav li a {
  width: 30px;
  height: 6px;
  opacity: .5;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .am-slider-default .am-control-nav li a.am-active {
    width: 50px;
    opacity: 1;
    background: #fff; }

.rightAside {
  position: fixed;
  right: 0;
  bottom: 150px;
  z-index: 999;
  width: 70px;
  font-size: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 6px 2px #ddd;
  -moz-box-shadow: 0px 0px 6px 2px #ddd;
  box-shadow: 0px 0px 6px 2px #ddd; }
  .rightAside ul, .rightAside li {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
  .rightAside li {
    position: relative;
    height: 70px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #D2D2D2;
    cursor: pointer; }
    .rightAside li:hover .message {
      visibility: visible;
      right: 100px;
      -webkit-transition: right .6s;
      -o-transition: right .6s;
      -moz-transition: right .6s;
      transition: right .6s; }
    .rightAside li:before {
      content: '';
      height: 34px;
      width: 36px;
      display: block;
      margin: 0 auto;
      background-image: url("/static/image/sprite.png"); }
    .rightAside li.follow {
      border-top: none; }
      .rightAside li.follow .message {
        padding: 40px 0; }
      .rightAside li.follow p {
        margin-bottom: 0; }
      .rightAside li.follow:before {
        background-position: -353px -352px; }
      .rightAside li.follow:hover {
        color: #41CCA6; }
        .rightAside li.follow:hover:before {
          background-position: -423px -352px; }
    .rightAside li.phone .message, .rightAside li.contact .message {
      padding: 36px 10px 36px 20px;
      text-align: left; }
    .rightAside li.phone p, .rightAside li.contact p {
      margin-top: 0;
      margin-bottom: 10px; }
    .rightAside li.phone hr, .rightAside li.contact hr {
      margin: 15px 0;
      margin-right: 15px; }
    .rightAside li.contact i {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      vertical-align: -3px;
      background-image: url("/static/image/sprite.png"); }
      .rightAside li.contact i.qq {
        background-position: -366px -627px; }
      .rightAside li.contact i.wx {
        background-position: -366px -666px; }
    .rightAside li.contact:before {
      background-position: -354px -422px; }
    .rightAside li.contact:hover {
      color: #41CCA6; }
      .rightAside li.contact:hover:before {
        background-position: -424px -422px; }
    .rightAside li.phone .message {
      padding: 36px 25px;
      text-align: center; }
    .rightAside li.phone hr {
      margin-right: 0; }
    .rightAside li.phone hr + p + p,
    .rightAside li.phone hr + p {
      color: #999999; }
    .rightAside li.phone:before {
      background-position: -353px -494px; }
    .rightAside li.phone:hover {
      color: #41CCA6; }
      .rightAside li.phone:hover:before {
        background-position: -423px -494px; }
    .rightAside li.back:before {
      background-position: -357px -572px; }
    .rightAside li.back:hover {
      color: #41CCA6; }
      .rightAside li.back:hover:before {
        background-position: -427px -572px; }
  .rightAside .message {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 130px;
    width: 240px;
    color: #333 !important;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 10px 2px #ddd;
    -moz-box-shadow: 0px 0px 10px 2px #ddd;
    box-shadow: 0px 0px 10px 2px #ddd;
    background-color: #fff;
    cursor: default; }
    .rightAside .message:after {
      content: '';
      position: absolute;
      right: -28px;
      top: 20px;
      border-top: 16px solid #fff;
      border-bottom: 16px solid transparent;
      border-right: 16px solid transparent;
      border-left: 16px solid transparent;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .rightAside .message img {
      width: 110px;
      height: 110px; }

.footer {
  width: 100%;
  height: 230px;
  padding: 30px 0;
  background-color: #333333;
  font-size: 14px; }
  .footer .nav {
    color: #fff;
    font-size: 14px; }
    .footer .nav a {
      color: #fff; }
      .footer .nav a:hover {
        color: #41CCA6; }
    .footer .nav .item {
      margin-bottom: 30px; }
    .footer .nav img {
      width: 100px;
      height: 100px; }
  .footer .bah, .footer .bah a {
    color: #959595; }
