<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="pinterest" content="nopin">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zhaoyong">
    <meta rel="me" href="https://www.github.com/244396012">
    <meta rel="me" href="mailto:244396012@qq.com">
    <meta rel="me" href="tel:13980476439">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="description" content="帐号登录">
    <title>帐号登录</title>
    <link rel="stylesheet" href="/static/lib/amazeui.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prev.css">
</head>
<body>
<div class="wrapper">
    <header id="header">
        <div class="content">
            <div class="am-g">
                <div class="am-u-sm-6">
                    logo
                </div>
                <div class="am-u-sm-6" style="text-align: right">
                    <a class="am-btn am-btn-default sy-font-fm reg" href="/register.html">注册</a>
                    <a class="am-btn am-btn-default sy-font-fm home" href="/">首页</a>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <div class="content">
            <div class="prev-home">
                <div class="am-g">
                    <div class="am-u-sm-6 sy-lg-out">
                        <div class="sy-lg"></div>
                    </div>
                    <div class="am-u-sm-6">
                        <form class="am-form am-form-horizontal" style="padding: 20px;">
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label sy-font-fm"></label>
                                <div class="am-u-sm-9">
                                    <h3 class="sy-font-xlg" style="text-align: center">登 录</h3>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label sy-font-fm">用户名</label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="sy-input" placeholder="请输入手机号或邮箱" required autocomplete="off">
                                </div>
                            </div>
                            <div class="am-form-group" style="margin-top: 40px;">
                                <label class="am-u-sm-3 am-form-label sy-font-fm">密码</label>
                                <div class="am-u-sm-9">
                                    <input type="password" class="sy-input" placeholder="请输入密码" required autocomplete="off">
                                </div>
                            </div>
                            <div class="am-form-group sy-font-md">
                                <div class="am-u-sm-offset-3 am-u-sm-6">
                                    <div class="checkbox">
                                        <label class="am-checkbox">
                                            <input type="checkbox" data-am-ucheck> 记住密码
                                        </label>
                                    </div>
                                </div>
                                <div class="am-u-sm-3">
                                    <div class="checkbox">
                                        <a class="sy-link" href="/findPwd.html#step-1">忘记密码</a>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group"  style="margin-top: 40px;">
                                <div class="am-u-sm-9 am-u-sm-offset-3">
                                    <button type="button" id="loginBtn" class="sy-btn sy-btn-default">登 录</button>
                                </div>
                                <div class="am-u-sm-9 am-u-sm-offset-3 sy-font-md" style="line-height: 60px;text-align: center">
                                    还没有帐号？<a class="sy-link" href="/register.html">立即注册</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="content">
            footer
        </div>
    </footer>
</div>
</body>
</html>
<script src="/static/lib/jquery-2.1.4.min.js"></script>
<script src="/static/lib/amazeui.min.js"></script>
<script>

</script>